= form_for(@parada, url: @edit ? paradas_update_ubicacion_path : paradas_create_ubicacion_admin_path, html: {id: "ubicacion_parada_t_id_form", class: 'form-horizontal m-t-md'}) do |f|
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nueva Parada
        .ibox-content
          - if @parada.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                -#= pluralize(@servicio.errors.count, "Error.")
                No se puede guardar la Parada:
              %ul
                - @parada.errors.each do |name, message|
                  %li= message
          %br/
          .form-group
            = f.label :nombre, class: 'col-sm-2 control-label' do
              Nombre Parada:
              %span.fa.fa-asterisk.red
            .col-sm-4
              = f.text_field :nombre, {class:"form-control"}
            = f.label :coordenada_utm, class: 'col-sm-2 control-label' do
              Coordenada UTM:
            .col-sm-4
              = f.text_field :coordenada_utm, {class:"form-control"}
          .form-group
            = label :estado, :estado, class: 'col-sm-2 control-label' do
              Estado:
              %span.fa.fa-asterisk.red
            .col-sm-4
              = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
                {selected: params[:estado].nil? ? false : params[:estado], include_blank: "Seleccione un Estado"},
                { class: "form-control"}
          -#.form-group
          -#  = label :municipio, :id, class: 'col-sm-2 control-label' do
          -#    Municipio:
          -#    %span.fa.fa-asterisk.red
          -#  .col-sm-4
          -#    = collection_select :municipio_id, :nombre, Municipio.where(estado_id: params[:estado].nil? ? 1 : params[:estado].to_i).order(:nombre), :id, :nombre,
          -#      {selected: params[:municipio].nil? ? false : params[:municipio], include_blank: true},
          -#      { data: {dynamic_selectable_url: dynamic_select_parroquia_vs_path(':municipio_id'),
          -#      dynamic_selectable_target: '#el_id_admin_parada_form_post'}, class: "form-control"}
          -#.form-group
          -#  = f.label :ciudad_id, class: 'col-sm-2 control-label' do
          -#    Ciudad:
          -#    %span.fa.fa-asterisk.red
          -#  .col-sm-4
          -#    = f.select :ciudad_id, options_from_collection_for_select(Ciudad.where(estado_id: params[:estado].nil? ? 1 : params[:estado].to_i), :id, :nombre, selected: params[:ciudad].nil? ? false : params[:ciudad]),{include_blank: "Seleccione una Ciudad"}, {class: "form-control"}
          -#.form-group
          -#  = label :parroquia, :id, class: 'col-sm-2 control-label' do
          -#    Parroquia:
          -#    %span.fa.fa-asterisk.red
          -#  .col-sm-4
          -#    = f.select :parroquia_v_id,options_from_collection_for_select(ParroquiaV.where(municipio_id: params[:municipio].nil? ? 1 : params[:municipio]), :id, :nombre,
          -#      selected: params[:parroquia].nil? ? false : params[:parroquia]), {include_blank: true},
          -#      {class: "form-control", id: "el_id_admin_parada_form_post"}
          .form-group
            = f.label :avenida, class: 'col-sm-2 control-label' do
              Avenida:
              %span.fa.fa-asterisk.red
            .col-sm-4
              = f.text_field :avenida, {class:"form-control" }
            = f.label :calle, class: 'col-sm-2 control-label' do
              Calle:
              %span.fa.fa-asterisk.red
            .col-sm-4
              = f.text_field :calle, {class:"form-control" }
          .form-group
            = f.label :sector, class: 'col-sm-2 control-label' do
              Sector:
              %span.fa.fa-asterisk.red
            .col-sm-4
              = f.text_field :sector, {class:"form-control"}
          .form-group
            = f.label :tipo_parada, class: 'col-sm-2 control-label' do
              Tipo de parada:
            .col-sm-4
              - lista = Hash.new
              - Parada.tipo_paradas.each do |i, val| lista[val] = i end
              = f.select :tipo_parada, options_for_select(lista, selected: f.object.tipo_parada), {},{class:"form-control"}
              -#= hidden_field_tag :id_para_retornar, params[:id]
              = hidden_field_tag :create_t_f, nil

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Regresar', paradas_index_ubicacion_path, class: "btn btn-info"
            .col-sm-8
            .col-sm-2
              = f.submit 'Guardar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }