%tr
  %td
    .dropdown.profile-element
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %span.clear
          %span.block.m-t-xs
            %strong.font-bold Opciones
        %ul.dropdown-menu.animated.fadeInLeft.m-t-xs
          -#%li
          -#  = link_to 'Editar parada', paradas_edit_ubicacion_path(parada)
          %li
            = link_to 'Eliminar parada', paradas_destroy_ubicacion_path(parada), method: :delete, data: { confirm: 'Está seguro?' }
          %li.divider
  %td= parada.nombre
  %td= parada.coordenada_utm
