.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Ubicación de la parada
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li
      -#  Flota
      -#%li
      -#  Ruta
      -#%li
      -#  Paradas
      -#%li.text-navy
      -#  %b
      -#    Ubicación de la parada
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form_by_post'
