= form_for @paradas, url: paradas_new_by_post_ubicacion_path, method: :post, :html => {class: 'form-horizontal', role: 'form'} do |f|
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-12
      %h2
        Paradas
      %ol.breadcrumb
        = render_breadcrumbs :tag => :li
        -#%li
        -#  = link_to 'Inicio', root_url
        -#%li
        -#  = link_to 'Paradas', paradas_index_ubicacion_path


    = content_tag :div, class: 'panel-body' do
      = content_tag :div, id: 'alert_placeholder' do
        - if @paradas.errors.any?
          #error_explanation.alert.alert-warning.fade.in{:role => "alert"}
            %a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} ×
            %h4
              = pluralize(@paradas.errors.count, "error")
              , verifica las siguientes advertencias:
            %ul
              - @paradas.errors.full_messages.each do |message|
                %li= message

      .form-group
        = label :estado_id, :estado_id, class: 'col-sm-2 control-label' do
          Estado de ubicación:
          %span.fa.fa-asterisk.red
        .col-sm-4
          = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
            {selected: @paradas.parroquia_v.nil? ? false : @paradas.parroquia_v.municipio.estado.id, include_blank: true},
            { data: {dynamic_selectable_url: dynamic_select_ciudades_path(':estado_id'),
            dynamic_selectable_target: '#parada_municipio_id'}, class: "form-control"}
        = label :municipio, :id, class: 'col-sm-2 control-label' do
          Municipio:
          %span.fa.fa-asterisk.red
        .col-sm-4
          = collection_select :municipio_id, :nombre, Municipio.where(estado_id: params[:estado].nil? ? 1 : params[:estado].to_i).order(:nombre), :id, :nombre,
            {selected: params[:municipio].nil? ? false : params[:municipio], include_blank: true},
            { data: {dynamic_selectable_url: dynamic_select_parroquia_vs_path(':municipio_id'),
            dynamic_selectable_target: '#admin_parroquia_id'}, class: "form-control"}
      .form-group
        = label :parroquia, :id, class: 'col-sm-2 control-label' do
          Parroquia:
          %span.fa.fa-asterisk.red
        .col-sm-4
          = f.select :parroquia_v_id,options_from_collection_for_select(ParroquiaV.where(municipio_id: params[:municipio].nil? ? 1 : params[:municipio]), :id, :nombre,
            selected: params[:parroquia].nil? ? false : params[:parroquia]), {include_blank: true},
            {class: "form-control", id: "admin_parroquia_id"}

      %div{class: 'col-sm text-right'}
        =button_tag(class: 'btn btn-warning btn-sm', value: 'add', name: 'commit') do
          =content_tag(:span, '',class: 'fa fa-plus')
          ='Agregar'

.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-title
        %h3
          Lista de Paradas
      .ibox-content
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th Nombre Parada
              %th Estado
              %th Parroquia
              %th Coordenadas UTM
          %tbody
          - Parada.all.each do |p|
            %tr
              %td
                = p.nombre
              %td
                = p.parroquia_v.nil? ? "" : (p.parroquia_v.municipio.estado.nil? ? "" : p.parroquia_v.municipio.estado.nombre)
              %td
                = p.parroquia_v.nil? ? "": p.parroquia_v.nombre
              %th
                = p.coordenada_utm
