.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Paradas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  = link_to 'Inicio', root_url
      -#%li
      -#  = link_to 'Paradas', paradas_index_ubicacion_path
      -#%li
      -#  Nueva Parada

.wrapper.wrapper-content.animated.fadeInRight
  = render 'form_by_post'
