%div{class: 'panel panel-default'}
  %div{class: 'panel-heading'}
    %div{class: 'row'}
      %div{class: 'col-sm-12'}= 'Mostrar el Entregable de un Producto'

  %div{class: 'panel-body'}

    %fieldset
      %legend= 'Información básica del entregable'
      %div{class: 'col-sm-3 align-right'}= 'Nombre del componente:'
      %div{class: 'col-sm-9'}
        %div{class: 'content-text'}= @entregable.producto.componente.nombre

      %div{class: 'col-sm-3 align-right'}= 'Nombre del producto:'
      %div{class: 'col-sm-9'}
        %div{class: 'content-text'}= @entregable.producto.nombre

      %div{class: 'col-sm-3 align-right'}= 'Nombre del entregable:'
      %div{class: 'col-sm-9'}
        %div{class: 'content-text'}= @entregable.nombre

      %div{class: 'col-sm-3 align-right'}= 'Descripción del entregable:'
      %div{class: 'col-sm-9'}
        %div{class: 'content-text'}= @entregable.descripcion

    %br
    %fieldset
      %legend= 'Responsable del entregable'
      %div{class: 'col-sm-3 align-right'}= 'Responsable:'
      %div{class: 'col-sm-9'}
        %div{class: 'content-text'}= @entregable.responsable

    %br
    %fieldset
      %legend= 'Fecha estimada y real de entrega del entregable'
      %div{class: 'row'}
        %div{class: 'col-sm-6'}
          %div{class: 'col-sm-6 align-right'}= 'Fecha estimada de entrega:'
          %div{class: 'col-sm-6'}
            %div{class: 'content-text'}= @entregable.fechaEstimadaEntrega

        %div{class: 'col-sm-6'}
          %div{class: 'col-sm-6 align-right'}= 'Fecha real de entrega:'
          %div{class: 'col-sm-6'}
            %div{class: 'content-text'}= @entregable.fechaEntrega

    %br
    %div{class: 'row'}
      %div{class: 'col-sm-7'}
        %fieldset
          %legend= 'Comunicación utilizada para su entrega'
          %div{class: 'col-sm-4 align-right'}= 'Comunicación empleada:'
          %div{class: 'col-sm-8'}
            %div{class: 'content-text'}= @entregable.comunicacion

      %div{class: 'col-sm-5'}
        %fieldset
          %legend= 'Costo estimado del entregable'
          %div{class: 'col-sm-6 align-right'}= 'Costo estimado del entregable:'
          %div{class: 'col-sm-6'}
            %div{class: 'content-text'}= number_with_precision(@entregable.costoEstimado, locale: :es, delimiter: '.')

  %footer.panel-footer.text-right.bg-light.lter
    =link_to edit_entregable_path(@entregable), class: "btn btn-success btn-sm" do
      %span{class: 'fa fa-pencil'}
      ='Editar'
    = link_to 'Retornar', entregables_path, class: "btn btn-default"


-#%p#notice= notice
-#
-#%p
-#  %b Costoestimado:
-#  = @entregable.costoEstimado
-#%p
-#  %b Comunicacion:
-#  = @entregable.comunicacion
-#%p
-#  %b Producto:
-#  = @entregable.producto
-#
-#= link_to 'Edit', edit_entregable_path(@entregable)
-#\|
-#= link_to 'Back', entregables_path
