= form_for(toque, url: url_ruta, html: {id: "toque_t_id_form", class: 'form-horizontal m-t-md', :multipart => true, remote: true}) do |f|
  .row.text-info
    Debe iniciar la seleccion de izquierda a derecha
    %i.fa.fa-arrow-right
  .row
    .col-md-3
      .form-group
        .row
          .col-md-12
            = f.label :tipo_parada, class: 'control-label' do
              Tipo:
              %span.fa.fa-asterisk.red
        .row
          .col-md-10
            = f.select :tipo_parada, options_for_select(['Destino','Intermedio'], selected: params[:tipo_parada].nil? ? f.object.tipo_parada_val : params[:tipo_parada]), {include_blank: "Seleccione..."}, {class: 'form-control text-select'}
    .col-md-3
      .form-group
        .row
          .col-md-12
            = f.label :tipo, class: 'control-label' do
              Terminal:
              %span.fa.fa-asterisk.red
        .row
          .col-md-10
            = f.select :tipo, Parada.tipo_paradas.keys.map {|t| [t.titleize,t]}, {include_blank: "Seleccione..."   }, {class: 'form-control text-select'}

    .col-md-3
      .form-group
        .row
          .col-md-12
            = label :estado, :estado, class: 'control-label' do
              Estado:
              %span.fa.fa-asterisk.red
        .row
          .col-md-10
            - sele = f.object.new_record? ? '' : f.object.parada.estado.id.to_i  # f.object.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id.to_i
            = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
                      {selected: sele, include_blank: "Seleccione un Estado"},
                      { id: 'toque-estado-id', class: 'form-control text-select'}
    .col-md-3
      .form-group
        .row
          .col-md-12
            = f.label :parada_id, class: 'control-label' do
              Parada:
              %span.fa.fa-asterisk.red
        .row
          .col-md-10
            = f.select :parada_id, options_from_collection_for_select(f.object.new_record? ? [] : paradas_lista(f.object.parada.estado.id.to_i,Parada.tipo_paradas[f.object.tipo]), :id, :nombre, selected: f.object.parada.nil? ? '' : f.object.parada.id),{include_blank: "Seleccione una Parada"}, {id: 'parada-toque-id', class: 'form-control text-select'}
      #carga-estado
  .row
    .col-md-12
  .row
    .col-sm-3.col-sm-offset-9
      = f.button type: 'submit',class: 'btn btn-success btn-block', id: 'boton-toque-submit', data: { disable_with: "..." } do
        %i.fa.fa-plus
        Agregar Toque
  = hidden_field_tag :ruta_origen_id, f.object.ruta.id, id: 'ruta-origen-id'
%script{:src => "/js/plugins/bootstrapValidator/bootstrapValidator.js" }
:javascript
  jQuery(document).ready(function($) {
    $('#toque_t_id_form').bootstrapValidator({
      feedbackIcons: {
        valid: 'fa fa-check',
        invalid: 'fa fa-times',
        validating: 'fa fa-refresh'
      },
      live: 'enabled',
      fields: {
        'toque[tipo_parada]': {
          validators: {
            notEmpty: {
              message: 'Es necesario seleccionar tipo de parada'
            }
          }
        },
        'toque[tipo]': {
          validators: {
            notEmpty: {
              message: 'Es necesario seleccionar tipo del terminal'
            }
          }
        },
        'toque[nombre]': {
          validators: {
            notEmpty: {
              message: 'Es necesario seleccionar el estado'
            }
          }
        },
        'toque[parada_id]': {
          validators: {
            notEmpty: {
              message: 'Es necesario seleccionar un terminal'
            }
          }
        }
      }
    });
    $('form[data-remote="true"]')
    .on('ajax:before', function(e) {
        var bv = $(e.target).data('bootstrapValidator');
        return (typeof bv == 'undefined') || bv.isValid();
    }).on('success.form.bv error.form.bv', function(e) {
        e.preventDefault();
    });
  });