#paradaModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        -#%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        -#  %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title Agregar Zona de Parada
      .modal-body
        = form_for(@parada, url: paradas_toque_guardar_parada_path, html: {id: "ubicacion_parada_t_id_form", class: 'form-horizontal m-t-md'}, remote: true) do |f|
          = csrf_meta_tag
          .row
            - if @parada.errors.any?
              .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
                %h3
                  -#= pluralize(@servicio.errors.count, "Error.")
                  No se puede guardar la Parada:
                %ul
                  - @parada.errors.each do |name, message|
                    %li= message
            %br/
            = hidden_field_tag :ruta_id, @ruta.id
          -#- if @ruta.flota.servicio_operadora_c.sub_urb_colectivo? || @ruta.flota.servicio_operadora_c.sub_urb_p_puesto?
          -#  = f.hidden_field :estado_id
          -#-else
          .form-group
            = label :estado, :estado, class: 'col-md-3 control-label' do
              Estado:
              %span.fa.fa-asterisk.red
            .col-md-6
              = collection_select  :parada, :estado_id, Estado.order(:nombre), :id, :nombre,
                {selected: f.object.estado_id, include_blank: "Seleccione un Estado"},
                { class: "form-control", id: 'estado-toque-parada-id'}
          .form-group
            = label :municipio, :id, class: 'col-md-3 control-label' do
              Municipio:
              %span.fa.fa-asterisk.red
            .col-md-6
              = collection_select :municipio_id, :nombre, Municipio.where(estado_id: f.object.estado_id.nil? ? nil : f.object.estado_id).order(:nombre), :id, :nombre,
                {selected: f.object.parroquia_v.nil? ? 0 : f.object.parroquia_v.municipio.id, include_blank: "Seleccione un Municipio"},
                { class: "form-control", id: 'municipio-toque-parada-id'}
            .col-md-2#carga-municipio-toque-parada
          .form-group
            = f.label :ciudad_id, class: 'col-md-3 control-label' do
              Ciudad:
              %span.fa.fa-asterisk.red
            .col-md-6
              = f.select :ciudad_id, options_from_collection_for_select(Ciudad.where(estado_id: f.object.estado_id.nil? ? nil : f.object.estado_id), :id, :nombre, selected: f.object.ciudad_id.nil? ? nil : f.object.ciudad.id),{include_blank: "Seleccione una Ciudad"}, {class: "form-control", id: 'ciudad-toque-parada-id'}
            .col-md-2#carga-ciudad-toque-parada
          .form-group
            = label :parroquia, :id, class: 'col-md-3 control-label' do
              Parroquia:
              %span.fa.fa-asterisk.red
            .col-md-6
              = f.select :parroquia_v_id,options_from_collection_for_select(ParroquiaV.where(municipio_id: (f.object.parroquia_v_id.nil? || f.object.parroquia_v_id == 0) ? 0 : f.object.parroquia_v.municipio.id), :id, :nombre, selected: f.object.parroquia_v_id), {include_blank: "Seleccione una Parroquia"},
                {class: "form-control", id: 'parroquia-toque-parada-id'}
            .col-md-2#carga-parroquia-toque-parada
          = f.hidden_field :tipo_parada
          .form-group
            = label :nombre, :id, class: 'col-md-3 control-label' do
              Nombre:
              %span.fa.fa-asterisk.red
            .col-md-6
              = f.text_field :nombre, class: 'form-control'
          .row
            %hr
            .col-md-3.col-md-offset-1
              %button.btn.btn-warning{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                -#%span{"aria-hidden" => "true"} ×
                Cerrar
            .col-md-3.col-md-offset-5
              = f.submit 'Guardar', class: 'btn btn-success'