%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
        Tipo de Parada
      %th
        Tipo de Terminal
      %th
        Estado
      %th
        Nombre de la parada
      %th
        Opciones
  %tbody{id: 'table-body-toque'}
    - toques.order('created_at DESC').each do |toque|
      = render 'paradas/toques_dinamico/parciales/tr_toque', t: toque

