%td
  = t.tipo_parada.humanize.capitalize rescue ''
%td
  = t.parada.tipo_parada.humanize.capitalize rescue ''
%td
  = t.parada.ciudad.estado.nombre rescue ''
%td
  = t.parada.nombre rescue ''
%td
  - unless t.tipo_parada == 'origen'
    = link_to paradas_editar_path(id_toque: t.id), remote: true do
      %i.fa.fa-edit
      Editar
    = link_to paradas_eliminar_path(id_toque: t.id), data: { confirm: '¿Seguro de elimar la parada en la ruta?' }, remote: true do
      %i.fa.fa-trash
      Eliminar