<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-0">
      <div class="ibox float-e-margins">
        <div class="ibox-content" >
          <h2>
            Cambio de Contraseña
          </h2>
          <hr />
          <%= form_for(@session_user, :url => { :action => 'update_password' } ) do |f| %>
              <%=render 'shared/error_messages', object: f.object, model: 'Contraseña'%>
              <div class="form-group">
                <div class="col-lg-5" >
                  <i class="fa fa-key"></i>
                  <%= f.label "Contraseña:", class: 'control-label' %><br />
                </div>
                <div class="col-lg-5" >
                   <%= f.password_field :password, :autocomplete => "off",  class: 'form-control'  %><br />
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-5" >
                  <i class="fa fa-key"></i>
                  <%= f.label "Confirmar contraseña:",  class: 'control-label' %><br />
                </div>
                <div class="col-lg-5" >
                     <%= f.password_field :password_confirmation,  class: 'form-control'  %><br />
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-5 col-lg-offset-5" >
                    <div class="action_container">
                      <%= f.submit "Cambio de Contraseña", class: "btn btn-success btn-block" %>
                    </div>
                </div>
              </div>
              <br /><br /><br /><br /><br /><br /><br />
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
