.row
  .col-md-12.col-md-offset-0
    %ul.text-muted.leyenda
      %li.text-justify
        Si desea agregar un nuevo toque a la ruta presione
        %span.amarillo
          Agregar Nuevo Toque
      %li.text-justify
        Si desea modificar la ruta oprima
        %span.rojo
          Eliminar las Paradas.
      %li.text-justify
        Si no posee ruta o finalizó el ingreso de la ruta presione
        %span.azul-oscuro
          Guardar y Continuar
      %li.text-justify
        Si desea regresar a la pantalla anterior oprima
        %span.azul-claro
          Regresar
= form_for(@toque, url: @edit ? paradas_update_path(id: params[:id]) : paradas_create_path(id: params[:id]), html: {id: "toque_t_id_form", class: 'form-horizontal m-t-md', :multipart => true}) do |f|
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            = "Nueva Parada para la ruta numero: " + @toque.ruta.num_ruta.to_s
        .ibox-content
          - if @toque.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                -#= pluralize(@servicio.errors.count, "Error.")
                No se puede guardar la Parada:
              %ul
                - @toque.errors.each do |name, message|
                  %li= message
          %br/
          .form-group
            = f.label :prev, class: 'col-sm-2 control-label' do
              Parada Anterior:
              %span.fa.fa-asterisk.red
            .col-sm-10
              -#= f.select :prev, options_from_collection_for_select(@toque.ruta.toques.where(next_id: nil).joins(:parada), :id, :nombre),{include_blank: "Esta ruta aun no posee una parada inicial"}, {class:"form-control"}
              = text_field_tag :prev_visualisador, @toque.ruta.toques.where(next_id: nil).last.nil? ? "Esta ruta aun no posee una parada inicial" : @toque.ruta.toques.where(next_id: nil).last.parada.nombre, class:"form-control"
              = f.hidden_field :prev, value: @toque.ruta.toques.where(next_id: nil).nil? ? "" : @toque.ruta.toques.where(next_id: nil).last.id
              = hidden_field_tag :id_to_cookie, params[:id]
              = hidden_field_tag :create_band, false
          .form-group
            = f.label :tipo_parada, class: 'col-sm-2 control-label' do
              Tipo de Parada:
              %span.fa.fa-asterisk.red
            .col-sm-10
              = f.select :tipo_parada, options_for_select(['Destino','Intermedio'], selected: params[:tipo_parada].nil? ? f.object.tipo_parada_val : params[:tipo_parada]),{include_blank: true},{class:"form-control" }
          .form-group
            = f.label :tipo, class: 'col-sm-2 control-label' do
              Tipo de Terminal:
              %span.fa.fa-asterisk.red
            .col-sm-10
              %label{class: 'checkbox-inline'}
                = f.radio_button :tipo, 'terminal_publico', checked: true
                Terminal Publico
              %label{class: 'checkbox-inline'}
                = f.radio_button :tipo, 'terminal_privado'
                Terminal Privado
              %label{class: 'checkbox-inline'}
                = f.radio_button :tipo, 'zona'
                Zona o Parada Terminal
          #select-estado-parada
            .form-group#estado-toque
              -#{style: "#{(f.object.ruta.flota.servicio_operadora_c.sub_urb_colectivo? || f.object.ruta.flota.servicio_operadora_c.sub_urb_p_puesto?) ? 'display:none;' : ''}"}
              = label :estado, :estado, class: 'col-sm-2 control-label' do 
                Estado:
                %span.fa.fa-asterisk.red
              .col-sm-4
                = hidden_field_tag :toque_modalidad, @toque.ruta.flota.servicio_operadora_c.modalidad_servicio, id: 'toque-modalidad'
                = hidden_field_tag :ruta_origen_id, f.object.ruta.id, id: 'ruta-origen-id'
                - sele = f.object.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id.to_i
                = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
                  {selected: sele, include_blank: "Seleccione un Estado"},
                  { class: "form-control", id: 'toque-estado-id'}
            .form-group
              = f.label :parada_id, class: 'col-sm-2 control-label' do
                Parada:
                %span.fa.fa-asterisk.red
              .col-sm-8
                -#= f.object.tipo
                -#= Parada.tipo_paradas['terminal_publico']
                -#= f.object.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id.to_i
                -#= paradas_lista(f.object.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id.to_i,Parada.tipo_paradas['terminal_publico']).inspect
                = f.select :parada_id, options_from_collection_for_select(f.object.new_record? ? paradas_lista(f.object.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id.to_i,Parada.tipo_paradas['terminal_publico']) : [], :id, :nombre, selected: f.object.parada.nil? ? "": f.object.parada.id),{include_blank: "Seleccione una Parada"}, {class:"form-control", id: 'parada-toque-id'}
              .col-md-2#carga-parada-toque
            #modal-nueva-parada
            .row#boton-nueva-parada
              .form-group
                .col-md-8.col-md-offset-2
                  %p.text-danger
                    Si no encuentra la ubicación de la parada que deseea, puede agregar una nueva ubicación. ¿Desea Crear una nueva ubicación?
                .col-md-2
                  = link_to 'Agregar Parada', paradas_toque_nueva_parada_path(estado_id: @toque.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id), remote: true, class: 'btn btn-success', id: 'link-nueva-ruta'
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              -#= link_to 'Regresar', ruta_flota_edit_path(id: params[:id]), class: "btn btn-info"
              = link_to 'Regresar', paradas_index_path(id: params[:id]), class: "btn btn-info"
            .col-sm-3.col-sm-offset-7
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }