<% if @parada.errors.count == 0 %>
    $('#paradaModal').modal('hide');
    $('#parada-toque-id').append(new Option("<%= @parada.nombre %>","<%= @parada.id %>")).val("<%= @parada.id %>");
    $('#toque-estado-id').val("<%= @parada.estado_id %>")
    $('#toque_t_id_form').data('bootstrapValidator').validate();
<% else %>
    $('#paradaModal').modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();

    $('#modal-nueva-parada').html('');
    $('#modal-nueva-parada').appendTo($('body')).html("<%= j (render 'paradas/toques/modal_nueva_parada') %>").slideDown(350);
    $('#paradaModal').modal('show');

<% end %>

$('#ubicacion_parada_t_id_form').bootstrapValidator({
    feedbackIcons: {
        valid: 'fa fa-check',
        invalid: 'fa fa-times',
        validating: 'fa fa-refresh'
    },
    live: 'enabled',
    fields: {
        'estado_id[nombre]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el estado de la parada.'
                }
            }
        },
        'municipio_id[nombre]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el municipio de la parada.'
                }
            }
        },
        'parada[ciudad_id]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar la ciudad de la parada.'
                }
            }
        },
        'parada[parroquia_v_id]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar la parroquia de la parada.'
                }
            }
        },
        'parada[tipo_parada]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el tipo de la parada.'
                }
            }
        },
        'parada[nombre]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el nombre de la parada.'
                }
            }
        }
    }
});