
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Toques/Paradas de la Ruta
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.row
  .col-md-12.col-md-offset-0
    %br/
    %ul.text-muted.leyenda
      %li.text-justify
        Si desea agregar una nueva parada o toque de la ruta presione
        %span.amarillo
          Agregar Nuevo Toque
      %li.text-justify
        Si desea modificar la ruta oprima
        %span.rojo
          Eliminar las Paradas.
      %li.text-justify
        Si no posee ruta o finalizó el ingreso de nuevas paradas o toque presione
        %span.azul-oscuro
          Continuar
      %li.text-justify
        Si desea regresar al pantalla anterior oprima
        %span.azul-claro
          Regresar
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        - if @toques.empty?
          .ibox-content.text-center
            %h3.font-bold No posee Paradas para esta ruta
            .error-desc
              Si no tiene ninguna parada registrada, puede crear una parada.
            %br/
            = link_to 'Agregar Nueva Parada', paradas_new_path(id: params[:id]), class: 'btn btn-warning'
        - else
          .ibox-content
            .col-lg-10
              %h2
                - if @toques.last.ruta.flota.servicio_operadora_c.int_urb_p_puesto? || @toques.last.ruta.flota.servicio_operadora_c.int_urb_colectivo? || @toques.last.ruta.flota.servicio_operadora_c.sub_urb_colectivo? || @toques.last.ruta.flota.servicio_operadora_c.sub_urb_p_puesto?
                  = "Toques guardados para la ruta " + @toques.last.ruta.num_ruta.to_s
                - else
                  = "Parada de la ruta " + @toques.last.ruta.num_ruta.to_s
            .col-lg-2
              - if @toques.count != 1
                = link_to 'Eliminar las Paradas', paradas_destroy_path(id: @toques.last.id), class: "btn rojo"
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Tipo de Parada
                  %th
                    Nombre de la parada
              %tbody
              - @toques.order(:created_at).each do |toque|
                %tr
                  %td
                    = toque.tipo_parada
                  %td
                    = toque.parada.nombre
            - if @toques.where(tipo_parada: "Destino").any?
              %p.text-muted.small
                La ruta ya posee un destino por lo que no puede agregar más paradas.
        - if @toques.last.ruta.flota.servicio_operadora_c.int_urb_p_puesto? || @toques.last.ruta.flota.servicio_operadora_c.int_urb_colectivo? || @toques.last.ruta.flota.servicio_operadora_c.sub_urb_colectivo? || @toques.last.ruta.flota.servicio_operadora_c.sub_urb_p_puesto? || @toques.last.ruta.flota.servicio_operadora_c.periferico_i? || @toques.last.ruta.flota.servicio_operadora_c.periferico_s?
          - unless @toques.where(tipo_parada: "Destino").any?
            .row
              .col-md-12
                .ibox.float-e-margins
                  .ibox-content.text-center
                    %h3.text-navy
                    = link_to 'Agregar Nuevo Toque', paradas_new_path(id: params[:id]), class: 'btn btn-warning'
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Regresar', ruta_flota_edit_path(id: params[:id]), class: 'btn btn-info'
            .col-sm-8
            .col-sm-2
              = link_to 'Continuar', paradas_verificar_cierre_toque_path(id: params[:id]), class: 'btn btn-success', remote: true