.row
  .col-md-12.col-md-offset-0
    %ul.text-muted.leyenda
      %li.text-justify
        Seleccione día del horario, el tipo de horario y la hora
      %li.text-justify
        Presione
        %span.azul-oscuro
          Guardar
        para registrar el horario
      %li.text-justify
        Si desea regresar a la pantalla anterior y no registrar el horario oprima
        %span.azul-claro
          Cancelar
= form_for(@hora, url: @edit ? horario_d_update_path : horario_d_create_path, html: {id: "horarios_t_id_form", class: 'form-horizontal m-t-md', :multipart => true}) do |f|
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nuevo Horario
        .ibox-content
          - if @hora.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                -#= pluralize(@servicio.errors.count, "Error.")
                No se puede guardar el horario:
              %ul
                - @hora.errors.each do |name, message|
                  %li= message
          %br/
          .row
            .col-lg-12
              = f.label :dia, class: 'col-sm-2 control-label' do
                Dia:
                %span.fa.fa-asterisk.red
              .col-sm-4
                = f.select :dia, options_for_select(['Todos los Dias','Fines de Semana','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo'], selected: @hora.dia),{include_blank: true},{class:"form-control" }
                %br/
              = f.label :tipo, class: 'col-sm-2 control-label' do
                Tipo de horario:
                %span.fa.fa-asterisk.red
              .col-sm-4
                .col-sm-6
                  = f.radio_button :ida,  false, checked: true
                  = f.label :ida
                .col-sm-6
                  = f.radio_button :ida, true
                  = f.label :regreso
          .row
            .col-lg-12
              = f.label :hora, class: 'col-sm-2 control-label' do
                Hora:
                %span.fa.fa-asterisk.red
              .col-sm-10
                = f.time_select :hora, {start_hour: 01, end_hour: 23, ampm: true, :minute_step => 5}
              = f.hidden_field :ruta_id

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to horario_d_index_path(id: params[:id]), class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Cancelar
            .col-sm-6
            .col-sm-3
              = f.submit 'Guardar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }