.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = "Horarios de la ruta"
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li
      -#  Flota
      -#%li
      -#  Ruta
      -#%li
      -#  Horarios
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      - if @horarios.empty?
        .ibox-content.text-center
          %h3.font-bold No posee Horarios registrados
          .error-desc
            No posee horarios registrados para esta ruta, puedes crear horas de salida o llegada nuevas.
      - else
        .ibox-content
          %h3
            Horarios de salida
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Dia
                %th
                  Hora
                %th
            %tbody
              - @horarios.where(ida: false).each do |h|
                %tr
                  %td
                    = h.dia
                  %td
                    = h.hora.strftime('%I:%M %p')
          %h3
            Horarios de llegada
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Dia
                %th
                  Hora
                %th
            %tbody
              - @horarios.where(ida: true).each do |h|
                %tr
                  %td
                    = h.dia
                  %td
                    = h.hora.strftime('%I:%M %p')
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-6
            .col-sm-4
              %i.fa.fa-cube
              Mostrar histórico de solicitudes aprobadas:
            .col-sm-2
              = link_to historico_show_path(id: @ruta.id, retorna: params[:retorna]), {class: 'btn'} do
                %i.fa.fa-search
                Mostrar Histórico
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              - if params[:retorna] == "true"
                = link_to 'Regresar', ruta_flota_show_path(id: params[:id]), class: "btn btn-info"
              - else
                = link_to 'Regresar', paradas_show_path(id: params[:id]), class: "btn btn-info"
            .col-sm-8
            .col-sm-2
              = link_to root_path, {class: 'btn'} do
                %i.fa.fa-home
                Inicio