.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = "Horarios de la ruta"
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li
      -#  Flota
      -#%li
      -#  Ruta
      -#%li
      -#  Horarios
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12.col-md-offset-0
      %ul.text-muted.leyenda
        %br/
        %li.text-justify
          Si la ruta posee algún horario o desea agregar una nueva hora presione
          %span.amarillo
            Agregar Nuevo Horario
        %li.text-justify
          Si no tiene horario o desea finalizar el registro de horario, presione
          %span.azul-oscuro
            Continuar
  .row
    .col-md-12
      - if @horarios.empty?
        .ibox-content.text-center
          %h3.font-bold No posee Horarios registrados
          .error-desc
            No posee horarios registrados para esta ruta, puedes crear horas de ida o regreso nuevas.
          %br/
          = link_to 'Agregar Nuevo Horario', horario_d_new_path(id: params[:id]), class: 'btn btn-warning'
      - else
        .ibox-content
          %h3
            Horarios de Ida
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Dia
                %th
                  Hora
                %th
                  Opciones
            %tbody
              - @horarios.where(ida: false).each do |h|
                %tr
                  %td
                    = Horario.dia[h.dia]
                  %td
                    = h.hora.strftime('%I:%M %p')
                  %td
                    = link_to horario_d_destroy_path(id: h.id, id_return: params[:id]), method: :delete do
                      %i.fa.fa-trash-o
                      Eliminar
          %h3
            Horarios de Regreso
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Dia
                %th
                  Hora
                %th
                  Opciones
            %tbody
              - @horarios.where(ida: true).each do |h|
                %tr
                  %td
                    = Horario.dia[h.dia]
                  %td
                    = h.hora.strftime('%I:%M %p')
                  %td
                    = link_to  horario_d_destroy_path(id: h.id, id_return: params[:id]), method: :delete do
                      %i.fa.fa-trash-o
                      Eliminar
          .row
            .col-md-12
              .ibox.float-e-margins
                .ibox-content
                  .row
                    .col-sm-4
                    .col-sm-4
                      = link_to 'Agregar Horario', horario_d_new_path(id: params[:id]), class: 'btn btn-warning'
                    .col-sm-4
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to paradas_index_path(id: params[:id]), class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-6
            .col-sm-3
              = link_to 'Continuar', historico_index_path(id: params[:id],id_servicio: @ruta.flota.servicio_operadora_c.id, id_from: 'ruta'), class: 'btn btn-success btn-block'