.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = "Horarios de la ruta"
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li
      -#  Flota
      -#%li
      -#  Ruta
      -#%li
      -#  Horarios
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
