.panel.panel-default
  .panel-body
    %h4 Usuarios Registrados
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form form-signup", role: "form"}) do |f|
      .form-group
        .input-group
          .input-group-addon.input_gris
            %i.fa.fa-user.icon-color
          = f.text_field :email, :class=>"form-control", :placeholder=>"Email", :required =>'required', autofocus: true
      .form-group
        .input-group
          .input-group-addon.input_gris
            %i.fa.fa-lock.icon-color
          = f.password_field :password, :class=>"form-control", :placeholder=>"Contraseña", :required =>'required', autocomplete: "off"
      .form-group
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          = f.label :remember_me, 'Mantener Conectado'

      .row
        .col-md-6
          = f.submit "Entrar", class: 'btn btn-success btn-block'
        .col-md-6
          - if devise_mapping.registerable? && controller_name != 'registrations'
            = link_to "Registrarse!", registro_path,  "data-no-turbolink" => true
      .row
        .col-md-12
          %br/
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "¿Olvido su contraseña?", recuperar_contrasena_path
      .row
        .col-md-12
          - if devise_mapping.confirmable? && controller_name != 'confirmations'
            = link_to "¿No recibió el correo de confirmación?", new_confirmation_path(resource_name)
            %br/
