.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-10
    %h2
      Inicio
    %ol.breadcrumb
      %li.text-navy
        %b
          Inicio
      %li
- if !@incompleto
  .wrapper.wrapper-content.animated.fadeInUp
    .row
      .col-md-12
        .ibox.float-e-margins
          .ibox-content
            %div.text-center
              %h3
                %b
                  ¡ATENCIÓN!...
              %h4
                POSEE SERVICIOS EN LOS QUE AUN NO HA COMPLETADO EL REGISTRO.
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info.darked
                  %th
                    Operadora
                  %th
                    Modalidad del Servicio
                  %th
                    Código ROTP
                  %th
                    Estatus
                  %th
                    Acciones
              %tbody
                - @operadoras.each do |operadora|
                  - operadora.servicio_operadora_cs.each do |servicio|
                    - unless servicio.completado
                      %tr
                        %td.text-left
                          = operadora.razon_social
                        %td.text-left
                          = servicio.modalidad_servicio.nombre
                        %td.text-left
                          = servicio.codigo_rotp
                        %td.text-left.text-danger
                          Sin Completar Registro
                          %i.fa.fa-times
                        %td.text-left
                          = link_to  servicio_edit_path(servicio) do
                            Continuar Registro de Servicio
                            %i.fa.fa-car
            %p.text-muted
              *Recuerde que para completar la carga de la data, debe guardar: Rutas, Flota, Vehículos, Seguro,
              Toques o Paradas, Horario(si aplica) e Histórico de Solicitudes Aprobadas
- if current_session_user.usuario.operadora_transporte_ps.joins(:servicio_operadora_cs).where(servicio_operadora_cs: { completado: true }).any?
  .wrapper.wrapper-content.animated.fadeInRight
    - if @operadoras.any?
      - @operadoras.each do |op|
        - if op.servicio_operadora_cs.any?
          .row
            .col-md-12
              .ibox.float-e-margins
                .ibox-title
                  %h3
                    Lista de Modalidades de Servicio - Operadora
                    %b
                      = op.razon_social
                .ibox-content

                  -#= link_to servicio_new_path(id: op.id), class: 'btn' do
                    %i.fa.fa-plus
                    Nueva Modalidad para operadora
                    = op.razon_social
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead
                      %tr
                        %th.text-center
                          Código ROTP
                        %th.text-center
                          Modalidad del Servicio
                        %th.text-center
                          Estatus
                        -#%th.text-center
                          Opción
                    %tbody
                      - op.servicio_operadora_cs.each do |servicio|
                        %tr
                          %td.text-center
                            = servicio.codigo_rotp
                          %td.text-center
                            = servicio.modalidad_servicio_val
                          - if servicio.completado
                            %td.text-center.text-primary
                              Registro Completo
                              %i.fa.fa-check
                          - else
                            %td.text-center.text-danger
                              Registro Incompleto
                              %i.fa.fa-times
                          -#%td.text-center
                            = link_to servicio_show_consulta_path(servicio,tipo: params[:tipo]),{"data-no-turbolink" => "", title: 'Consultar', rel: 'tooltip'} do
                              %i.fa.fa-search
                            &nbsp;
                            &nbsp;
                            - if servicio.completado
                              = link_to servicio_edit_path(servicio,tipo: params[:tipo]),{"data-no-turbolink" => "", title: 'Editar', rel: 'tooltip'} do
                                %i.fa.fa-edit
                                Editar
                            - else
                              = link_to  servicio_edit_path(servicio), {"data-no-turbolink" => "", title: 'Continuar Registro', rel: 'tooltip'} do
                                %i.fa.fa-car
                                Continuar Registro

    - else
      .row
        .col-md-12
          .ibox.float-e-margins
            .ibox-content.text-center
              %h3
                No posee operadoras de transporte registradas.
              %br
              = link_to operadora_new_path, class: 'btn btn-success' do
                %i.fa.fa-plus
                Agregar Nueva Operadora de Transporte de Personas



  -#.row
  -#  .col-md-12
  -#    .ibox.float-e-margins
  -#      .ibox-title
  -#        %h3
  -#          Modalidades de Servicio Registradas
  -#      .ibox-content
  -#        .table-responsive
  -#          %table.table-striped.table-bordered.table-condensed.table
  -#            %thead
  -#              %tr.info.darked
  -#                %th
  -#                  Operadora
  -#                %th
  -#                  Modalidad del Servicio
  -#                %th
  -#                  Código ROTP
  -#                %th
  -#                  Estatus
  -#                %th
  -#                  Acciones
  -#            %tbody
  -#              - current_session_user.usuario.operadora_transporte_ps.each do |operadora|
  -#                - operadora.servicio_operadora_cs.each do |servicio|
  -#                  - if servicio.completado
  -#                    %tr
  -#                      %td.text-left
  -#                        = operadora.razon_social
  -#                      %td.text-left
  -#                        = servicio.modalidad_servicio.nombre
  -#                      %td.text-left
  -#                        = servicio.codigo_rotp
  -#                      %td.text-primary
  -#                        Registro Completo
  -#                        %i.fa.fa-check
  -#                      %td.text-left
  -#                        = link_to  servicio_edit_path(servicio) do
  -#                          %i.fa.fa-edit
  -#                          Editar



.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content.text-center
        .row
          .col-lg-12
            = image_tag 'bienvenidos_usuarios.png'
