.row.border-bottom.white-bg.dashboard-header
  .col-lg-10.col-lg-offset-1
    .row
      .col-md-8
        #myCarousel.carousel.slide
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          / Wrapper for slides
          .carousel-inner
            #slide1.item.active
              .carousel-caption
            / end carousel-caption
            / end item
            #slide2.item
              .carousel-caption
            / end carousel-caption
            / end item
            #slide3.item
              .carousel-caption
          / end carousel-caption
          / end item
          / carousel-inner
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
            %span.icon-prev
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
            %span.icon-next
      / end myCarousel
      / end col-md-8
      / login
      .col-md-4
        = render 'form'
.row.graylight-bg
  .col-lg-12
    .wrapper
      -#.row
      -#  .col-lg-10.col-lg-offset-1
      -#    .row
      -#      .col-lg-4
      -#        .well.well-lg.c1
      -#          .row
      -#            .col-sm-4
      -#              = link_to root_url, class: 'link_index' do
      -#                = image_tag 'medico.png', class: 'btn_img'
      -#            .col-md-8
      -#              %br/
      -#              = link_to 'Buscador de Médicos/Psicólogos', root_url, class: 'link_index'
      -#      .col-lg-4
      -#        .well.well-lg.c2
      -#          .row
      -#            .col-sm-4
      -#              = link_to root_url, class: 'link_index' do
      -#                = image_tag 'centro_de_salud.png', class: 'btn_img'
      -#            .col-md-8
      -#              %br/
      -#              = link_to 'Buscador de Centro de Salud', root_url, class: 'link_index'
      -#      .col-lg-4
      -#        .well.well-lg.c3
      -#          .row
      -#            .col-sm-4
      -#              = link_to root_url, class: 'link_index' do
      -#                = image_tag 'centro_de_examenes.png', class: 'btn_img'
      -#            .col-md-8
      -#              %br/
      -#              = link_to 'Buscador de Exámenes', root_url, class: 'link_index'
      .row
        .col-lg-10.col-lg-offset-1

          .row
            .col-lg-4
              .well.well-lg.c4
                .row
                  .col-sm-4
                    = link_to root_url, class: 'link_index' do
                      = image_tag 'transporte.png', class: 'btn_img'
                  .col-md-8
                    %br/
                    = link_to 'Requisitos', root_url, class: 'link_index'
            / end well c4
            .col-lg-4
              .well.well-lg.c5
                .row
                  .col-sm-4
                    = link_to root_url, class: 'link_index' do
                      = image_tag 'servicios.png', class: 'btn_img'
                  .col-md-8
                    %br/
                    = link_to 'Servicios', root_url, class: 'link_index'
            / end well c5
            .col-lg-4
              .well.well-lg.c6
                .row
                  .col-sm-4
                    = link_to root_url, class: 'link_index' do
                      = image_tag 'noticias.png', class: 'btn_img'
                  .col-md-8
                    %br/
                    = link_to 'Noticias', root_url, class: 'link_index'

-#%footer
-#  #footer
-#    .row.graydark-bg
-#      .col-lg-12
-#        .row
-#          .col-md-1
-#          .col-md-2.verticaline
-#            %ul.nav.nav-pills.nav-stacked
-#              %li.titulo_footer Nuestra Institución
-#              %li.link_footer
-#                %a{:href => "#"} Nuestros Clientes
-#              %li.link_footer
-#                %a{:href => "#"} Acerca de la Institución
-#              %li.link_footer
-#                %a{:href => "#"}
-#              %li.link_footer
-#                %a{:href => "#"}
-#              %li.link_footer
-#                %a{:href => "#"}
-#          .col-md-2.verticaline
-#            %ul.nav.nav-pills.nav-stacked
-#              %li.titulo_footer Directorio
-#              %li.link_footer= link_to 'Médicos', root_url
-#              %li.link_footer= link_to 'Centro de Salud', root_url
-#              %li.link_footer= link_to 'Centro de Exámenes', root_url
-#          .col-md-2.verticaline
-#            %ul.nav.nav-pills.nav-stacked
-#              %li.titulo_footer Promociones
-#              %li.link_footer
-#                %a{:href => "#"} Medicamentos
-#              %li.link_footer
-#                %a{:href => "#"} Exámenes
-#              %li.link_footer
-#                %a{:href => "#"}
-#              %li.link_footer
-#                %a{:href => "#"}
-#              %li.link_footer
-#                %a{:href => "#"}
-#                %br/
-#          .col-md-2.verticaline
-#            %ul.nav.nav-pills.nav-stacked
-#              %li.titulo_footer Actualidad
-#              %li.link_footer
-#                %a{:href => "#"} Eventos
-#              %li.link_footer
-#                %a{:href => "#"} Noticias
-#              %li.link_footer
-#                %a{:href => "#"}
-#              %li.link_footer
-#                %a{:href => "#"}
-#              %li.link_footer
-#                %a{:href => "#"}
-#                %br/
-#          .col-md-2
-#            %ul.nav.nav-pills.nav-stacked
-#              %li.titulo_footer Contacto
-#              %li.link_footer
-#                %a{:href => "#"} ¿Quiénes Somos?
-#              %li.link_footer
-#                %a{:href => "#"} Contáctanos
-#              %li.link_footer
-#                %a{:href => "#"} Danos tu Opinión
-#              %li.link_footer
-#                %a{:href => "#"} Preguntas Frecuentes
-#                %br/
-#              %li.link_footer
-#                %a{:href => "#"}
-#                %br/
-#          .col-md-1
