  <div class="row gray-bg dashboard-header">
    <div class="col-lg-9 col-lg-offset-3">
      <div class="text-center animated fadeInDown loginscreen register-size">
        <div >
          <h1 class="logo-name">
            SIGETT
          </h1>
          <h2>
            Correo de Confirmación
          </h2>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <div class="col-lg-5" >
                    <%= f.label "Correo electrónico:" %><br />
                </div>
                <div class="col-lg-5">
                    <%= f.email_field :email, autofocus: true %>
                </div>
              </div>
              <br />
              <br />
              <div class="form-group">
                <div class="col-lg-5 col-lg-offset-5" >
                    <%= f.submit "Confirmación de Contraseña", class: "btn btn-success" %>
                <br />
              </div>
                </div>
                <br />
              <br />
            <% end %>

            <% render "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>
<br />
<br /> <br />