= form_for(@aseguradora, url: @edit ? asegurador_update_path : asegurador_create_path, html: {id: "aseguradora_t_id_form", class: 'form-horizontal m-t-md'}) do |f|
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nueva Aseguradora
        .ibox-content
          %br
          .form-group
            = f.label :nombre, class: 'col-sm-4 control-label' do
              Nombre Aseguradora
              %span.fa.fa-asterisk.red
            .col-sm-8
              = f.text_field :nombre, {class:"form-control" }
          .form-group
            = f.label :rif, class: 'col-sm-4 control-label' do
              RIF
              %span.fa.fa-asterisk.red
            .col-sm-8
              = f.text_field :rif, {class:"form-control" }

        .row
          .col-md-12
            .ibox.float-e-margins
              .ibox-content
                .row
                  .col-sm-10
                  .col-sm-2
                    - if @edit
                      = f.submit 'Guardar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }
                    - else
                      = f.submit 'Agregar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Aseguradoras
        .ibox-content

          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Nombre Aseguradora
                %th
            %tbody
            - @aseguradoras.each do |aseguradora|
              %tr
                %td
                  = aseguradora.nombre
                %td
                  .dropdown.profile-element
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %span.clear
                        %span.block.m-t-xs
                          %strong.font-bold Opciones
                      %ul.dropdown-menu.animated.fadeInLeft.m-t-xs
                        %li
                          = link_to 'Editar Aseguradora', asegurador_edit_path(aseguradora)
                        %li
                          = link_to 'Eliminar Aseguradora', asegurador_destroy_path(aseguradora), method: :delete, data: { confirm: 'Está seguro?' }
                        %li.divider
