.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Aseguradoras
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Aseguradora', asegurador_index_path
      %li
        Editando Aseguradora

.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Volver', asegurador_index_path, class: "btn btn-info"