- if @estadistica == ""
  .row
    .col-sm-12
      .wapper.wrapper-content.animated.fadeInDown
        .ibox
          .alert.alert-danger
            .ibox-content.text-center
              %h2
                %i.fa.fa-exclamation-triangle.yellow-warning
                %b
                  ¡ATENCIÓN!...
              %h3
                No posee Estadisticas para mostrar.
              %h4
                Esto se debe a que no existen datos consistentes que permitan un cálculo.
              %p.text-muted
                *Si usted cree que la operación que realiza debería arrojar estadísticas,
                comuníquese con los técnicos encargados del sistema.
- else
  - if @estadistica == "false"
    .row
      .col-sm-12
        .wapper.wrapper-content.animated.fadeInDown
          .ibox
            .alert.alert-danger
              .ibox-content.text-center
                %h2
                  %i.fa.fa-exclamation-triangle.yellow-warning
                  %b
                    ¡ATENCIÓN!...
                %h3
                  Ocurrio un error interno en el cálculo.
                  %i.fa.fa-wrench
                %h4
                  Esto puede deberse a algun bug de codificación o problemas con el contenido de la base de datos.
                %p.text-muted
                  *Comuníquese con los técnicos encargados del sistema.
  - else
    - if @estadistica.nil?
      .row
        .col-sm-12
          .wapper.wrapper-content.animated.fadeInDown
            .ibox
              .alert.alert-danger
                .ibox-content.text-center
                  %h2
                    %i.fa.fa-chain-broken.yellow-warning
                    %b
                      UPS... ¡Un Error!...
                  %h3
                    Ocurrio un error interno del sistema.
                    %i.fa.fa-wrench
                  %h4
                    Esto puede deberse a algun bug de codificación o problemas con el contenido de la base de datos.
                  %p.text-muted
                    *Comuníquese con los técnicos encargados del sistema.
