.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Otros
      %li.text-navy
        %b
          Operadora con igual parada
.wrapper.wrapper-content.animated.fadeInRight
  - if @registros.empty?
    .row
    .col-sm-12
      .wapper.wrapper-content.animated.fadeInDown
        .ibox
          .alert.alert-danger
            .ibox-content.text-center
              %h2
                %i.fa.fa-exclamation-triangle.yellow-warning
                %b
                  ¡ATENCIÓN!...
              %h3
                No posee Estadisticas para mostrar.
              %h4
                Esto se debe a que no existen datos consistentes que permitan un cálculo.
              %p.text-muted
                *Si usted cree que la operación que realiza debería arrojar estadísticas,
                comuníquese con los técnicos encargados del sistema.
  - else
    .col-sm-6.col-md-offset-3
      %table.table.table-striped.table-bordered.table-condensed
        %tbody
          - @registros.each do |row|
            %tr
              %td
                = row['servicio'].to_s.upcase
              %td
                = row['total']
  %br/
  .row
    .col-sm-4.col-sm-offset-4
      = form_for(:value, url: index_op_igual_parada_path, html: { class: 'form-horizontal m-t-md', id: 'form-vencimiento-mes-flota'}) do |f|
        .row
          = f.hidden_field :estado,value: @parametros[:estado]
          = f.hidden_field :tipo_parada,value: @parametros[:tipo_parada]
          = f.hidden_field :parada,value: @parametros[:parada]
          .col-sm-12
            .form-group
              .col-sm-4.col-md-offset-4
                = f.submit 'Listar Operadoras', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }
  %br/
  .row
    .col-sm-4
      = link_to "Regresar", estadistica_module_form_igual_parada_path, class: 'btn btn-info'
    .col-sm-4
