.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Otros
      %li.text-navy
        %b
          Operadora con igual parada


.wrapper.wrapper-content.animated.fadeInRight
  = form_for(:value, url: estadistica_module_estadistica_igual_parada_path, html: { class: 'form-horizontal m-t-md', id: 'estadistica-igual-parada'}) do |f|
    .ibox-content
      .row
        .col-sm-12
          .form-group
            = label :estado, :estado, class: 'col-sm-4 control-label' do
              Estado de Ubicación para calcular las estadisticas:
              %span.fa.fa-asterisk.red
            .col-sm-8
              = collection_select  :value, :id, Estado.order(:nombre), :id, :nombre,
                {selected: false, include_blank: "Seleccione un Estado"},
                { class: "form-control", id: "estado_igual_parada"}
      .row
        .col-sm-12
          .form-group
            = label :tipo_parada, :tipo_parada, class: 'col-sm-4 control-label' do
              Tipo de Parada:
              %span.fa.fa-asterisk.red
            .col-sm-8
              - lista = Hash.new
              - Parada.tipo_paradas.each do |i, val| lista[val] = val end
              = f.select :tipo_parada, options_for_select(lista),
                {include_blank: true},
                {class:"form-control",id: "tipo_parada_igual" }
      .row
        .col-sm-12
          .form-group
            = label :paradas,:paradas, class: 'col-sm-4 control-label' do
              Paradas:
              %span.fa.fa-asterisk.red
            .col-sm-8
              = select_tag :parada_igual,'',class: 'form-control'
      .row
        .col-md-12
          .ibox.float-e-margins
            .ibox-content
              .row
                .col-sm-4
                .col-sm-4
                  = f.submit 'Calcular Estadísticas', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }