.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadisticas de operadoras por modalidad de servicio
      %li.text-navy
        %b
          Todos los Estados


.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox.float-e-margins
      .ibox-title
        %h5
          Estadisticas de servicios de operadora por estado
          %small Estadistica numérica
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content
        .row
          .col-sm-12
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Estado
                  - ServicioOperadoraC.modalidad_servicios.each do |mo, val|
                    %th
                      = val
              %tbody
                - @estadistica.each_with_index do |stat, index|
                  %tr
                    %td
                      = @total[1][index]
                    - if stat.nil?
                      - (1..ServicioOperadoraC.modalidad_servicios.count).each do |a|
                        %td
                          %p
                            = "-"
                    - else
                      - stat.each do |s|
                        %td
                          = s
              %tfoot{style: "border: solid #1f90d8"}
                %tr
                  %td
                    %b.text-navy
                      TOTAL
                  - @total[0].each_with_index  do |a, index|
                    %td
                      = a
                      %div.data-to-get{id: "#{index}", "data-value-g" => "#{a}"}
    -#.row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            %h5
              %b
                Total *
              %small EstadisticasSql, grafico
            .ibox-tools
              %a.collapse-link
                %i.fa.fa-chevron-up
              -#%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              -#  %i.fa.fa-wrench
              -#%ul.dropdown-menu.dropdown-user
              -#  %li
              -#    %a{:href => "#"} Config option 1
              -#  %li
              -#    %a{:href => "#"} Config option 2
              -#%a.close-link
              -#  %i.fa.fa-times
          .ibox-content
            .flot-chart
              #flot-bar-chart.flot-chart-content

  .ibox-content
    .row
      .col-sm-4
        = link_to "Regresar", root_path, class: 'btn btn-info'
      .col-sm-4

