.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de operadoras por modalidad de servicio
      %li.text-navy
        %b
          Por Municipios
.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox-content
      .row
        .col-sm-12
          %h3
            Estadísticas para el Estado:
            %b
              = @total[3]
          %br/
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Municipios
                - ServicioOperadoraC.modalidad_servicios.each do |mo, val|
                  %th
                    = val
            %tbody
              - @estadistica.each_with_index do |stat, index|
                %tr
                  %td
                    = @total[1][index]
                  - if stat.nil?
                    - (1..ServicioOperadoraC.modalidad_servicios.count).each do |a|
                      %td
                        %p
                          = "-"
                  - else
                    - stat.each do |s|
                      %td
                        = s
            %tfoot{style: "border: solid #1f90d8"}
              %tr
                %td
                  %b.text-navy
                    TOTAL
                - @total[0].each do |a|
                  %td
                    = a
  %br/
  .row
    .col-sm-4
      = link_to "Regresar", estadistica_module_selector_ano_modalidad_path, class: 'btn btn-info'
    .col-sm-4
  %br/