.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de operadoras por modalidad de servicio
      %li.text-navy
        %b
          Por Tipo de Unidad Vehicular

.wrapper.wrapper-content.animated.fadeInRight{style: "padding: 20px 10px 0px"}
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox.float-e-margins
      .ibox-title
        %h5
          Menu de Seleccion para Listar las Operadoras por Tipo de Unidad Vehicular
          %small Lista
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-down
      = form_for(:value, url: index_tipo_unidad_path, html: { class: 'form-horizontal m-t-md'}) do |f|
        .ibox-content{style: "display: none;"}
          .row
            .col-sm-12
              .form-group
                = hidden_field_tag 'estado', @total[1]
                = f.label :modalidad_servicio, class: 'col-sm-4 control-label' do
                  Modalidad del Servicio:
                  %span.fa.fa-asterisk.red
                .col-md-8
                  - lista1 = Hash.new
                  - Vehiculo.tipo_unidads.each do |index, valor| lista1[valor] = index end
                  = f.select :tipo_unidad, options_for_select(lista1),{},{class:"form-control" }
              .form-group
                = f.label :modalidad_servicio, class: 'col-sm-4 control-label' do
                  Modalidad del Servicio:
                  %span.fa.fa-asterisk.red
                .col-md-8
                  - lista2 = Hash.new
                  - ServicioOperadoraC.modalidad_servicios.each do |i, val| lista2[val] = i end
                  = f.select :modalidad_servicio, options_for_select(lista2),{},{class:"form-control" }
              .form-group
                .col-sm-4
                .col-sm-4
                  = f.submit 'Listar', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }

.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox-content
      .row
        .col-sm-12
          %h3
            Estadísticas para el Estado:
            %b
              = @total[1]
            %small Estadistica numérica
          %br/
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Tipo de Unidad
                - ServicioOperadoraC.modalidad_servicios.each do |mo, val|
                  %th
                    = val
            %tbody
              - @estadistica.each_with_index do |est, ind|
                %tr
                  %td
                    = @tipo[ind]
                  - est.each do |dato|
                    %td
                      = dato
    %br/
    .row
      .col-sm-4
        = link_to "Regresar", estadistica_module_selector_estados_tipo_path, class: 'btn btn-info'
      .col-sm-4
    %br/
  - else
    .row
      .col-lg-12
        .col-sm-4
          = link_to "Regresar", estadistica_module_selector_estados_tipo_path, class: 'btn btn-info'
        .col-sm-4
        %br/