.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadisticas de operadoras por modalidad de servicio
      %li.text-navy
        %b
          Por Cupo Autorizado y Vehicular


.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox-content
      .row.small
        .col-sm-12
          Leyenda:
          %ul
            %li
              %i.fa.fa-circle-o
              Número de cupos asignados a la Flota
            %li
              %i.fa.fa-car
              Cantidad de vehículos de la flota
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th{style: "border-right: solid #CCCFD1"}
                  Estados
                - ServicioOperadoraC.modalidad_servicios.each do |mo, val|
                  %th{colspan: 2, style: "border-right: solid #CCCFD1"}
                    = val
              %tr
                %th{style: "border-right: solid #CCCFD1"}
                - ServicioOperadoraC.modalidad_servicios.each do |mo, val|
                  %th
                    %i.fa.fa-circle-o
                  %th{style: "border-right: solid #CCCFD1"}
                    %i.fa.fa-car
            %tbody
              - @estadistica.each_with_index do |stat, index|
                %tr
                  %td{style: "border-right: solid #CCCFD1"}
                    = @total[1][index]
                  - if stat.nil?
                    - (1..ServicioOperadoraC.modalidad_servicios.count).each do |a|
                      %td
                        %p
                          = "-"
                      %td{style: "border-right: solid #CCCFD1"}
                        %p
                          = "-"
                  - else
                    - stat.each do |s|
                      %td
                        = s.nil? ? "-" : s[0]
                      %td{style: "border-right: solid #CCCFD1"}
                        = s.nil? ? "-" : s[1]
            %tfoot{style: "border: solid #1f90d8"}
              %tr
                %td
                  %b.text-navy
                    TOTAL
                - @total[0].each do |a|
                  %td
                    = a.nil? ? "0" : a[0]
                  %td{style: "border-right: solid #CCCFD1"}
                    = a.nil? ? "0" : a[1]
  -#.ibox-content
  -#  .row
  -#    .col-sm-4
  -#      = link_to "Regresar", root_path, class: 'btn btn-info'
  -#    .col-sm-4