.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de Histórico de Solicitudes
      %li.text-navy
        %b
          Por Estatus de Histórico


.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox-content
      .row
        .col-sm-12
          %h3
            Estadísticas de Número de Trámites Realizados:
            %b
              = @total[1]
          %br/
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Tipo de Solicitud
                - HistoricoSolicitudesAprob.estatus_historicos.each do |mo, val|
                  %th
                    = val
            %tbody
              - @estadistica.each_with_index do |est, ind|
                %tr
                  %td
                    = @certificacion[ind]
                  - est.each do |dato|
                    %td
                      = dato
    %br/
    .row
      .col-sm-4
        = link_to "Regresar", estadistica_module_selector_meses_historicos_path, class: 'btn btn-info'
      .col-sm-4
    %br/
  - else
    .row
      .col-lg-12
        .col-sm-4
          = link_to "Regresar", estadistica_module_selector_meses_historicos_path, class: 'btn btn-info'
      .col-sm-4
      %br/