.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de Flotas proximas a vencer
      %li.text-navy
        %b
          Todos los Estados
.wrapper.wrapper-content.animated.fadeInRight{style: "padding: 20px 10px 0px"}
  .ibox.float-e-margins
    .ibox-title
      %h5
        Menu de seleccion para listar las Operadoras
        %small Lista
      .ibox-tools
        %a.collapse-link
          %i.fa.fa-chevron-down
    = form_for(:value, url: index_op_fl_vencer_path, html: { class: 'form-horizontal m-t-md', id: 'form-vencimiento-mes-flota'}) do |f|
      .ibox-content{style: "display: none;"}
        .row
          .col-sm-12
            .form-group
              = label :estado, :estado, class: 'col-sm-4 control-label' do
                Estado de Ubicación para calcular las estadisticas:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select  :value, :estado, Estado.order(:nombre), :id, :nombre,
                  {selected: false},
                  { class: "form-control", id: "estado_to_stad"}
            .form-group
              = f.label :cantidad_meses, class: 'col-sm-4 control-label' do
                Cantidad de meses:
                %span.fa.fa-asterisk.red
              .col-md-8
                = f.select :meses, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12]),{},{class: "form-control"}
            .form-group
              .col-sm-4.col-md-offset-4
                = f.submit 'Listar', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }

.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox-content
      %h3
        Estadisticas para:
        %b
          = " de #{@total[1][0]}" + " a " + "#{@total[1][(@total[1].length - 1)]}"
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Estado
                - @total[1].each do |val|
                  %th
                    = val
            %tbody
              - @estadistica.each_with_index do |stat, index|
                %tr
                  %td
                    = @total[2][index]
                  - if stat.nil?
                    - (1..@total[1].length).each do |a|
                      %td
                        %p
                          = "-"
                  - else
                    - stat.each do |s|
                      %td
                        = s
            %tfoot{style: "border: solid #1f90d8"}
              %tr
                %td
                  %b.text-navy
                    TOTAL
                - @total[0].each do |a|
                  %td
                    = a
  .ibox-content
    .row
      .col-sm-4
        = link_to "Regresar", estadistica_module_selector_proximas_vencer_flota_path, class: 'btn btn-info'
      .col-sm-4