.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de Histórico de Solicitudes
      %li.text-navy
        %b
          Por Estatus de Histórico


.wrapper.wrapper-content.animated.fadeInRight
  - if @error
    .ibox-content
      .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
        %h3
          Error de búsqueda para el cálculo de estadísticas
        %ul
          %li
            No puede realizarce la búsqueda si no ha seleccionado un año
      %br/
  = form_for(:value, url: estadistica_module_tramites_historicos_path, html: { class: 'form-horizontal m-t-md'}) do |f|
    .ibox-content
      .row
        .col-sm-12
          .form-group
            .col-sm-4.control-label
              = label_tag :meses do
                Mes:
                %span.fa.fa-asterisk.red
            .col-sm-4
              = select_month(Date.today, options = {}, html_options = {class: 'form-control'})
              -#select_month(Date.today, options = {use_two_digit_numbers: true}, html_options = {class: 'form-control'})
      .row
        .col-md-12
          .ibox.float-e-margins
            .ibox-content
              .row
                .col-sm-4
                .col-sm-4
                  = f.submit 'Calcular Estadísticas', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }