.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de operadoras por modalidad de servicio
      %li.text-navy
        %b
          Por Parroquias


.wrapper.wrapper-content.animated.fadeInRight
  - if @error
    .ibox-content
      .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
        %h3
          Error de búsqueda para el cálculo de estadísticas
        %ul
          %li
            No puede realizarse la búsqueda si no ha seleccionado un estado y un municipio
      %br/
  = form_for(:value, url: estadistica_module_vistas_parroquias_path, html: { class: 'form-horizontal m-t-md'}) do |f|
    .ibox-content
      .row
        .col-sm-12
          .form-group
            = label :estado, :estado, class: 'col-sm-4 control-label' do
              Estado de Ubicación:
              %span.fa.fa-asterisk.red
            .col-sm-8
              = collection_select :estado_id, :id, Estado.order(:nombre), :id, :nombre,
                {selected: false, include_blank: "Seleccione un Estado"},
                { class: "form-control", id: "estado_to_stad"}
        .col-sm-12
          .form-group
            = label :estado, :estado, class: 'col-sm-4 control-label' do
              Municipio de Ubicación para calcular las estadísticas:
              %span.fa.fa-asterisk.red
            .col-sm-8
              = select(:municipio_id, :id, '', {include_blank: "Seleccione un Municipio"}, {class: "form-control", id: "municipio"})
      .row
        .col-md-12
          .ibox.float-e-margins
            .ibox-content
              .row
                .col-sm-4
                .col-sm-4
                  = f.submit 'Calcular Estadísticas', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }