.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de vencimiento CPS en el año
      %li.text-navy
        %b
          Todos los Estados


.wrapper.wrapper-content.animated.fadeInRight
  - if @error
    .ibox-content
      .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
        %h3
          Error de búsqueda para el cálculo de estadísticas
        %ul
          %li
            No puede realizarce la búsqueda si no ha seleccionado un año
      %br/
  = form_for(:value, url: estadistica_module_proximas_vencer_flota_path, html: { class: 'form-horizontal m-t-md'}) do |f|
    .ibox-content
      .row
        .col-sm-12
          .form-group
            = label :estado, :estado, class: 'col-sm-4 control-label' do
              Cantidad de meses a desplegar:
              %span.fa.fa-asterisk.red
            .col-sm-8
              = select_tag :meses, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12]), {class: "form-control"}
      .row
        .col-md-12
          .ibox.float-e-margins
            .ibox-content
              .row
                .col-sm-4
                .col-sm-4
                  = f.submit 'Calcular Estadísticas', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }