.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de vencimiento de Flota en el año
      %li.text-navy
        %b
          Todos los Estados
.wrapper.wrapper-content.animated.fadeInRight
  - if @error
    .ibox-content
      .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
        %h3
          Error de búsqueda para el cálculo de estadísticas
        %ul
          %li
            No puede realizarce la búsqueda si no ha seleccionado un año
      %br/
  = form_for(:value, url: estadistica_module_vencimiento_flota_path, html: { class: 'form-horizontal m-t-md'}) do |f|
    .ibox-content
      .row
        .col-sm-12
          .form-group
            = label :estado, :estado, class: 'col-sm-4 control-label' do
              Año de Vencimiento de la Flota para calcular:
              %span.fa.fa-asterisk.red
            .col-sm-8
              = select_year(Date.today, {start_year: Date.today.year.to_i - 60, end_year: Date.today.year.to_i + 10}, {class: "form-control"})
      .row
        .col-md-12
          .ibox.float-e-margins
            .ibox-content
              .row
                .col-sm-4
                .col-sm-4
                  = f.submit 'Calcular Estadísticas', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }