.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadisticas de operadoras por modalidad de servicio
      %li.text-navy
        %b
          Todos los Estados

.wrapper.wrapper-content.animated.fadeInRight{style: "padding: 20px 10px 0px"}
  .ibox.float-e-margins
    .ibox-title
      %h5
        Menu de seleccion para listar las Operadoras
        %small Lista
      .ibox-tools
        %a.collapse-link
          %i.fa.fa-chevron-down
    = form_for(:value, url: index_est_mod_path, html: { class: 'form-horizontal m-t-md'}) do |f|
      .ibox-content{style: "display: none;"}
        .row
          .col-sm-12
            .form-group
              = label :estado, :estado, class: 'col-sm-4 control-label' do
                Estado de Ubicación para calcular las estadisticas:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select  :estado_id, :id, Estado.order(:nombre), :id, :nombre,
                  {selected: false},
                  { class: "form-control", id: "estado_to_stad"}
            .form-group
              = f.label :modalidad_servicio, class: 'col-sm-4 control-label' do
                Modalidad del Servicio:
                %span.fa.fa-asterisk.red
              .col-md-8
                - lista = Hash.new
                - ServicioOperadoraC.modalidad_servicios.each do |i, val| lista[val] = i end
                = f.select :modalidad_servicio, options_for_select(lista),{},{class:"form-control" }
            .form-group
              .col-sm-4
              .col-sm-4
                = f.submit 'Listar', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      %h5
        Estadisticas de servicios de operadora por estado
        %small Estadistica numérica
      .ibox-tools
        %a.collapse-link
          %i.fa.fa-chevron-up
    .ibox-content
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Estados
                  - @modalidad.each do |val|
                    %th
                      = val
            %tbody
              - @estadisticas.each_with_index do |est, ind|
                %tr
                  %td
                    = @estados[ind]
                  - est.each do |dato|
                    %td
                      = dato
            %tfoot{style: "border: solid #1f90d8"}
              %tr
                %td
                  %b.text-navy
                    TOTAL
                - @totales.each_with_index  do |a, index|
                  %td
                    = a
                    %div.data-to-get{id: "#{index}", "data-value-g" => "#{a}"}