.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Estadísticas de Operadoras por Modalidad de Servicio
      %li.text-navy
        %b
          Por Parroquias

.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @estadistica.blank? || @estadistica == "false" || @estadistica.nil?
    .ibox-content
      .row
        .col-sm-12
          %h3
            Estadísticas para el Estado:
            %b
              = @municipio
            %small Estadistica numérica
          %br/
      .row
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Parroquias
                - @modalidad.each do |val|
                  %th
                    = val
            %tbody
              - @estadistica.each_with_index do |est, ind|
                %tr
                  %td
                    = @parroquias[ind]
                  - est.each do |dato|
                    %td
                      = dato
            %tfoot{style: "border: solid #1f90d8"}
              %tr
                %td
                  %b.text-navy
                    TOTAL
                - @totales.each_with_index  do |a, index|
                  %td
                    = a
                    %div.data-to-get{id: "#{index}", "data-value-g" => "#{a}"}
    %br/
    .row
      .col-sm-4
        = link_to "Regresar", estadistica_module_selector_parroquias_path, class: 'btn btn-info'
      .col-sm-4
    %br/
  - else
    .row
      .col-lg-12
        .col-sm-4
          = link_to "Regresar", estadistica_module_selector_parroquias_path, class: 'btn btn-info'
        .col-sm-4
        %br/