.row
  .col-md-12.col-md-offset-0
    %ul.text-muted.leyenda
      %li.text-justify
        Debe tener el documento digital del rif de la operadora
      %li.text-justify
        Los datos con
        %span.fa.fa-asterisk.red
        son obligatorios.
        Los datos con
        %span.fa.fa-asterisk.verde
        indican que se debe ingresar al menos uno de esos datos
      %li.text-justify
        Si desea guardar los datos del registro de la OTP oprima
        %span.azul-oscuro Guardar y Continuar
      %li.text-justify
        Si desea volver al inicio oprima
        %span.azul-claro
          Regresar
= form_for(@operadora_transporte_p, url: @edit ? operadora_update_path : operadora_create_path, html: {id: "operadora_t_id_form", class: 'form-horizontal m-t-md', :multipart => true}) do |f|
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nueva Operadora
        .ibox-content
          - if @operadora_transporte_p.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                -#= pluralize(@servicio.errors.count, "Error.")
                No se puede guardar la Operadora de transporte de personas:
              %ul
                - @operadora_transporte_p.errors.each do |name, message|
                  %li= message
          %br/
          .row.col-sm-12
            .form-group
              = f.label :sociedad_mercantil, class: 'col-sm-2 control-label' do
                Sociedad Mercantil:
                %span.fa.fa-asterisk.red
              .col-sm-4
                = f.select( :sociedad_mercantil_id, SociedadMercantil.all.collect {|s| [ s.codigo, s.id ] }, {prompt: 'Seleccione Sociedad Mercantil'}, {class: 'form-control'})
            .form-group#sociedad{style: 'display:none'}
              = f.label :sociedad_mercantil_otros, class: 'col-sm-2 control-label' do
                Indique:
                %span.fa.fa-asterisk.red
              .col-sm-4
                = f.text_field :sociedad_mercantil_otros, maxlength: 60, class:"form-control"
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :razon_social, class: 'col-sm-4 control-label' do
                Razón Social:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.text_field :razon_social, {class:"form-control" ,  maxlenght: 60}
            .form-group.col-sm-6
              = f.label :rif, class: 'col-sm-4 control-label' do
                Rif:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.text_field :rif, {class:"form-control" }
                %p.text-muted
                  Si la/el CI/RIF es menor a nueve (9) dígitos complete con ceros (0) a la izquierda. Ej: V-156897789
          .row.col-sm-12
            .form-group
              = f.label :rif_imagen, id: 'rif_imagen', class: 'col-sm-2 control-label' do
                Rif:
                %span.fa.fa-asterisk.red
              .col-sm-10
                = render 'session_users/shared/subir_rif', f: f
          .row.col-sm-12
            .form-group
              = f.label :documento_acreditacion,
                class: 'col-sm-2 control-label text left' do
                Acta Constitutiva:
                %span.fa.fa-asterisk.red
              .col-sm-10
                =render 'session_users/shared/subir_documento', f: f
              .row.col-sm-12
            .form-group
              = f.label :acta_socios,
                class: 'col-sm-2 control-label text-left' do
                Última Acta de la Asamblea de Socios:
                %span.fa.fa-asterisk.red
              .col-sm-10
                =render 'session_users/shared/subir_acta_socios', f: f
            .form-group
              .col-sm-2
              .col-sm-10
                %span.text-info
                  Sólo para cooperativas la certificación de cumplimiento.
            .form-group
              = f.label :documento_cooperativa,
                class: 'col-sm-2 control-label text left' do
                Certificación de Cumplimiento de la Cooperativa:
              .col-sm-10
                =render 'session_users/shared/subir_cooperativa', f: f
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :email, class: 'col-sm-4 control-label' do
                Email:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.text_field :email, {class:"form-control" ,  maxlenght: 50}
            .form-group.col-sm-6
              = f.label :telefono, class: 'col-sm-4 control-label' do
                Teléfono Fijo:
              .col-sm-8
                = f.text_field :telefono, {class:"form-control"}
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :fax, class: 'col-sm-4 control-label' do
                Fax:
              .col-sm-8
                = f.text_field :fax, {class:"form-control" }
            .form-group.col-sm-6
              = f.label :movil , class: 'col-sm-4 control-label' do
                Teléfono Móvil:
                %span.fa.fa-asterisk.red
              .col-sm-8
                .col-sm-6{style:'margin-left:-5px; width: 54%px !important; font-size: 10px !important;'}
                  = select_tag :operadora_movil ,
                  options_for_select(@lista_operadoras,
                  @operadora_movil_value ),
                  class: 'form-control '
                .col-sm-6
                  = f.text_field :movil ,
                  :class => 'form-control',
                  :required => 'required'
          %hr/
          .row.col-sm-12
            .form-group.col-sm-6
              = label :estado, :estado, class: 'col-sm-4 control-label' do
                Estado de Ubicación:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
                  {selected: f.object.parroquia_v.nil? ? false : f.object.parroquia_v.municipio.estado_id, include_blank: "Seleccione un Estado"},
                  { class: "form-control", id: 'estado_id_operadora'}
            .form-group.col-sm-6
              = label :municipio_id, :municipio, class: 'col-sm-4 control-label' do
                Municipio:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select  :municipio_id, :nombre, Municipio.where(estado_id: f.object.parroquia_v.nil? ? 0 : f.object.parroquia_v.municipio.estado.id), :id, :nombre,
                  {selected: f.object.parroquia_v.nil? ? 0 : f.object.parroquia_v.municipio.id, include_blank: "Seleccione un Municipio"},
                  { data: {dynamic_selectable_url: dynamic_select_parroquia_vs_path(':municipio_id'),
                  dynamic_selectable_target: '#operadora_transporte_p_parroquia_v_id'}, class: "form-control"}
          .row.col-sm-12
            .form-group.col-sm-6
              = f.label :ciudad_id, class: 'col-sm-4 control-label' do
                Ciudad:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.select :ciudad_id, options_from_collection_for_select(Ciudad.where(estado_id: f.object.parroquia_v.nil? ? 0 : f.object.parroquia_v.municipio.estado_id), :id, :nombre, selected: f.object.ciudad_id),{include_blank: "Seleccione una Ciudad"}, {class: "form-control"}
            .form-group.col-sm-6
              = f.label :parroquia_v_id, class: 'col-sm-4 control-label' do
                Parroquia:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.select :parroquia_v_id, options_from_collection_for_select(ParroquiaV.where(municipio_id: (f.object.parroquia_v_id.nil? || f.object.parroquia_v_id == 0) ? 0 : f.object.parroquia_v.municipio.id), :id, :nombre, selected: f.object.parroquia_v_id),{include_blank: "Seleccione una Parroquia"}, {class: "form-control"}
            .form-group
              .group
                = f.label :avenida, class: 'col-sm-2 control-label' do
                  Avenida:
                  %span.fa.fa-asterisk.verde
                .col-sm-2
                  = f.text_field :avenida, {class:"form-control col-sm-2", maxlenght: 60 }
              .group
                = f.label :calle, class: 'col-sm-2 control-label' do
                  Calle:
                  %span.fa.fa-asterisk.verde
                .col-sm-2
                  = f.text_field :calle, {class:"form-control", maxlenght: 60 }
              .group
                = f.label :urbanizacion, class: 'col-sm-2 control-label' do
                  Sector/Urbanización:
                  %span.fa.fa-asterisk.verde
                .col-sm-2
                  = f.text_field :urbanizacion, {class:"form-control", maxlenght: 60 }
          %br/
          .row.col-sm-12
            .form-group
              .group
                = f.label :edificio_cc, class: 'col-sm-2 control-label' do
                  Casa/Edificio:
                .col-sm-2
                  = f.text_field :edificio_cc, {class:"form-control" , maxlenght: 60}
              .group
                = f.label :local, class: 'col-sm-2 control-label' do
                  Local/N°:
                .col-sm-2
                  = f.text_field :local, {class:"form-control" }
              .group
                = f.label :piso, class: 'col-sm-2 control-label' do
                  Piso:
                .col-sm-2
                  = f.text_field :piso, {class:"form-control", maxlenght: 10 }
            .form-group
              = f.label :observacion, class: 'col-sm-2 control-label' do
                Observación:
              .col-sm-10
                = f.text_field :observacion, {class:"form-control" , maxlenght: 60}

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to operadora_index_path, class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-6
            .col-sm-3
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }
