#showPdfModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "showPdfModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Visor de Documentos
      .modal-body
        %object{:data => "", :height => "850", :type => "application/pdf", :width => "100%"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar