-#.row.wrapper.border-bottom.white-bg.page-heading
-#  .col-lg-10
-#    %h2
-#      Operadora de Transporte de Personas
-#    %ol.breadcrumb
-#      = render_breadcrumbs :tag => :li
-#      -#%li
-#      -#  Inicio
-#      -#%li
-#      -#  Operadora
-#
-#.wrapper.wrapper-content.animated.fadeInRight
-#  .row
-#    .col-md-12
-#      .ibox.float-e-margins
-#        - if @operadora_transporte_ps.empty?
-#          .ibox-content.text-center
-#            %h3.font-bold No posee Operadoras registradas
-#            .error-desc
-#              No tienes ninguna operadora registrada, puedes crear una operadora.
-#            %br/
-#            = link_to 'Agregar Nueva Operadora de Transporte de Persona', operadora_new_path, class: 'btn btn-warning'
-#        - else
-#          .ibox-content
-#            = link_to operadora_new_path, class: 'btn btn-success' do
-#              %i.fa.fa-plus
-#              Agregar Nueva Operadora de Transporte de Personas
-#            %table.table.table-striped.table-bordered.table-condensed
-#              %thead
-#                %tr
-#                  %th
-#                    Rif de Operadora
-#                  %th
-#                    Razón Social
-#                  %th
-#                    Opciones
-#              %tbody
-#              - @operadora_transporte_ps.each do |operadora|
-#                %tr
-#                  %td
-#                    = operadora.rif
-#                  %td
-#                    = operadora.razon_social
-#                  %td
-#                    = link_to operadora_show_path(operadora),  title: 'Ver', rel: 'tooltip' do
-#                      %i.fa.fa-search
-#                      Ver
-#            -#= link_to 'Nueva Operadora de Transporte de Persona', operadora_new_path, class: 'btn btn-success'
