.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Operadoras de Transporte de Personas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        - if @operadora_transporte_ps.empty?
          .ibox-content.text-center
            %h3.font-bold No posee Operadoras registradas
            .error-desc
              No tienes ninguna operadora registrada, puedes crear una operadora.
            %br/
            = link_to operadora_new_path, class: 'btn btn-success' do
              %i.fa.fa-plus
              Agregar Nueva Operadora de Transporte de Personas
        - else
          .ibox-content
            .row
              .col-sm-5
                = link_to operadora_new_path, class: 'btn btn-success' do
                  %i.fa.fa-plus
                  Agregar Nueva Operadora de Transporte de Personas
            .row
              .col-sm-12
                %table.table.table-striped.table-bordered.table-condensed
                  %thead
                    %tr
                      %th
                        Rif de Operadora
                      %th
                        Razón Social
                      %th
                        Estado
                      %th
                        Ciudad
                      %th
                        Acciones
                  %tbody
                  - @operadora_transporte_ps.each do |operadora|
                    %tr
                      %td
                        = operadora.rif
                      %td
                        = operadora.razon_social
                      %td
                        = operadora.ciudad.estado.nombre
                      %td
                        = operadora.ciudad.nombre
                      %td
                        = link_to operadora_show_path(operadora),  title: 'Consultar', rel: 'tooltip' do
                          %i.fa.fa-search
                        &nbsp;
                        &nbsp;
                        = link_to operadora_edit_path(operadora),{"data-no-turbolink" => "", title: 'Editar', rel: 'tooltip'} do
                          %i.fa.fa-edit
                  = paginate @operadora_transporte_ps
            -#= link_to 'Nueva Operadora de Transporte de Persona', operadora_new_path, class: 'btn btn-success'
