= stylesheet_link_tag 'lightbox/css/lightbox.css'
= render 'modal_documento'
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Operadora de Transporte de Personas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          %h3
            Datos de la operadora
          %hr/
          %br/
          .table-responsive
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info
                  %th
                    Rif de Operadora
                  %th
                    Razón Social
                  %th
                    Sociedad Mercantil
              %tbody
                %tr
                  %td
                    = @operadora_transporte_p.rif
                  %td
                    = @operadora_transporte_p.razon_social
                  %td
                    = @operadora_transporte_p.sociedad_mercantil.codigo
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info.darked
                  %th
                    Email
                  %th
                    Teléfono
                  %th
                    Móvil
                  %th
                    Fax
              %tbody
                %tr
                  %td
                    = @operadora_transporte_p.email
                  %td
                    = @operadora_transporte_p.telefono
                  %td
                    = @operadora_transporte_p.movil
                  %td
                    = @operadora_transporte_p.fax
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info.darked
                  %th
                    Observación
              %tbody
                %tr
                  %td
                    = @operadora_transporte_p.observacion
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info.darked
                  %th
                    Estado
                  %th
                    Municipio
                  %th
                    Parroquia
                  %th
                    Avenida
                  %th
                    Calle
              %tbody
                %tr
                  %td
                    = @operadora_transporte_p.parroquia_v.municipio.estado.nombre
                  %td
                    = @operadora_transporte_p.parroquia_v.municipio.nombre
                  %td
                    = @operadora_transporte_p.parroquia_v.nombre
                  %td
                    = @operadora_transporte_p.avenida
                  %td
                    = @operadora_transporte_p.calle
              %thead
                %tr.info
                  %th
                    Urbanización
                  %th
                    Casa/Edificio
                  %th
                    Local
                  %th{colspan: '2'}
                    Piso
              %tbody
                %tr
                  %td
                    = @operadora_transporte_p.urbanizacion
                  %td
                    = @operadora_transporte_p.edificio_cc
                  %td
                    = @operadora_transporte_p.local
                  %td{colspan: '2'}
                    = @operadora_transporte_p.piso
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info.darked
                  %th
                    Rif
                  %th
                    Acta Constitutiva o
                    %br Certificación de Cumplimiento de la Cooperativa
              %tbody
                %tr
                  %td
                    - if @operadora_transporte_p.rif_imagen_pdf?
                      %a{'data-toggle'=>"modal" ,'data-target'=>"#showPdfModal",
                         'data-document' => @operadora_transporte_p.rif_imagen}
                        .icon
                          %i{class:'fa fa-file fa-2x'}
                    - else
                      %a{href: "#{@operadora_transporte_p.rif_imagen}",  'data-lightbox' => '@operadora_transporte_p.razon_social'}
                        = image_tag(@operadora_transporte_p.rif_imagen, size: '40x40')
                  %td
                    - if @operadora_transporte_p.documento_acreditacion_pdf?
                      %a{'data-toggle'=>"modal" ,'data-target'=>"#showPdfModal",
                         'data-document' => @operadora_transporte_p.documento_acreditacion}
                        .icon
                          %i{class:'fa fa-file fa-2x'}
                    - else
                      %a{href: "#{@operadora_transporte_p.documento_acreditacion}",  'data-lightbox' => '@operadora_transporte_p.razon_social'}
                        = image_tag(@operadora_transporte_p.documento_acreditacion, size: '40x40')
      .ibox.float-e-margins
        .ibox-content
          %h3
            Datos de los servicios de la Operadora
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Código ROTP
                %th
                  Modalidad del Servicio
                %th
            %tbody
              - @operadora_transporte_p.servicio_operadora_cs.each do |servicio|
                %tr
                  %td
                    = servicio.codigo_rotp
                  %td
                    = servicio.modalidad_servicio_val
                  %td
                    = link_to servicio_show_path(servicio) do
                      %i.fa.fa-search
                      Consultar
      .ibox.float-e-margins
        .ibox-content
          .row.clearfix
            %br/
            .col-sm-3
              = link_to operadora_index_path, class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Regresar



