.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Listas de Operadoras con Ruta
      %li.text-navy
        %b
          Creador de rutas para buscar


.wrapper.wrapper-content.animated.fadeInRight
  - if @error
    .ibox.float-e-margins
      .ibox-title
        %h5
          Creador de Rutas para buscar coincidencias
          %small Lista
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content
        .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
          %h3
            Error de búsqueda para el cálculo de estadísticas
          %ul
            %li
              No puede realizarce la búsqueda si no ha suministrado una ruta para Listar
      %br/
  - else
    .ibox.float-e-margins
      .ibox-title
        %h5
          Creador de Rutas para buscar coincidencias
          %small Lista
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      = form_for(:value, url: listar_por_rutas_path, html: { class: 'form-horizontal'}) do |f|
        .ibox-content
          #asd
            .form-group
              = f.label 'Estado', class: 'col-sm-4 control-label' do
                Estado
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select  :estado_id, :nombre, Estado.order_nombre, :id, :nombre,
                  {include_blank: 'Seleccione un Estado', selected: false} ,
                  { data: {dynamic_selectable_url: dynamic_select_municipios_path(':estado_id'),
                   dynamic_selectable_target: '#municipio_id_nombre'}, class: 'form-control combo-select'}
            .form-group
              = label :municipio, :id, class: 'col-sm-4 control-label' do
                Municipio:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select :municipio_id, :nombre, Municipio.where(estado_id: 1).order(:nombre), :id, :nombre,
                  {selected:  false, include_blank: "Seleccione un Municipio"},
                  { data: {dynamic_selectable_url: dynamic_select_parroquia_vs_path(':municipio_id'),
                  dynamic_selectable_target: '#parroquia_id_nombre'}, class: "form-control"}
            .form-group
              = label :parroquia, :id, class: 'col-sm-4 control-label' do
                Parroquia:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = collection_select :parroquia_id, :nombre, ParroquiaV.where(municipio_id: 1).order(:nombre), :id, :nombre,
                  {selected:  false, include_blank: "Seleccione una Parroquia"},
                  { data: {dynamic_selectable_url: dynamic_select_paradas_parroquia_path(':parroquia_id'),
                  dynamic_selectable_target: '#value_parada_id'}, class: "form-control"}
            .form-group
              = label :parada, :id, class: 'col-sm-4 control-label' do
                Parada:
                %span.fa.fa-asterisk.red
              .col-sm-8
                = f.select :parada_id, options_from_collection_for_select(Parada.where(parroquia_v_id: 0), :id, :nombre,
                  selected: false), {include_blank: "Seleccione una Parada"}, {class: "form-control"}
          .row
            .col-md-12
              .ibox.float-e-margins
                .ibox-content
                  .row
                    .col-sm-4
                    .col-sm-4
                      %a.btn.btn-warning{:href => "#", :onclick => "return false;", id: "id-to-add-content-admin-parada-creador"}
                        Agregar Ruta
          .row
            .col-lg-8.col-lg-offset-2
              %table.table.table-striped.table-bordered.table-condensed
                %thead
                  %tr
                    %th
                      Número de la Parada
                    %th
                      Nombre
                %tbody#content-to-add-paradas-listados
          .row
            .col-md-12
              .ibox.float-e-margins
                .ibox-content
                  .row
                    .col-sm-10
                    .col-sm-2
                      = f.submit 'Listar Operadoras', class: 'btn btn-success', data: { disable_with: "Por favor espere..." }