.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li.text-navy
        %b
          Listado de Operadoras Con filtro

.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @operadoras.blank? ||  @operadoras.nil?
    .ibox-title
      %h5
        Lista de las Operadoras por Tipo de Unidad Vehicular
        %small Lista
    .ibox-content
      .row.small
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Estado Ubicación
                %th
                  Rif de Operadora
                %th
                  Razón Social
                %th
                  Modalidad de Servicio
                %th
                  Placa
                %th
                  Uso
                %th
                  Tipo de Unidad
            %tbody
              - @operadoras.each do | operadora|
                %tr
                  %td
                    = operadora['nombre']
                  %td
                    = operadora['rif']
                  %td
                    = operadora['razon_social']
                  %td
                    = operadora['modalidad_servicio']
                  %td
                    = operadora['placa']
                  %td
                    = operadora['uso']
                  %td
                    = operadora['tipo_unidad']
          %h4
          = paginate @paginado
      .col-sm-12
        .row
          .col-sm-4
            = link_to "Regresar", estadistica_module_selector_estados_tipo_path, class: 'btn btn-info'
          .col-sm-4
  - else
    .col-sm-12
      .row
        .col-sm-4
          = link_to "Regresar", estadistica_module_selector_estados_tipo_path, class: 'btn btn-info'
        .col-sm-4