.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li
        Otros
      %li.text-navy
        %b
          Lista operadoras con igual parada
.wrapper.wrapper-content.animated.fadeInRight
  - if @registros.empty?
    .row
    .col-sm-12
      .wapper.wrapper-content.animated.fadeInDown
        .ibox
          .alert.alert-danger
            .ibox-content.text-center
              %h2
                %i.fa.fa-exclamation-triangle.yellow-warning
                %b
                  ¡ATENCIÓN!...
              %h3
                No posee Estadisticas para mostrar.
              %h4
                Esto se debe a que no existen datos consistentes que permitan un cálculo.
              %p.text-muted
                *Si usted cree que la operación que realiza debería arrojar estadísticas,
                comuníquese con los técnicos encargados del sistema.
  - else
    .col-sm-12
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th.text-center
              Estado
            %th.text-center
              Operadora
            %th.text-center
              Rif
            %th.text-center
              Telefono
            %th.text-center
              Email
        %tbody
          - @registros.each do |row|
            %tr
              %td
                = row['nombre'].to_s.upcase
              %td
                = row['razon_social'].to_s.upcase
              %td
                = row['rif'].to_s.upcase
              %td
                = row['movil']
              %td
                = row['email'].to_s.upcase
  %br/
  .row
    .col-sm-4
      = link_to "Regresar", estadistica_module_form_igual_parada_path, class: 'btn btn-info'
    .col-sm-4
  %br/