.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li.text-navy
        %b
          Listado de Operadoras Con filtro

.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - puts "dsadasdsadsadsadasdas"
  - puts @operadoras.inspect
  - puts @operadoras
  - unless @operadoras.blank? || @operadoras == "false" || @operadoras.nil?
    .ibox-title
      %h5
        Lista de las Operadoras
        %small Lista
    .ibox-content
      .row.small
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Estado Ubicación
                %th
                  Rif de Operadora
                %th
                  Razón Social
                %th
                  Email
                %th
                  Teléfono Móvil
            %tbody
              - @operadoras.each do |operadora|
                %tr
                  %td
                    = operadora["nombre_estado"]
                  %td
                    = operadora["rif"]
                  %td
                    = operadora["razon_social"]
                  %td
                    = operadora["email"]
                  %td
                    = operadora["movil"]
          %h4
            = paginate @operadoras
          -#["nombre_estado", "id_estado", "id_operadora", "razon_social", "rif", "email", "movil"]
        .col-sm-12
          .row
            .col-sm-4
              = link_to "Regresar", estadistica_module_vistas_estados_path, class: 'btn btn-info'
            .col-sm-4