.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ol.breadcrumb
      %li.text-nay
        %b
          Listado de Todas las operadoras



.wrapper.wrapper-content.animated.fadeInRight
  = render partial: 'capturar_error'
  - unless @operadoras.blank? || @operadoras == "false" || @operadoras.nil?
    .ibox-title
      %h5
        Lista de Todas las Operadoras
        %small Estadistica numérica
    .ibox-content
      .row.small
        .col-sm-12
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Estado Ubicación
                %th
                  Rif de Operadora
                %th
                  Razón Social
                %th
                  email
                %th
                  Telefono Movil
            %tbody
              - @operadoras.each do |operadora|
                %tr
                  %td
                    = operadora["nombre_estado"]
                  %td
                    = operadora["rif"]
                  %td
                    = operadora["razon_social"]
                  %td
                    = operadora["email"]
                  %td
                    = operadora["movil"]
          %h4
            = paginate @operadoras
          -#["nombre_estado", "id_estado", "id_operadora", "razon_social", "rif", "email", "movil"]