.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Administrador
    %ul.breadcrumb
      %li
        Creador de rutas
      %li.text-navy
        %b
          Listado de Operadoras con misma ruta

.wrapper.wrapper-content.animated.fadeInRight
  .ibox-title
    %h5
      Lista de las Operadoras
      %small Lista
  .ibox-content
    .row.small
      .col-sm-12
        %h3
          Ruta seleccionada:
          %b
            - if @paradas.blank?
              No ha seleccionado ninguna ruta para listar operadoras
            - else
              - @paradas.each do |a|
                = a + " -> "
        - unless @operadoras.blank?
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Estado Ubicación
                %th
                  Rif de Operadora
                %th
                  Razón Social
                %th
                  Email
                %th
                  Teléfono Móvil
            %tbody
              - @operadoras.each do |operadora|
                %tr
                  %td
                    = operadora["nombre_estado"]
                  %td
                    = operadora["rif"]
                  %td
                    = operadora["razon_social"]
                  %td
                    = operadora["email"]
                  %td
                    = operadora["movil"]
          %h4
            = paginate @operadoras
        -#["nombre_estado", "id_estado", "id_operadora", "razon_social", "rif", "email", "movil"]
      .col-sm-12
        .row
          .col-sm-4
            = link_to "Regresar", creador_rutas_path, class: 'btn btn-info'
          .col-sm-4