<div class="row gray-bg dashboard-header">
  <div class="col-lg-9 col-lg-offset-3">
    <div class="text-center animated fadeInDown loginscreen register-size">
      <div >
        <h1 class="logo-name">
          SIGETT
        </h1>
        <h2>Cambio de Contraseña</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <div class="col-lg-6" >
                <%= f.label "Nueva Contraseña:", class: 'control-label' %><br />
              </div>
              <div class="col-lg-5" >
                <%= f.password_field :password, autofocus: true, autocomplete: "off" %><br /><br/>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <div class="col-lg-6" >
                <%= f.label "Confirmar Nueva Contraseña:" %><br />
              </div>
              <div class="col-lg-5" >
                <%= f.password_field :password_confirmation, autocomplete: "off" %><br/><br/>
              </div>
            </div>
            <br />
            <br />
            <div class="form-group">
              <div class="col-lg-5 col-lg-offset-5" >
                <%= f.submit "Cambio de Contraseña", class: "btn btn-success" %>
              </div>
            </div>
        <% end %>

        <% render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>

<br />