<div class="row gray-bg dashboard-header">
  <div class="col-lg-9 col-lg-offset-3">
    <div class="text-center animated fadeInDown loginscreen register-size">
      <div >
        <h1 class="logo-name">
          SIGETT
        </h1>
        <h2>
          ¿Olvidaste tu contraseña?
        </h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                     html: { method: :post }) do |f| %>
            <% unless devise_error_messages!.empty? %>
                <div class="alert alert-danger">
                  <%= devise_error_messages! %>
                </div>
            <%end%>
            <div class="form-group">
              <div class="col-lg-5" >
                <%= f.label "Correo Electrónico:", class: 'control-label'%>
                <br />
              </div>
              <div class="col-lg-5">
                <%= f.email_field :email, autofocus: true %><br />
              </div>
            </div>
            <br />
            <br />
            <div class="form-group">
              <div class="col-lg-5 col-lg-offset-5" >
                <%= f.submit "Reestablecer Contraseña",
                             class: "btn btn-success" %><br />
                <br />
              </div>
            </div>
            <br />
        <% end %>
        <!--<div class="col-lg-5">-->
        <!--<% render "devise/shared/links" %>-->
        <!--</div>-->
      </div>
    </div>

  </div>
</div>

<br /> <br /> <br />