= provide(:title, 'Registro')
.row
  .col-md-12.col-md-offset-0
    %br
    .text-center.text-navy
      %strong Representante Legal:
      %h5{color: 'black'}
        Es la persona que esta autorizada
        en el  acta constitutiva
        o última acta de la asamblea de socios
        mediante la figura de:
        %br Coordinador, Gerente General, Director General, Presidente, etc.

.row.gray-bg.dashboard-header
  .col-lg-9.col-lg-offset-3
    .text-center.animated.fadeInDown.loginscreen.register-size
      %div
        %h1.logo-name SIGETT
        %div
        %h3
          Registro
        = form_for(resource, as: resource_name, url: registration_path(resource_name),
         html: {class:'form-horizontal',id: 'registro-usuario-form',:multipart => true }) do |devise|
          - if !devise_error_messages!.empty?
            .alert.alert-danger
              = devise_error_messages_modified!
          =devise.fields_for :usuario_sput do |sput|
            .form-group
              .col-lg-5.text-justify
                = sput.label :nombre, 'Representante Legal:', class: 'control-label', id: 'representante'
              .col-lg-7
                = sput.text_field :nombre,
                class: 'form-control',
                disabled: :true
            .form-group
              .col-lg-5
              .col-lg-7
                = sput.text_field :apellido,
                class: 'form-control',
                disabled: :true
            .form-group
              .col-lg-5.text-left
                = sput.label :numero_doc, 'Rif:', class: 'control-label'
                %span.fa.fa-asterisk.red
              .form-inline
                .col-lg-7.text-left
                  = sput.text_field :nacionalidad,
                  class:'form-control text-center doc-register',
                  id: 'select-nacionalidad', disabled: :true
                  = sput.text_field :numero_doc,
                  class: 'form-control text-right cedula-register',
                  disabled: :true
                  = sput.fields_for :usuario do |usuario|
                    = usuario.text_field :rif,
                    class: 'form-control doc-register',
                    :required => 'required',
                    maxlength: 1,
                    'data-mask' => '9',
                    'data-placeholder' =>  ''
          .form-group
            .col-lg-5.text-left
              = devise.label :email, 'Correo Electrónico:',
              class: 'control-label'
              %span.fa.fa-asterisk.red
            .col-lg-7
              = devise.email_field :email, placeholder: 'Correo electrónico',
              class: 'form-control', autofocus: true,
              :required => 'required', "data-toggle" => 'tooltip', "data-placement" => 'right', :title => 'Ayuda'
          .form-group
            .col-lg-5.text-left
              = devise.label :email_confirmation,'Confirmar Correo:',
              class: 'control-label'
              %span.fa.fa-asterisk.red
            .col-lg-7
              = devise.email_field :email_confirmation,
              :placeholder =>'Confirma el correo electrónico',
              :class => 'form-control',
              :required => 'required'

          =devise.fields_for :usuario_sput do |sput|
            .form-group
              .col-lg-5.text-left
                = sput.label :correo_alterno ,'Correo Alterno:',
                class: 'control-label'
              .col-lg-7
                =sput.email_field :correo_alterno ,
                :placeholder =>'Correo Alterno',
                :class => 'form-control'
                -#:required => 'required'
            .form-group
              .col-lg-5.text-left
                =sput.label :pregunta_secreta,'Pregunta Secreta:',
                class: 'control-label'
                %span.fa.fa-asterisk.red
              .col-lg-7
                =sput.text_field :pregunta_secreta,
                :placeholder =>'Pregunta secreta',
                :class => 'form-control',
                id: 'campo-pregunta'
                -#:required => 'required'
            .form-group
              .col-lg-5.text-left
                =sput.label :respuesta,'Respuesta Secreta:',
                class: ' control-label'
                %span.fa.fa-asterisk.red
              .col-lg-7
                =sput.text_field :respuesta,
                :placeholder =>'Respuesta secreta',
                :class => 'form-control',
                :required => 'required'
            .form-group
              .col-lg-5.text-left
                = sput.label :telefono_local ,'Teléfono Local:',
                class: ' control-label'
              .col-lg-7
                = sput.text_field :telefono_local ,
                :placeholder =>'Teléfono Local',
                :class => 'form-control'
            .form-group
              .col-lg-5.text-left
                = sput.label :movil ,'Teléfono Móvil:',
                class: ' control-label'
                %span.fa.fa-asterisk.red
              .col-lg-7
                .col-lg-5
                  = select_tag :operadora ,
                  options_for_select(@lista_operadoras),
                  class: 'form-control'
                .col-lg-7
                  = sput.text_field :movil ,
                  :placeholder =>'Teléfono móvil',
                  :class => 'form-control',
                  :required => 'required'
            =sput.fields_for :usuario do |usuario|
              .form-group
                .col-lg-5.text-left
                  = usuario.label :direccion, 'Dirección:',  class: 'control-label'
                  %span.fa.fa-asterisk.red
                .col-lg-7
                  = usuario.text_field :direccion, placeholder: 'Dirección',
                    class: 'form-control', autofocus: true,
                    :required => 'required', "data-toggle" => 'tooltip', "data-placement" => 'right', :title => 'Ayuda'
              .form-group
                .col-lg-5.text-left
                  = usuario.label :cedula_imagen, 'Cédula de Identidad:',
                  class: 'control-label'
                  %span.fa.fa-asterisk.red
                =render 'session_users/shared/subir_cedula', u: usuario
          -#.form-group
          -#  .col-lg-12.text-left
          -#    = devise.label 'Código de Verificación:', class: ' control-label'
          -#  .col-lg-12
          -#    = recaptcha_tags :display => { :theme => "clean" }, :ajax => true,
          -#     :public_key => ENV['RECAPTCHA_PUBLIC_KEY']
          = devise.submit "Registrarse", class:"btn btn-success btn-block"
          - if controller_name != 'sessions'
            %br/
            %br/
            %p.text-muted.text-center
              %small Ya eres un usuario registrado?
            = link_to "Iniciar Sesión", new_session_path(resource_name), class: 'btn btn-default btn-block'
          %br/