=provide(:title, 'Registro')
.row.gray-bg.dashboard-header
  .col-lg-9.col-lg-offset-3
    .text-center.animated.fadeInDown.loginscreen.register-size
      %div
        %div
          %h1.logo-name SIGETT
        %h3 Registro
        = form_for :tciudadano, url: {action: 'new'},method: :get, html:  { class: 'm-t'}  do |f|
          .form-group
            .col-lg-4.text-left
              = f.label :documento , 'Documento:', class:'control-label'
              %span.fa.fa-asterisk.red.text-left
            .form-inline
              .col-lg-8
                = f.select :nacionalidad,  options_for_select(@lista, selected: 'V'),
                 {id: 'select-documento'}, {class: 'form-control doc-register'}
                = f.text_field :documento, class: 'form-control cedula-register',
                 autofocus: true, :required => 'required', id: 'documento-saime',
                 maxlength: 8
            %br/
            %br/
          .form-group{id:'data_1'}
            .col-lg-4.text-left
              = f.label :fecha_nacimiento,'Fecha Nacimiento:', class:'control-label '
              %span.fa.fa-asterisk.red
            .form-inline
              .col-lg-8
                = f.date_select :fecha_nacimiento, options = {start_year: Date.today.year - 75, end_year: Date.today.year, use_two_digit_numbers: true}, html_options = { required: 'required', class: 'form-control', format: :default}
                %br/
                %br/
            .form-group
              .col-lg-6
                = link_to 'Cancelar',root_path, class: 'btn btn-sm btn-warning  m-t-n-xs'
              .col-lg-6
                =f.submit 'Aceptar', class: 'btn btn-sm btn-success m-t-n-xs pull-right', id:'boton-aceptar-registro'
              %br/
              %br/
              %br/
              %br/
              %br/
