.form-horizontal.m-t-md
  .form-group
    .col-md-6
      = f.label  :aseguradora_id, class: 'col-sm-3 control-label' do
        Aseguradora:
        %span.fa.fa-asterisk.red
      .col-sm-9
        = f.collection_select(:aseguradora_id,  Aseguradora.all, :id, :nombre , {include_blank: "Seleccione una Compañia Aseguradora"}, {class: 'form-control', id: 'aseguradora_id_rif'})
    .col-md-6
      = f.label :rif ,'RIF:', class: 'col-sm-4 control-label'
      .col-sm-8
        - if f.object.present?
          = f.text_field :rif, value: f.object.aseguradora_id.nil? ? "" : Aseguradora.find_by(id: f.object.aseguradora_id).rif , disabled: true, class: 'form-control', id: "seguro_vehiculo_rif"
        - else
          = f.text_field :rif, disabled: true, class: 'form-control', id: "seguro_vehiculo_rif"
  %hr
  .form-group
    = f.label :num_poliza, class: 'col-sm-2 control-label' do
      Nº Póliza:
      %span.fa.fa-asterisk.red
    .col-sm-5
      = f.text_field :num_poliza, class: 'form-control'
  .form-group
    = f.label :fecha_vencimiento, class:'col-sm-2 control-label ' do
      Fecha de Vencimiento:
      %span.fa.fa-asterisk.red
    .col-sm-10.form-inline
      - if f.object.present?
        = f.date_select :fecha_vencimiento , options = {start_year: Date.today.year, end_year: Date.today.year + 1}, html_options = {class: 'form-control',
          id: 'fecha_nacimiento',:value => f.object.fecha_vencimiento.blank? ? '' : f.object.fecha_vencimiento.strftime("%d/%m/%Y"),:required => 'required' }
      - else
        = f.date_select :fecha_vencimiento , options = {start_year: Date.today.year, end_year: Date.today.year + 1}, html_options = {class: 'form-control',
        id: 'fecha_nacimiento',:required => 'required' }
  .form-group
    = f.label :poliza_seguro, class: 'col-sm-2 control-label' do
      Póliza digital:
      %span.fa.fa-asterisk.red
    .col-sm-10
      = render 'session_users/shared/subir_poliza_aseguradora_global',f: f