= render 'shared/info_servicio'
.row
  .col-md-12.col-md-offset-0
    %ul.text-muted.leyenda
      %li.text-justify
        Seleccione si posee un RCV de toda la flota vehicular o un RCV particular por cada vehículo
      %li.text-justify
        Ingrese los datos del seguro.
        %span.text-danger NOTA:
        Sólo puede ingresar aseguradoras inscritas en la superintendencia de la actividad aseguradora (SUDEASEG).
      %li.text-justify
        Si desea guardar los datos del registro oprima
        %span.azul-oscuro
          Guardar y Continuar
      %li.text-justify
        Si desea regresar al pantalla de
        %strong Servicios de Operadoras certificadas
        oprima
        %span.azul-claro
          Regresar

.row
  .col-md-12.col-md-offset-0
    .ibox.float-e-margins
      .ibox-title
        %h3.text-navy
          El seguro RCV
          -if @colectivo
            colectivo:
          -else
            es por:
            %h6.text-danger
              Una vez
              %strong guardada
              la modalidad de seguro RCV no podrá cambiarla
      - unless @colectivo
        .ibox-content
          .form-group
          .col-md-5.col-md-offset-4
            =label_tag :seguro_flota , class: 'radio-inline' do
              =radio_button_tag :seguro , 'flota', true,id:'radio-RCV-flota'
              %span Flota
            =label_tag :seguro_individual , class: 'radio-inline' do
              =radio_button_tag :seguro ,'individual',false,
              id:'radio-RCV-individual'
              %span Individual por vehículo
          .continuar-seguro-pregunta
            %br
            %br
            .ibox-content
              .col-sm-4.text-danger
                Haga click en guardar y continuar solo si está seguro que posee Seguro
                Individual por vehículo
              .col-sm-3
                = link_to 'Guardar y Continuar', flota_vehiculos_url(@flota),
                 class: "btn btn-success btn-block", id:'btn-continuar-seguro'

      .ibox-content.caja-RCV-flota
        = form_for([@flota,@seguro_vehiculo], url: flota_seguro_vehiculos_path(@flota),
        html: {class:'form-horizontal',id:'registro-seguro-form'  ,
        :multipart => true }) do |f|

          = render 'shared/error_messages', object: f.object, model: 'RCV por flota'
          %br/
          = render 'seguro/seguro_vehiculos/campos_seguro', f: f
          .form-group
            .col-sm-3
              = link_to servicio_edit_path(@flota.servicio_operadora_c),
                      class: "btn btn-info btn-block" do
                %i.fa.fa-left-arrow
                Regresar
            .col-sm-3.col-sm-offset-6
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block',
                       data: { disable_with: "Por favor espere..." }