.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Seguro de Flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
