- if object.present? &&  object.errors.any?
  .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
    %h3 No se puede guardar #{model}:
    %ul
      - object.errors.each do |name, message|
        %li= message
%br
