.row
  .col-lg-12
    .ibox-content.m-b-sm.border-bottom
      .row
        .col-md-6
          .form-horizontal
            .form-group
              = label_tag :operadora, 'Operadora de Transporte: ', class: 'col-sm-4 control-label'
              .col-sm-8
                = text_field_tag :operadora ,
                        @servicio_operadora_c.operadora_transporte_p.razon_social + ' ' + @servicio_operadora_c.operadora_transporte_p.rif,
                        disabled: true,class:'form-control col-sm-4 small'
        .col-md-6
          .form-horizontal
            .form-group
              = label_tag :servicio, 'Modalidad de Servicio: ', class: 'col-sm-4 control-label'
              .col-sm-8
                = text_field_tag :servicio ,
                        @servicio_operadora_c.codigo_modalidad,
                        disabled: true,class:'form-control col-sm-4 small'