= form_for @admin_modalidad_servicio, url: url_param, html: { class: "form-horizontal m-t-md", role: "form", id: "form_modalidad_servicio" } do |f|
  .ibox-content
    - if @admin_modalidad_servicio.errors.any?
      .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
        %h3
          No se puede guardar la modalidad:
        %ul
          - @admin_modalidad_servicio.errors.each do |name, message|
            %li= message
    %br/
    .form-group
      = f.label :nombre, class: 'col-sm-2 control-label' do
        Nombre:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = f.text_field :nombre, class: 'form-control sin_mayuscula'
    .form-group
      = f.label :abreviacion, class: 'col-sm-2 control-label' do
        Abreviación:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = f.text_field :abreviacion, class: 'form-control sin_mayuscula'
    .form-group
      = f.label :rotp, class: 'col-sm-2 control-label' do
        Codigo:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = f.text_field :rotp, class: 'form-control sin_mayuscula'
    .row
      %hr
      .col-sm-2
        = link_to 'Volver', admin_modalidad_servicios_path, class: 'btn btn-warning'
      .col-sm-3.col-sm-offset-3
        = f.submit 'Guardar', class: 'btn btn-success'
      -#.col-sm-offset-2.col-sm-10
      -#  = f.submit class: 'btn btn-primary'
