.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-title
        %h3.text-center
          Lista de Modalidades
.row
  .col-md-12.text-center
    = link_to 'Agregar Nueva Modalidad', new_admin_modalidad_servicio_path, class: 'btn btn-success'
%br
.ibox-content
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th.text-center
          Nombre
        %th{colspan: '2'}
    %tbody
      - @admin_modalidad_servicios.each do |admin_modalidad_servicio|
        %tr
          %td.text-center
            = admin_modalidad_servicio.nombre
          -#%td= link_to 'Show', admin_modalidad_servicio
          %td.text-center
            = link_to edit_admin_modalidad_servicio_path(admin_modalidad_servicio) do
              %i{class: 'fa fa-pencil-square-o'}
          %td.text-center
            -#= link_to 'Destroy', admin_modalidad_servicio, data: { confirm: 'Are you sure?' }, method: :delete
            = link_to admin_modalidad_servicio_path(admin_modalidad_servicio), method: :delete, data: { confirm: '¿Seguro de eliminar la modalidad?' } do
              %i{class: 'fa fa-trash'}
