.page-header
  = link_to admin_modalidad_servicios_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_admin_modalidad_servicio_path(@admin_modalidad_servicio), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show admin_modalidad_servicio

%dl.dl-horizontal
