= render 'shared/info_operadora'
.row
  .col-md-12.col-md-offset-0
    %ul.text-muted.leyenda
      %li.text-justify
        Seleccione la Modalidad de servicio a registrar
      %li.text-justify
        Ingrese la fecha de expedición de la CPS y de la flota vehicular
      %li.text-justify
        Si ha realizado alguna renovación de flota ingrese la fecha de la última renovación
      %li.text-justify
        Si desea guardar los datos del registro de la OTP oprima
        %span.azul-oscuro
          Guardar y Continuar
      %li.text-justify
        Si desea regresar y modificar Operadora oprima
        %span.azul-claro
          Regresar
= form_for(@servicio_operadora_c, url: @edit ? servicio_update_path : servicio_create_path, html: {id: "servicio_operadora_t_id_form", class: 'form-horizontal m-t-md'}) do |f|
  - if f.object.fecha_expedicion.nil?
  - else
    #fecha_to_hide_extinto{class: "#{f.object.fecha_expedicion < Date.today - 22.years ? "" : "fecha_to_hide_extinto"}"}
      .row
        .col-md-12
          %p.text-muted
            La fecha de Expedición de la Certificación de Prestación de Servicio(CPS) está Extinta.
    #fecha_to_hide_vencido{class: "#{(f.object.fecha_expedicion > Date.today - 22.years && f.object.fecha_expedicion < Date.today - 10.years) ? "" : "fecha_to_hide_extinto"}"}
      .row
        .col-md-12
          %p.text-muted
            La Certificación de Prestación de Servicio se encuentra
            Extinta de conformidad el articulo 13, numeral 5 en el
            Reglamento Parcial de la Ley de Transito Terrestre sobre
            Transporte Terrestre Público de Personas publicado en
            Gaceta Oficial N° 34.819 de fecha 14/10/1991, en el cual
            señala que “la Certificación de Prestación del Servicio se
            extinguirá por las causas siguiente: 5. Por la no renovación
            de la  Certificación de Prestación del Servicio a su vencimiento”.
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nuevo Servicio
        .ibox-content
          - if @servicio_operadora_c.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                -#= pluralize(@servicio.errors.count, "Error.")
                No se puede guardar la Operadora de transporte de personas:
              %ul
                - @servicio_operadora_c.errors.each do |name, message|
                  %li= message
          %br/

          .form-group
            = hidden_field_tag :codigo, @servicio_operadora_c.operadora_transporte_p.parroquia_v.municipio.estado.codificacion
            .col-md-3
              = f.label :modalidad_servicio_id, class: 'control-label' do
                Modalidad del Servicio:
                %span.fa.fa-asterisk.red
            .col-md-4
              -#- lista = Hash.new
              -#- ServicioOperadoraC.modalidad_servicios.each do |i, val| lista[val] = i end
              = f.select :modalidad_servicio_id, options_from_collection_for_select(ModalidadServicio.all, 'id', 'nombre', selected: f.object.modalidad_servicio ? f.object.modalidad_servicio.id : nil),{include_blank: 'Seleccione una modalidad de servicio'},{class:"form-control" }
          .form-group
            .col-md-3
              = f.label :codigo_rotp, class: ' control-label' do
                Código ROTP:
                %span.fa.fa-asterisk.red
            .col-md-3
              = f.text_field :codigo_rotp, class:"form-control"
            %br/
            %br/
            %br/
          .form-group
            .col-md-3
              = f.label :fecha_expedicion, class: ' text left' do
                Fecha última del Certificado de Prestación de Servicio (CPS):
                %span.fa.fa-asterisk.red
            .col-md-3
              = f.date_select :fecha_expedicion, start_year: Date.today.year - 60 ,  end_year: Date.today.year, class:"form-control"
            .col-md-3
              = f.label :fecha_vencimiento, class: 'control-label text-left' do
                Fecha Vencimiento del Certificado de Prestación de Servicio (CPS):
            .col-md-3
              = f.date_select :fecha_vencimiento, start_year: Date.today.year - 60, end_year: Date.today.year + 11, selected: f.object.fecha_expedicion.nil? ? Date.today + 10.years : f.object.fecha_expedicion + 10.years, class:"form-control", disabled: true
              %p.ayuda-small
                Está fecha es autogenerada por el sistema
          .form-group
            .col-md-3
              = f.label :documento_cps, class: 'control-label' do
                Documento CPS:
                %span.fa.fa-asterisk.red
            .col-sm-9
              = render 'session_users/shared/subir_cps', f: f
          .form-group
            .col-md-3
              = f.label :documento_acreditacion, class: 'control-label' do
                DT/9 o DT/10:
                %span.fa.fa-asterisk.red
            .col-sm-9
              = render 'session_users/shared/subir_dt', f: f
            %br/
            %br/
            %br/
          .row
            .col-lg-12
              = f.hidden_field :operadora_transporte_p_id, value: @servicio_operadora_c.operadora_transporte_p.id
              = f.fields_for :flota do |ff|
                .form-group
                  .col-md-3
                    = ff.label :fecha_autorizacion, class: ' text left' do
                      Fecha última de la Autorización de la flota vehicular (DT/9 o DT/10):
                      %span.fa.fa-asterisk.red
                  .col-md-3
                    = ff.date_select :fecha_autorizacion, start_year: Date.today.year - 60, end_year: Date.today.year, class:"form-control"
                  .col-md-3
                    = label :fecha_vencimiento, :fecha_vencimiento, class: ' control-label text-left' do
                      Fecha de vencimiento de la Autorización de la flota vehicular (DT-9 o DT-10):
                  .col-md-3
                    = date_select :fecha_vencimiento, :asd,start_year: Date.today.year - 60, end_year: Date.today.year + 15, selected: ff.object.fecha_autorizacion.nil? ? Date.today + 1.year : ff.object.fecha_autorizacion + 1.year, disabled: true
                    %p.ayuda-small
                      Está fecha es autogenerada por el sistema
                  %br/
                  %br/
                .form-group
                  .col-md-3
                    = ff.label :cupo_asignado, class: 'control-label' do
                      Cupo Autorizado:
                      %span.fa.fa-asterisk.red
                  .col-md-3
                    = ff.text_field :cupo_asignado, {class:"form-control"}


  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to servicio_index_consulta_path(id: @servicio_operadora_c.operadora_transporte_p.id), class: 'btn btn-info btn-block' do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-6
            .col-sm-3
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }