.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Servicios de Operadoras certificadas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'