.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Modalidades de Servicios de Operadoras Certificadas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li.text-navy
      -#  %b
      -#    Nuevo Servicio
.wrapper.wrapper-content.animated.fadeInRight
  - if @operadoras.any?
    - @operadoras.each do |op|
      - if op.servicio_operadora_cs.any?
        .row
          .col-md-12
            .ibox.float-e-margins
              .ibox-title
                %h3
                  Lista de Modalidades de Servicio - Operadora
                  %b
                    = op.razon_social
              .ibox-content

                = link_to servicio_new_path(id: op.id), class: 'btn' do
                  %i.fa.fa-plus
                  Nueva Modalidad para operadora
                  = op.razon_social
                %table.table.table-striped.table-bordered.table-condensed
                  %thead
                    %tr
                      %th.text-center
                        Código ROTP
                      %th.text-center
                        Modalidad del Servicio
                      %th.text-center
                        Estatus
                      %th.text-center
                        Opción
                  %tbody
                    - op.servicio_operadora_cs.each do |servicio|
                      %tr
                        %td.text-center
                          = servicio.codigo_rotp
                        %td.text-center
                          = servicio.modalidad_servicio_val
                        - if servicio.completado
                          %td.text-center.text-primary
                            Registro Completo
                            %i.fa.fa-check
                        - else
                          %td.text-center.text-danger
                            Registro Incompleto
                            %i.fa.fa-times
                        %td.text-center
                          = link_to servicio_show_consulta_path(servicio,tipo: params[:tipo]),{"data-no-turbolink" => "", title: 'Consultar', rel: 'tooltip'} do
                            %i.fa.fa-search
                          &nbsp;
                          &nbsp;
                          - if servicio.completado
                            = link_to servicio_edit_path(servicio,tipo: params[:tipo]),{"data-no-turbolink" => "", title: 'Editar', rel: 'tooltip'} do
                              %i.fa.fa-edit
                              Editar
                          - else
                            = link_to  servicio_edit_path(servicio), {"data-no-turbolink" => "", title: 'Continuar Registro', rel: 'tooltip'} do
                              %i.fa.fa-car
                              Continuar Registro

  - else
    .row
      .col-md-12
        .ibox.float-e-margins
          .ibox-content.text-center
            %h3
              No posee operadoras de transporte registradas.
            %br
            = link_to operadora_new_path, class: 'btn btn-success' do
              %i.fa.fa-plus
              Agregar Nueva Operadora de Transporte de Personas