.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Servicios de Operadoras certificadas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li.text-navy
      -#  %b
      -#    Servicios
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        - if @servicio_operadora_cs.empty?
          .ibox-content.text-center
            %h3.font-bold
              = "No posee servicios registrados para la operadora " + OperadoraTransporteP.find_by(id: params[:id]).razon_social
            .error-desc
              ¿Desea agregar un nuevo servicio?
            %br/
            = link_to 'Agregar Nuevo Servicio', servicio_new_path(id: params[:id]), class: 'btn btn-warning'
        - else
          .ibox-content
            .row
              .col-sm-3
                = link_to servicio_new_path(id: params[:id]), class: 'btn btn-success btn-block' do
                  %i.fa.fa-plus
                  Agregar Nuevo Servicio
            .row
              .col-sm-12
                %table.table.table-striped.table-bordered.table-condensed
                  %thead
                    %tr
                      %th
                        Código ROTP
                      %th
                        Modalidad del Servicio
                      %th
                  %tbody
                    - @servicio_operadora_cs.each do |servicio|
                      %tr
                        %td
                          = servicio.codigo_rotp
                        %td
                          = servicio.modalidad_servicio_val
                        %td
                          = link_to servicio_edit_path(servicio),{"data-no-turbolink" => "", title: 'Editar', rel: 'tooltip'} do
                            %i.fa.fa-pencil
                            Editar
        .row
          .col-md-12
            .ibox.float-e-margins
              .ibox-content
                .row
                  .col-sm-3
                    = link_to  operadora_edit_path(id: params[:id]), class: 'btn btn-info btn-block' do
                      %i.fa.fa-arrow-left
                      Regresar

