.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Modalidad de Servicio de Operadora Certificada
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li.text-navy
      -#  %b
      -#    Mostrar Servicios

    .wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          %h2
            Operadora:
            %b
              = @operadora_transporte_p.razon_social
          %br/
          %h3
            .col-sm-10
              %i.fa.fa-cog
              Datos del Servicio con Código Prestación Servicio:
              %b
                = @servicio_operadora_c.codigo_rotp
            .col-sm-2
          -#= link_to servicio_edit_path(@servicio_operadora_c), {class: "btn btn-success"} do
          -#  %i.fa.fa-pencil
          -#  Editar Servicio
          %hr/
          %br/
          .table-responsive
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr.info
                  %th
                    Código ROTP
                  %th
                    %i.fa.fa-calendar
                    Fecha de Expedición de
                  %th
                    %i.fa.fa-calendar
                    Fecha Vencimiento
                  %th
                    Modalidad del servicio
              %tbody
                %tr
                  %td
                    = @servicio_operadora_c.codigo_rotp
                  %td
                    = @servicio_operadora_c.fecha_expedicion.nil? ? "" : @servicio_operadora_c.fecha_expedicion.strftime('%d/%m/%Y')
                  %td
                    = @servicio_operadora_c.fecha_vencimiento.nil? ? "" : @servicio_operadora_c.fecha_vencimiento.strftime('%d/%m/%Y')
                  %td
                    = @servicio_operadora_c.modalidad_servicio_val
          %h3
            Datos de la flota asociada al servicio
          .table-responsive
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    %i.fa.fa-barcode
                    Cupos Asignados para la Flota
                  %th
                    %i.fa.fa-calendar
                    Fecha de Autorización
              %tbody
                %tr
                  %td
                    = @servicio_operadora_c.flota.cupo_asignado
                  %td{:colspan => '2'}
                    = @servicio_operadora_c.flota.fecha_autorizacion.nil? ? "" : @servicio_operadora_c.flota.fecha_autorizacion.strftime('%d/%m/%Y')
              - if !@servicio_operadora_c.flota.seguro_vehiculo.nil?
                %thead
                  %tr
                    %th{:colspan => '2'}
                      %i.fa.fa-shield
                      Seguro de la Flota
                %tbody
                  %tr
                    %td{:colspan => '2'}
                      %table.table
                        %tr
                          %th
                            Nombre de la Aseguradora
                          %th
                            Número de la Póliza
                          %th
                            Fecha Vencimiento de la Póliza
                        %tbody
                          %tr
                            %td
                              = @servicio_operadora_c.flota.seguro_vehiculo.aseguradora.nombre
                            %td
                              = @servicio_operadora_c.flota.seguro_vehiculo.num_poliza
                            %td
                              = @servicio_operadora_c.flota.seguro_vehiculo.fecha_vencimiento
              - if !@vehiculos.empty?
                %thead
                  %tr
                    %th{:colspan => '2'}
                      %i.fa.fa-bus
                      Vehiculos de la Flota
                %tbody
                  %tr
                    %td{:colspan => '2'}
                      %table.table
                        %tr
                          %th
                            Placa
                          %th
                            Año
                          %th
                            Serial Carrocería
                          %th
                            Color
                          %th
                            Marca
                          %th
                            Uso
                          %th
                            Modelo
                          %th
                            Puestos
                          %th
                            Nombre Propietario
                          %th
                            Vehículo En arriendo
                        - @vehiculos.each do |vehiculo|
                          %tr
                            %td
                              = vehiculo.placa
                            %td
                              = vehiculo.ano
                            %td
                              = vehiculo.s_carroceria
                            %td
                              = vehiculo.color
                            %td
                              = vehiculo.marca
                            %td
                              = vehiculo.uso
                            %td
                              = vehiculo.modelo
                            %td
                              = vehiculo.puesto
                            %td
                              = vehiculo.propietario
                            %td
                              - v = Vehiculo.find_by(placa: vehiculo.placa)
                              %i{class: "#{v.contrato_arrendamiento.nil? ? "fa fa-times" : "fa fa-check"}"}
                              = v.contrato_arrendamiento.nil? ? "No" : "Si"
              - else
                %thead
                  %tr
                    %th
                      No posee vehiculos asociados a la Flota
                    %th
      .ibox-content
        .row.clearfix
          %br/
          .col-lg-12
            .col-lg-4
              = link_to 'Regresar', servicio_index_consulta_path(tipo: params[:tipo]), class: "btn btn-info"
            .col-lg-8
            - if @servicio_operadora_c.flota.rutas.any?
              .col-lg-5
                %i.fa.fa-road
                Consultar Rutas de las Operadoras:
              .col-lg-3
                = link_to ruta_flota_show_path(id: @servicio_operadora_c.flota.id), {class: "btn text-center"} do
                  %i.fa.fa-search
                  Consultar
            - else
              .col-lg-2
                %h3
                  %b
                    Atención:
              .col-lg-4
                %i.fa.fa-road
                No posee rutas para este servicio.
      .ibox-content
        .row.clearfix
          %br/
          - if @servicio_operadora_c.flota.rutas.any?
            .col-lg-12
              .col-lg-4
              .col-lg-5
                %i.fa.fa-history
                Consultar Histórico de Solicitudes:
              .col-lg-3
                = link_to historico_show_path(id: @servicio_operadora_c.id), {class: "btn"} do
                  %i.fa.fa-search
                  Consultar