.col-md-12
  = form_for(@parada, url: ruta_flota_nueva_parada_path, html: {id: "ubicacion_parada_t_id_form", class: 'form-horizontal m-t-md'}, remote: true) do |pard|
    = pard.hidden_field :parroquia_v_id
    = pard.hidden_field :ciudad_id
    = pard.hidden_field :tipo_parada
    .form-group
      .col-md-8.col-md-offset-2
        %p.text-danger
          Si no encuentra la ubicación de la parada que deseea, puede agregar una nueva ubicación. ¿Desea Crear una nueva ubicación?
      .col-md-2
        -#= button_tag 'Agregar Parada', class: 'btn btn-success', id: 'submit-agregar-parada', type: 'button'
        = pard.submit 'Agregar Parada', class: 'btn btn-success'

