= render 'shared/info_servicio'
= form_for(@ruta, url: url_param, html: {id: "ruta_taxi_form", class: 'form-horizontal m-t-md', :multipart => true}) do |f|
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nueva Ruta
        .ibox-content
          - if @ruta.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                No se puede guardar la Ruta:
              %ul
                - @ruta.errors.each do |name, message|
                  %li= message
          %br/
          .form-group
            .col-sm-2
              = f.label :num_ruta, class: 'control-label' do
                Número de Ruta:
                %span.fa.fa-asterisk.red
            .col-sm-4
              = f.text_field :num_ruta, value: params[:num].nil? ? f.object.num_ruta : params[:num], class:"form-control"
          .row
            = f.fields_for :toques, f.object.toques.where(prev_id: nil).last do |ff|
              = ff.hidden_field :id
              = ff.hidden_field :tipo_parada, value: 'Origen'
              = ff.hidden_field :tipo, value: 'Zona o Parada Terminal'
              = ff.fields_for :parada do |fff|
                .col-sm-12
                  .form-group
                    = label :estado, :estado, class: 'col-md-2 control-label' do
                      Estado:
                      %span.fa.fa-asterisk.red
                    .col-md-4
                      = fff.collection_select  :estado_id, Estado.order(:nombre), :id, :nombre,
                        {selected: fff.object.estado_id, include_blank: "Seleccione un Estado"},
                        { class: "form-control", id: 'estado-ruta-parada-id'}
                    = label :municipio, :id, class: 'col-md-2 control-label' do
                      Municipio:
                      %span.fa.fa-asterisk.red
                    .col-md-4
                      = collection_select :parada, :municipio_id, Municipio.where(estado_id: fff.object.estado_id.nil? ? nil : fff.object.estado_id).order(:nombre), :id, :nombre,
                        {selected: fff.object.parroquia_v.nil? ? 0 : fff.object.parroquia_v.municipio.id, include_blank: "Seleccione un Municipio"},
                        { class: "form-control", id: 'municipio-ruta-parada-id'}
                  .form-group
                    = fff.label :ciudad_id, class: 'col-md-2 control-label' do
                      Ciudad:
                      %span.fa.fa-asterisk.red
                    .col-md-4
                      = fff.select :ciudad_id, options_from_collection_for_select(Ciudad.where(estado_id: fff.object.estado_id.nil? ? nil : fff.object.estado_id), :id, :nombre, selected: fff.object.ciudad_id.nil? ? nil : fff.object.ciudad.id),{include_blank: "Seleccione una Ciudad"}, {class: "form-control", id: 'ciudad-ruta-parada-id'}
                    = label :parroquia, :id, class: 'col-md-2 control-label' do
                      Parroquia:
                      %span.fa.fa-asterisk.red
                    .col-md-4
                      = fff.select :parroquia_v_id,options_from_collection_for_select(ParroquiaV.where(municipio_id: (fff.object.parroquia_v_id.nil? || fff.object.parroquia_v_id == 0) ? 0 : fff.object.parroquia_v.municipio.id), :id, :nombre, selected: fff.object.parroquia_v_id), {include_blank: "Seleccione una Parroquia"},
                        {class: "form-control", id: 'parroquia-nueva-parada-id'}
                      = fff.hidden_field :tipo_parada, value: 'Zona o Parada Terminal'
                  .form-group
                    = fff.label :nombre, class: 'col-sm-2 control-label' do
                      Nombre de la Parada:
                      %span.fa.fa-asterisk.red
                    .col-sm-10
                      = fff.text_field :nombre, class: 'form-control'
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to flota_vehiculos_url(@ruta.flota), class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-3.col-sm-offset-6
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }