= render 'shared/info_servicio'
.row
  .col-md-12.col-md-offset-0
    %ul.text-muted.leyenda
      %li.text-justify
        Ingrese los datos solicitados, recuerde seleccionar  el modo de la ruta
      %li.text-justify
        Seleccione Tipo de Parada  como Origen (zona de parada u origen de la ruta)
      %li.text-justify
        Seleccione el Tipo de Terminal y la Ubicación de la Parada o terminal
      %li.text-justify
        Si no encuentra la Parada presione
        %span.amarillo
          Agregar Parada y Ubicación
      %li.text-justify
        Si desea guardar los datos del registro oprima
        %span.azul-oscuro
          Guardar y Continuar
      %li.text-justify
        Si desea regresar a la pantalla de inicio oprima
        %span.azul-claro
          Cancelar
= form_for(@ruta, url: @edit[0] ? ruta_flota_update_path(id: params[:id]) : ruta_flota_create_path(id: params[:id]), html: {id: "ruta_t_id_form", class: 'form-horizontal m-t-md', :multipart => true}) do |f|
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            Nueva Ruta
        .ibox-content
          - if @ruta.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                No se puede guardar la Ruta:
              %ul
                - @ruta.errors.each do |name, message|
                  %li= message
          %br/
          .form-group
            .col-sm-2
              = f.label :num_ruta, class: 'control-label' do
                Número de Ruta:
                %span.fa.fa-asterisk.red
            .col-sm-4
              = f.text_field :num_ruta, value: params[:num].nil? ? f.object.num_ruta : params[:num], class:"form-control"
          .form-group
            = hidden_field_tag :id_to_cookie, params[:id]
            = hidden_field_tag :create_band, true
          .row
            = f.fields_for :toques, f.object.toques.where(prev_id: nil).last do |ff|
              = ff.hidden_field :id
              .col-sm-12
                - if @ruta.flota.servicio_operadora_c.int_urb_p_puesto? || @ruta.flota.servicio_operadora_c.int_urb_colectivo? || @ruta.flota.servicio_operadora_c.sub_urb_colectivo? || @ruta.flota.servicio_operadora_c.sub_urb_p_puesto?
                  %h4
                    Agregue los datos de la Salida de la ruta
                  %br/
                - else
                  %h4
                    Agregue los datos de la Parada
                  %br/
              - if @ruta.flota.servicio_operadora_c.modalidad_servicio == 'taxi'
                = ff.hidden_field :tipo_parada, value: 'Origen'
              - else
                .form-group
                  = ff.label :tipo_parada, class: 'col-sm-2 control-label' do
                    Tipo de Parada:
                    %span.fa.fa-asterisk.red
                  .col-sm-10
                    = ff.select :tipo_parada, options_for_select(['Origen'], selected: 'Origen'),{include_blank: true},{class:"form-control" }
              .form-group
                = ff.label :tipo, class: 'col-sm-2 control-label' do
                  Tipo de Terminal:
                  %span.fa.fa-asterisk.red
                .col-sm-10
                  %label{class: 'checkbox-inline'}
                    = ff.radio_button :tipo, 'terminal_publico', checked: true
                    Terminal Publico
                  %label{class: 'checkbox-inline'}
                    = ff.radio_button :tipo, 'terminal_privado'
                    Terminal Privado
                  %label{class: 'checkbox-inline'}
                    = ff.radio_button :tipo, 'zona'
                    Zona o Parada Terminal
              - if action_name == 'edit'
                .form-group
                  = label :estado, :estado, class: 'col-sm-2 control-label' do
                    Estado:
                  .col-sm-4
                    = hidden_field_tag 'edicion-form', 'edicion'
                    = ff.hidden_field :estado_id, value: ff.object.parada.parroquia_v.municipio.estado.id, id: 'ruta-estado-id'
                    = ff.object.parada.parroquia_v.municipio.estado.nombre
              - else
                .form-group
                  = label :estado, :estado, class: 'col-sm-2 control-label' do
                    Estado:
                    %span.fa.fa-asterisk.red
                  .col-sm-4
                    - sele = ff.object.parada.nil? ? false : ff.object.parada.parroquia_v.municipio.estado.id.to_i
                    = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
                      {selected: sele, include_blank: "Seleccione un Estado"},
                      { class: "form-control", id: 'ruta-estado-id'}
                  .col-sm-2#carga-estado
              .form-group
                = ff.label :parada_id, class: 'col-sm-2 control-label' do
                  Parada:
                  %span.fa.fa-asterisk.red
                .col-sm-8
                  = ff.select :parada_id, options_from_collection_for_select(ff.object.new_record? ? [] : paradas_lista(ff.object.parada.estado.id.to_i,Parada.tipo_paradas[ff.object.tipo]), :id, :nombre, selected: ff.object.parada.nil? ? "": ff.object.parada.id),{include_blank: "Seleccione una Parada"}, {class:"form-control", id: 'parada-ruta-id'}
                .col-sm-2#carga-parada-toque
              #modal-nueva-parada
              .row#boton-nueva-parada
                .form-group
                  .col-md-8.col-md-offset-2
                    %p.text-danger
                      Si no encuentra la ubicación de la parada que desea, puede agregar una nueva ubicación.
                  .col-md-2
                    = link_to 'Agregar Parada', ruta_flota_nueva_parada_path(estado_id: 1), remote: true, class: 'btn btn-success', id: 'link-nueva-ruta'
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              - if params[:show] == "true"
                = link_to ruta_flota_show_url(id: params[:id]), class: "btn btn-info btn-block" do
                  %i.fa.fa-arrow-left
                  Regresar
              - else
                - if @edit[1]
                  = link_to ruta_flota_index_url(id: @ruta.flota), class: "btn btn-info btn-block" do
                    %i.fa.fa-arrow-left
                    Regresar
                - else
                  = link_to flota_vehiculos_url(@ruta.flota), class: "btn btn-info btn-block" do
                    %i.fa.fa-arrow-left
                    Regresar
            .col-sm-6
            .col-sm-3
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Guardar y Continuar" }