.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Rutas de la Flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li
      -#  Flota
      -#%li.text-navy
      -#  %b
      -#    Rutas
.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  .row
    .col-md-12
      .ibox.float-e-margins
        - if @rutas.empty?
          .ibox-content.text-center
            %h3.font-bold No posee Rutas o Paradas registradas
            .error-desc
              ¿Desea agregar una nueva ruta ó parada?
            %br/
            = link_to 'Agregar Nueva Ruta o Parada', ruta_flota_new_path(id: params[:id]), class: 'btn btn-warning'
        - else
          .ibox-content.table-responsive
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Número de Ruta
                  %th
                    Origen
                  %th
                    Destino
                  %th
                    Fecha de autorización
                  %th
                    Opciones
              %tbody
              - @rutas.each do |ruta|
                %tr
                  %td
                    = ruta.num_ruta
                  %td
                    = ruta.toques.find_by(tipo_parada: 'Origen').parada.nombre + ' - ' + ruta.toques.find_by(tipo_parada: 'Origen').parada.ciudad.nombre + ' - ' + ruta.toques.find_by(tipo_parada: 'Origen').parada.estado.nombre rescue link_to 'AGREGAR ORIGEN', paradas_index_path(id: ruta.id)
                  %td
                    = ruta.toques.find_by(tipo_parada: 'Destino').parada.nombre + ' - ' + ruta.toques.find_by(tipo_parada: 'Destino').parada.ciudad.nombre + ' - ' + ruta.toques.find_by(tipo_parada: 'Destino').parada.estado.nombre rescue link_to 'AGREGAR DESTINO', paradas_index_path(id: ruta.id)
                  %td
                    = ruta.fecha_autorizacion.nil? ? "" : ruta.fecha_autorizacion.strftime('%d/%m/%Y')
                  %td
                    - unless @servicio_operadora_c.modalidad_servicio.abreviacion == 'moto_taxi' || @servicio_operadora_c.modalidad_servicio.abreviacion == 'taxi'
                      = link_to paradas_index_path(id: ruta) do
                        %i.fa.fa-plus
                        Agregar Toques a Ruta
                    %br
                    = link_to ruta_flota_edit_path(ruta) do
                      %i.fa.fa-pencil
                      Editar
          %br/
          %br/
          .row
            .col-sm-12
              .ibox.float-e-margins
                .ibox-content
                  .row
                    .col-sm-3
                      = link_to flota_vehiculos_url(@rutas.last.flota), class: 'btn btn-info btn-block' do
                        %i.fa.fa-arrow-left
                        Regresar
                    .col-sm-3.col-sm-offset-1
                      = link_to ruta_flota_new_path(id: params[:id]), class: 'btn btn-warning btn-block' do
                        Agregar Nueva Ruta
                        %i.fa.fa-plus
                    .col-sm-5.text-right
                      = link_to historico_index_path(id: @rutas.last.id, id_from: 'ruta', id_servicio: @rutas.last.flota.servicio_operadora_c), {class: "btn btn-success"} do
                        %i.fa.fa-pencil
                        Actualizar Histórico de Solicitudes


