.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Rutas de la Flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form_taxi', url_param: ruta_flota_create_taxi_path(id: params[:id])