.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Rutas de la Flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  .row
    .col-md-12
      .ibox.float-e-margins
        - if @ruta.empty?
          .ibox-content.text-center
            %h3.font-bold No posee Rutas o Paradas registradas
            .error-desc
              ¿Desea agregar una nueva ruta o parada?
            %br/
            = link_to 'Nueva Ruta o Parada', ruta_flota_new_path(id: params[:id]), class: 'btn btn-warning'
        - else
          .ibox-content
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Número de Ruta
                  %th
                    Fecha de autorización
                  %th
                    Opciones
              %tbody
              - @ruta.each do |ruta|
                %tr
                  %td.text-center
                    = ruta.num_ruta
                  %td.text-center
                    = ruta.fecha_autorizacion.nil? ? "" : ruta.fecha_autorizacion.strftime('%d/%m/%Y')
                  %td.text-center
                    = link_to paradas_show_path(id: ruta.id) do
                      %i.fa.fa-search
                      Consultar Paradas
                    -#- s = ruta.flota.servicio_operadora_c
                    -#- if s.sub_urb_p_puesto? || s.int_urb_p_puesto? || s.sub_urb_colectivo? || s.int_urb_colectivo?
                    -#  %br/
                    -#  = link_to horario_d_consultar_path(id: ruta.id, retorna: true)  do
                    -#    %i.fa.fa-search
                    -#    Consultar Horarios
          %br/
          %br/
          .row
            .col-md-12
              .ibox.float-e-margins
                .ibox-content
                  .row
                    .col-sm-4
                      = link_to "Regresar", servicio_show_path(@ruta.last.flota.servicio_operadora_c), class: 'btn btn-info'
                    .col-sm-4
                    .col-lg-4



