= form_for(@paradas_adm_parada, url: url_param, html: {id: "ubicacion_parada_t_adm", class: 'form-horizontal m-t-md'}) do |f|
  .ibox-content
    - if @paradas_adm_parada.errors.any?
      .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
        %h3
          No se puede guardar el terminal:
        %ul
          - @paradas_adm_parada.errors.each do |name, message|
            %li= message
    %br/
    .form-group
      = label :estado, :estado, class: 'col-sm-2 control-label' do
        Estado:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = collection_select  :estado_id, :nombre, Estado.order(:nombre), :id, :nombre,
          {selected: f.object.parroquia_v.nil? ? false : (f.object.parroquia_v.municipio.nil? ? false : f.object.parroquia_v.municipio.estado.id), include_blank: "Seleccione un Estado"},
          { class: "form-control", id: 'estado-adm-id'}
    .form-group
      = label :municipio, :id, class: 'col-sm-2 control-label' do
        Municipio:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = collection_select :municipio_id, :nombre, Municipio.where(estado_id: f.object.parroquia_v.nil? ? nil : (f.object.parroquia_v.municipio.nil? ? nil : f.object.parroquia_v.municipio.estado.id)).order(:nombre), :id, :nombre,
          {selected: f.object.parroquia_v.nil? ? false : (f.object.parroquia_v.municipio.nil? ? false : f.object.parroquia_v.municipio_id), include_blank: "Seleccione un Municipio"},
          { data: {dynamic_selectable_url: dynamic_select_parroquia_vs_path(':municipio_id'),
          dynamic_selectable_target: '#parada_parroquia_v_id'}, class: "form-control"}
    .form-group
      = f.label :ciudad_id, class: 'col-sm-2 control-label' do
        Ciudad:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = f.select :ciudad_id, options_from_collection_for_select(Ciudad.where(estado_id: f.object.ciudad_id.nil? ? nil : f.object.ciudad.estado.id), :id, :nombre, selected: f.object.ciudad_id.nil? ? nil : f.object.ciudad.id),{include_blank: "Seleccione una Ciudad"}, {class: "form-control", id: 'toque_ciudad_id'}
    .form-group
      = label :parroquia, :id, class: 'col-sm-2 control-label' do
        Parroquia:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = f.select :parroquia_v_id,options_from_collection_for_select(ParroquiaV.where(municipio_id: f.object.parroquia_v.nil? ? 1 : f.object.parroquia_v.municipio.id), :id, :nombre,
          selected: f.object.parroquia_v.nil? ? false : f.object.parroquia_v.id), {include_blank: true},
          {class: "form-control"}
    .form-group
      = f.label :tipo_parada, class: 'col-sm-2 control-label' do
        Tipo de Terminal:
        %span.fa.fa-asterisk.red
      .col-sm-4
        - lista = Hash.new
        - Parada.tipo_paradas.each do |i, val|
          - if i!='zona'
            - lista[val] = i
        = f.select :tipo_parada, options_for_select(lista, selected: f.object.tipo_parada.nil? ? false : f.object.tipo_parada),{include_blank: true},{class:"form-control"}
    .form-group
      = label :nombre, :id, class: 'col-sm-2 control-label' do
        Nombre:
        %span.fa.fa-asterisk.red
      .col-sm-4
        = f.text_field :nombre, class: 'form-control'
        = f.hidden_field :estado_id, id:'parada-adm-estado-id'
    .row
      %hr
      .col-sm-3
        = link_to 'Volver', paradas_adm_paradas_path, class: 'btn btn-warning'
      .col-sm-3.col-sm-offset-3
        = f.submit 'Guardar', class: 'btn btn-success'

