.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-title
        %h3.text-center
          Lista de Terminales
.row
  .col-md-12.text-center
    = link_to 'Agregar Nuevo Terminal', new_paradas_adm_parada_path, class: 'btn btn-success'
%br
.ibox-content
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th.text-center
          Nombre
        %th.text-center
          Estado
        -#%th
        -#  Municipio
        %th.text-center
          Parroquia
        %th{colspan: '3'}
    %tbody
      - @paradas_adm_paradas.each do |paradas_adm_parada|
        %tr
          %td
            = paradas_adm_parada.nombre
          %td
            = paradas_adm_parada.parroquia_v.nil? ? '' : (paradas_adm_parada.parroquia_v.municipio.nil? ? '' : paradas_adm_parada.parroquia_v.municipio.estado.nombre)
          -#%td
            -#= paradas_adm_parada.parroquia_v.nil? ? '' : (paradas_adm_parada.parroquia_v.municipio.nil? ? '' : paradas_adm_parada.parroquia_v.municipio.nombre)
          %td
            = paradas_adm_parada.parroquia_v.nil? ? '' : paradas_adm_parada.parroquia_v.nombre
          -#%td= link_to 'Show', paradas_adm_parada_path(paradas_adm_parada)
          %td
            = link_to edit_paradas_adm_parada_path(paradas_adm_parada) do
              %i{class: 'fa fa-pencil-square-o'}
          %td
            = link_to paradas_adm_parada_path(paradas_adm_parada), method: :delete, data: { confirm: '¿Seguro de eliminar el terminal?' } do
              %i{class: 'fa fa-trash'}
%br
%br

