.row.gray-bg.dashboard-header
  .col-lg-9.col-lg-offset-3
    .text-center.animated.fadeInDown.loginscreen.register-size
      %h1{class: 'logo-name'}
        SIGETT
      %h2 Responde tu pregunta secreta
      %br
      %br

      = form_for resource, as: resource_name, url: password_path(resource_name),
                     html: { method: :post } do |f|

        -unless devise_error_messages!.empty?
          .alert.alert-danger
            = devise_error_messages!
        = f.hidden_field :email , value: @email
        .form-group
          .col-lg-5.control-label.text-navy
            = f.label :pregunta_secreta, '¿ '+@pregunta.upcase+' ?'
          .col-lg-5
            = f.text_field :respuesta, autofocus: true, required:'required',
            value:''
        %br
        %br
        %br
        .form-group
          .col-lg-5.col-lg-offset-5
            = f.submit 'Reestablecer Contraseña',class: 'btn btn-success'
        %br
        %br
        %br

