= form_for(@flota, url: @sociedad_mercantil[0] ? flota_d_update_path : flota_d_create_path, html: {id: "operadora_t_id_form", class: 'form-horizontal m-t-md'}) do |f|
  .row
    .col-md-10
      .ibox.float-e-margins
        .ibox-title
          %h3
            Flota
        .ibox-content
          - if @flota.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                -#= pluralize(@servicio.errors.count, "Error.")
                No se puede guardar la Flota de vehículos:
              %ul
                - @flota.errors.each do |name, message|
                  %li= message
          %br
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Regresar', servicio_edit_path(id: @flota.servicio_operadora_c.id), class: 'btn btn-info btn-block'
            .col-sm-8
            .col-sm-2
              = f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }
