.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Flota de vehiculos
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li.text-navy
      -#  %b
      -#    Flota
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'