.row.gray-bg.dashboard-header
  .col-lg-8.col-lg-offset-4
    .text-center.animated.fadeInDown.loginscreen.login-size
      %div
        %div
          %h1.logo-name SigeTT
      %h3 Bienvenido a SigeTT
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email, 'Correo Electrónico'
          %br/
          = f.email_field :email, class: 'form-control', required: 'required', autofocus: true
        .form-group
          = f.label :password, 'Contraseña'
          %br/
          = f.password_field :password, autocomplete: "off",class: 'form-control', required: 'required'

        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me
            = f.label :remember_me, 'Mantener Conectado'
        .form-group
          = f.submit "Entrar", class: 'btn btn-success btn-block'
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        .form-group
          = link_to "¿Olvido su Contraseña?", new_password_path(resource_name)
      - if devise_mapping.confirmable? && controller_name != 'confirmations'
        .form-group
          = link_to "¿No recibió el correo de confirmación?", new_confirmation_path(resource_name)
      -#- if devise_mapping.registerable? && controller_name != 'registrations'
      -#  %p.text-muted.text-center
      -#    %small
      -#      ¿No tienes una cuenta?
      -#  = link_to "Regístrate!", registro_path, class: 'btn btn-white btn-block'
      -#  %br/
