.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Historico de Solicitudes Aprobadas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  = form_tag(servicio_end_carga_path(servicio: @servicio), {class: 'form-horizontal m-t-md'}) do
    .row
      .col-md-12.col-md-offset-0
        .ibox.float-e-margins
          .ibox-title
            %h3
              PARA FINALIZAR EL PROCESO DE CARGA MASIVA RESPONDA
          .ibox-content
            .row
              .form-group
                %label{ class: 'col-md-9 control-label'}
                  LA FLOTA VEHICULAR ACTUAL ES IGUAL A LA QUE SE ENCUENTRA APROBADA EN SU DT:
                .col-md-3
                  %label{class: 'checkbox-inline'}
                    = radio_button_tag :flota, 's', true
                    SI
                  %label{class: 'checkbox-inline'}
                    = radio_button_tag :flota, 'n'
                    NO
              .form-group
                %label{ class: 'col-md-9 control-label'}
                  LAS RUTAS QUE ACTUALMENTE CUBRE SON LAS QUE SE ENCUENTRAN APROBADAS EN SU CERTIFICADO:
                .col-md-3
                  %label{class: 'checkbox-inline'}
                    = radio_button_tag :ruta, 's', true
                    SI
                  %label{class: 'checkbox-inline'}
                    = radio_button_tag :ruta, 'n'
                    NO
            .row
              %br
              %br
              .col-sm-3
                - if @servicio.sub_urb_p_puesto? || @servicio.int_urb_p_puesto? || @servicio.sub_urb_colectivo? || @servicio.int_urb_colectivo? || @servicio.taxi? || @servicio.moto_taxi? || @servicio.periferico_i? || @servicio.periferico_s?
                  = link_to historico_index_path(id: @servicio.flota.rutas.last.id, id_from: 'ruta', id_servicio: @servicio), class: 'btn btn-info btn-block' do
                    %i.fa.fa-arrow-left
                    Regresar
              .col-sm-3.col-sm-offset-6
                =  button_tag 'Terminar el proceso', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }
