.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Historico de Solicitudes Aprobadas
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  = form_for(@historico_solicitudes_aprob, url: historico_update_path(id_hist: @historico_solicitudes_aprob.id, id: params[:id], id_from: params[:id_from], id_servicio: params[:id_servicio]), html: {id: "historico_t_id_form", class: 'form-horizontal m-t-md',  :multipart => true}) do |f|
    .row
      .col-md-12.col-md-offset-0
        .ibox.float-e-margins
          .ibox-title
            %h3
              = "Nuevo histórico de solicitudes para el servicio de modalidad: "
              %b
                = @historico_solicitudes_aprob.servicio_operadora_c.modalidad_servicio_val
              = "de la operadora "
              %b
                = @historico_solicitudes_aprob.servicio_operadora_c.operadora_transporte_p.razon_social
          .ibox-content
            - if @historico_solicitudes_aprob.errors.any?
              .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
                %h3
                  -#= pluralize(@servicio.errors.count, "Error.")
                  No se puede guardar la Ruta:
                %ul
                  - @historico_solicitudes_aprob.errors.each do |name, message|
                    %li= message
            %br/
            .form-group
              .col-sm-4
                = f.label :tipo_certificacion, class: ' control-label' do
                  Tipo de Trámite Aprobado:
                  %span.fa.fa-asterisk.red
              .col-sm-8
                - if @historico_solicitudes_aprob.servicio_operadora_c.taxi? or @historico_solicitudes_aprob.servicio_operadora_c.moto_taxi? or @historico_solicitudes_aprob.servicio_operadora_c.turismo? or @historico_solicitudes_aprob.servicio_operadora_c.escolar?
                  = f.select :tipo_certificacion, options_for_select([['Renovación de la CPS','renovacion_de_cps'],['Aumento de Cupo','aumento_de_cupo'],['Fusión de Empresas','fusion_de_empresas'],['Cambio de Razón Social','cambio_de_razon_social']], selected: f.object.new_record? ? '' : f.object.tipo_certificacion),{include_blank: true},{class:"form-control" }
                - else
                  = f.select :tipo_certificacion, options_for_select(HistoricoSolicitudesAprob.tipo_certificacions.collect { |text, key| [t(".#{text}"), key] }, selected: HistoricoSolicitudesAprob.tipo_certificacions[@historico_solicitudes_aprob.tipo_certificacion]),{include_blank: true},{class:"form-control" }
            .form-group
              .col-sm-4
                = f.label :fecha_expedicion, class: 'control-label' do
                  Fecha de expedición:
                  %span.fa.fa-asterisk.red
              .col-sm-8.inputGroupContainer
                = f.date_select :fecha_expedicion, start_year: Date.today.year - 60, end_year: Date.today.year, select: f.object.fecha_expedicion.nil? ? '' : f.object.fecha_expedicion, class:"form-control"
                -#= raw '<div class="input-group ' + :fecha_expedicion.to_s + ' date">'
                -#= f.date_select :fecha_expedicion, options = {start_year: Date.today.year - 60, end_year: Date.today.year}, html_options = {class: '',
                                                        id: 'fecha_expedicion',
                                                        :value => f.object.fecha_expedicion.nil? ? '' : f.object.fecha_expedicion,
                                                        :required => 'required' }
                -#{class: 'form-control', value: f.object.fecha_expedicion.nil? ? "" : f.object.fecha_expedicion.strftime('%d/%m/%Y')}#@historico_solicitudes_aprob.fecha_expedicion }
                -#%span.input-group-addon
                -#  %i.fa.fa-calendar
                -#= raw '</div>'
            .form-group
              .col-sm-4
                = f.label :documento_historico, id: 'documento_historico', class: 'control-label' do
                  Certificado digital:
                  %span.fa.fa-asterisk.red
              .col-sm-8
                = render 'session_users/shared/subir_documento_historico', f: f
            .form-group
              .col-sm-4
                = f.label :descripcion, class: 'control-label' do
                  Descripción:
                  %span.fa.fa-asterisk.red
              .col-sm-8
                = f.text_area :descripcion, {class:"form-control" }
                -#= hidden_field_tag :id_retornable, params[:id_from]
                -#= hidden_field_tag :to_toques, params[:from_toques]

          .row
            .col-md-12
              .ibox.float-e-margins
                .ibox-content
                  .row
                    .col-sm-9
                    .col-sm-3
                      = f.submit 'Actualizar Histórico', class: 'btn btn-warning btn-block', data: { disable_with: "Por favor espere..." }

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Históricos
        .ibox-content
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Tipo Certificación
                %th
                  Fecha Expedición
                %th
                  Descripción
                %th
                  Opciones
            %tbody
            -#-puts @historico_solicitudes_aprobs.inspect
            - @historico_solicitudes_aprobs.where.not(id: nil).each do |historico|
              %tr
                %td
                  = historico.tipo_certificacion.nil? ? "" : historico.tipo_certificacion_val
                %td
                  = historico.fecha_expedicion.nil? ? "" : historico.fecha_expedicion.strftime('%d/%m/%Y')
                %td
                  = historico.descripcion
                %td
                  = link_to historico_edit_path(id_hist: historico.id, id: params[:id], id_from: params[:id_from], id_servicio: params[:id_servicio]) do
                    %i.fa.fa-pencil
                    Editar histórico
                  %br/
                  = link_to historico_destroy_path(id_hist: historico.id, id: params[:id], id_from: params[:id_from], id_servicio: params[:id_servicio]), method: :delete, data: { confirm: 'Está seguro?' } do
                    %i.fa.fa-trash-o
                    Eliminar histórico

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to  historico_index_path(id: params[:id], id_from: params[:id_from],from_toques: params[:from_toques], id_servicio: @historico_solicitudes_aprob.servicio_operadora_c), class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Cancelar