.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Histórico de Trámites Aprobados
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  %div{style:"#{@historico_solicitudes_aprobs.first.id.nil? ? "display: none" : ""}", id: "content-index-historico"}
    = render 'form'
    .row
      .col-md-12
        .ibox.float-e-margins
          .ibox-content
            .row
              .col-sm-3
                = link_to historico_verificar_regreso_path(id: params[:id], id_from: params[:id_from], id_servicio: params[:id_servicio]), class: "btn btn-info btn-block", remote: true do
                  %i.fa.fa-arrow-left
                  Regresar
              .col-sm-3.col-sm-offset-6
                = link_to 'Continuar', historico_consulta_path(servicio: @servicio), class: "btn btn-success btn-block", data: { disable_with: "Por favor espere..." }
                -#= f.submit 'Guardar y Continuar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }
  %div{style:"#{@historico_solicitudes_aprobs.first.id.nil? ? "" : "display: none"}", id: "button-index-historico"}
    .wrapper.wrapper-content.animated.fadeInRight.blanco
      .row
        .col-md-12
          .ibox.float-e-margins
            .row
              .col-lg-12.text-center
                %h3
                  ¿Posee usted el histórico documental de
                  las solicitudes de permisología que ha
                  realizado desde el momento en que se otorgó
                  por primera vez la CPS?
                %br/
            .row
              .col-sm-3
                = link_to historico_consulta_path(servicio: @servicio), class: "btn btn-warning btn-block", data: { disable_with: "Por favor espere..." } do
                  %i.fa.fa-times
                  No, continuar
              .col-sm-6
              .col-sm-3
                %a.btn.btn-success.btn-block{href: "#", id: "link-show-historico-list"}
                  %i.fa.fa-check
                  Si!
