.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Historico de Tramites Aprobados
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Históricos
        .ibox-content
          - if @historico_solicitudes_aprobs.any?
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Tipo Certificación
                  %th
                    Fecha Expedición
                  %th
                    Descripción
                  %th
              %tbody
                - @historico_solicitudes_aprobs.where.not(id: nil).each do |historico|
                  %tr
                    %td
                      = historico.tipo_certificacion.nil? ? "" : historico.tipo_certificacion_val
                    %td
                      = historico.fecha_expedicion.nil? ? "" : historico.fecha_expedicion.strftime('%d/%m/%Y')
                    %td
                      = historico.descripcion
          - else
            .ibox-content.text-center
              %h3.font-bold No posee Histórico de Solicitudes Aprobadas
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Regresar', servicio_show_path(id: params[:id]), class: "btn btn-info"
              -#- if params[:from_show] == "true"
              -#  = link_to 'Regresar', servicio_show_path(id: params[:id], retorna: params[:retorna]), class: "btn btn-info"
              -#- else
              -#  = link_to 'Regresar', horario_d_consultar_path(id: params[:id], retorna: params[:retorna]), class: "btn btn-info"
            .col-sm-7
            .col-sm-3
              = link_to root_path, {class: "btn"} do
                %i.fa.fa-home
                Inicio