<% if @horario.errors.count == 0 %>
    <% if @horario.ida %>
        $('#lista-horarios-ida').append('<%= j render('horario_d/horarios_dinamico/parciales/tr_horario', horario: @horario) %>');
    <% else %>
        $('#lista-horarios-regreso').append('<%= j render('horario_d/horarios_dinamico/parciales/tr_horario', horario: @horario)%>');
    <% end %>

<% else %>
    $('#form-horario-nuevo').html('').append('<%= j render('horario_d/horarios_dinamico/parciales/form_horario',horario: @horario, url_path: crear_horario_path) %>');
<% end %>