.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = "Horarios de la ruta"
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li
      -#  Flota
      -#%li
      -#  Ruta
      -#%li
      -#  Horarios
.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  .row
    .col-md-12.col-md-offset-0
      %ul.text-muted.leyenda
        %br/
        %li.text-justify
          Si la ruta posee algún horario o desea agregar una nueva hora presione
          %span.amarillo
            Agregar Nuevo Horario
        %li.text-justify
          Si no tiene horario o desea finalizar el registro de horario, presione
          %span.azul-oscuro
            Continuar
  .row
    .col-md-12
      .ibox-content.text-center
        #nuevo-horario{style: @horarios.empty? ? '' : 'display: none'}
          .col-md-12.text-center
            %h3.font-bold No posee Horarios registrados
          .error-desc
            No posee horarios registrados para esta ruta, puedes crear horas de ida o regreso nuevas.
          %br/
          = link_to 'Agregar Nuevo Horario', horario_d_index_path(id: params[:id]), remote: true, class: 'btn btn-warning', id: 'boton_agregar_horario'
          %br/
        .row{ id: 'form-horario_nuevo', style: @horarios.any? ? '' : 'display: none'}
          = render 'horario_d/horarios_dinamico/parciales/form_horario'
        .row{ id: 'lista-horarios', style: @horarios.any? ? '' : 'display: none'}
          = render 'horario_d/horarios_dinamico/parciales/lista_horarios'

  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to paradas_index_path(id: params[:id]), class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-6
            .col-sm-3
              -#= link_to 'Continuar', ruta_flota_index_path(id: @ruta.flota), class: 'btn btn-success btn-block'
              = link_to 'Continuar', historico_index_path(id: params[:id],id_servicio: @ruta.flota.servicio_operadora_c.id, id_from: 'ruta'), class: 'btn btn-success btn-block'