<% if @toque.errors.count == 0 %>
    <% if @toque.tipo_parada == 'destino'%>
        $('#form-toque').hide();
        $('#existe-destino').show();
    <% else %>
        $('#form-toque').html("<%= j (render 'paradas/toques_dinamico/parciales/form', toque: @toquenuevo, url_ruta: paradas_crear_path(id: @toque.ruta.id)) %>");
        $('#existe-destino').hide();
    <% end %>
    $('#toque_<%= @toque.id %>').html('').append('<%= j render('paradas/toques_dinamico/parciales/td_toque', t: @toque) %>');
<% else %>
    $('#form-toque').html("<%= j (render 'paradas/toques_dinamico/parciales/form', toque: @toque, url_ruta: paradas_actualizar_path(@toque)) %>");
<% end %>