<% if @toque.errors.count == 0 %>
    <% if @toque.tipo_parada == 'destino'%>
        $('#form-toque').hide();
        $('#existe-destino').show();
    <% else %>
        $('#form-toque').show();
        $('#existe-destino').hide();
    <% end %>
    $('#form-toque').html("<%= j (render 'paradas/toques_dinamico/parciales/form', toque: @toquenuevo, url_ruta: paradas_crear_path(id: @toque.ruta.id)) %>");
    $('#table-body-toque tr:first').before('<%= j render('paradas/toques_dinamico/parciales/tr_toque', t: @toque) %>');
<% else %>
    $('#form-toque').html("<%= j (render 'paradas/toques_dinamico/parciales/form', toque: @toque, url_ruta: paradas_crear_path(id: @toque.ruta.id)) %>");
<% end %>