<% if @toque.ruta.toques.where(tipo_parada: "Destino").any? %>
    $('#form-toque').show();
    $('#existe-destino').hide();
<% end %>
$('#form-toque').html("<%= j (render 'paradas/toques_dinamico/parciales/form', toque: @toque, url_ruta: paradas_actualizar_path(@toque)) %>");