$('#form-toque').html("<%= j (render 'paradas/toques_dinamico/parciales/form', toque: @toquenuevo, url_ruta: paradas_crear_path(id: @toque.ruta.id)) %>");
$('#toque_<%= @toque.id %>').remove();
<% if @toque.tipo_parada == 'destino'%>
    $('#form-toque').show();
    $('#existe-destino').hide();
<% end %>