.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Toques/Paradas de la Ruta
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  .row
    .col-md-12
      .ibox-title
        %h3
          Ruta:
          = @ruta.num_ruta
      .ibox-content.border-bottom
        .row#existe-destino{style: @toques.where(tipo_parada: "Destino").any? ? '' : 'display: none'}
          .col-md-12.text-center
            %h4
              La ruta ya posee un destino por lo que no puede agregar más paradas.
            %br
            .text-info
              Si necesita agregar otro toque, y ya ha registrado el destino, debe eliminar el destino
        .row
          .col-md-12#form-toque{style: @toques.where(tipo_parada: "Destino").any? ? 'display: none' : ''}
            = render 'paradas/toques_dinamico/parciales/form', toque: @toque, url_ruta: paradas_crear_path(id: params[:id])
  #modal-nueva-parada
  .row#boton-nueva-parada
    .col-md-12
      .ibox-content.m-b-md.border-bottom
        .form-group
          .col-md-8.col-md-offset-2
            %p.text-danger
              Si no encuentra la ubicación de la parada que deseea, puede agregar una nueva ubicación. ¿Desea Crear una nueva ubicación?
          .col-md-2
            = link_to 'Agregar Parada', paradas_toque_nueva_parada_path(estado_id: @toque.ruta.toques.find_by(tipo_parada: 'Origen').parada.parroquia_v.municipio.estado.id), remote: true, class: 'btn btn-success', id: 'link-nueva-ruta'
        %br
  %br
  %br
  .row
    .col-sm-3
      = link_to ruta_flota_index_path(id: @servicio_operadora_c), class: 'btn btn-info btn-block' do
        %i.fa.fa-arrow-left
        Regresar
    .col-sm-6
    .col-sm-3
      = link_to 'Guardar y Continuar', paradas_verificar_cierre_toque_path(id: params[:id]), class: 'btn btn-success btn-block', remote: true
  %br
  %br
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Toques Registrados en Ruta
        .ibox-content.m-b-md.border-bottom
          .row#lista-toques
            = render 'paradas/toques_dinamico/parciales/tabla_toques', toques: @toques


