$('#modal-nueva-parada').appendTo($('body')).html("<%= j (render 'paradas/toques_dinamico/parciales/modal_nueva_parada') %>");
$('#paradaModal').modal('show');
$('form[data-remote="true"]')
        .on('ajax:before', function(e) {
            var bv = $(e.target).data('bootstrapValidator');
            return (typeof bv == 'undefined') || bv.isValid();
        }).on('success.form.bv error.form.bv', function(e) {
            e.preventDefault();
        });
$('#ubicacion_parada_t_id_form').bootstrapValidator({
    feedbackIcons: {
        valid: 'fa fa-check',
        invalid: 'fa fa-times',
        validating: 'fa fa-refresh'
    },
    live: 'enabled',
    fields: {
        'estado_id[nombre]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el estado de la parada.'
                }
            }
        },
        'municipio_id[nombre]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el municipio de la parada.'
                }
            }
        },
        'parada[ciudad_id]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar la ciudad de la parada.'
                }
            }
        },
        'parada[parroquia_v_id]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar la parroquia de la parada.'
                }
            }
        },
        'parada[tipo_parada]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el tipo de la parada.'
                }
            }
        },
        'parada[nombre]': {
            validators: {
                notEmpty: {
                    message: 'Es necesario indicar el nombre de la parada.'
                }
            }
        }
    }
});