.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Toques/Paradas de la Ruta
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12
      .ibox.float-e-margins
        - if @toques.empty?
          .ibox-content.text-center
            %h3.font-bold No posee Paradas para esta ruta
        - else
          .ibox-content
            %h2
              - if @toques.last.ruta.flota.servicio_operadora_c.int_urb_p_puesto? || @toques.last.ruta.flota.servicio_operadora_c.int_urb_colectivo? || @toques.last.ruta.flota.servicio_operadora_c.sub_urb_colectivo? || @toques.last.ruta.flota.servicio_operadora_c.sub_urb_p_puesto?
                = "Toques guardados para la ruta " + @toques.last.ruta.num_ruta.to_s
              - else
                = "Parada de la ruta " + @toques.last.ruta.num_ruta.to_s
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Tipo de Parada
                  %th
                    Nombre de la Parada
              %tbody
              - @toques.order(:created_at).each do |toque|
                %tr
                  %td.text-left
                    = toque.tipo_parada.humanize.capitalize rescue ''
                  %td.text-left
                    = toque.parada.nombre
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-2
              = link_to 'Regresar', ruta_flota_show_path(id: @toques.last.ruta.id), class: 'btn btn-info'
            .col-sm-8
            .col-sm-2
              = link_to root_path do
                %i.fa.fa-home
                Inicio