<div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
  <div>
    <span class="btn btn-default btn-file">
      <span class="fileinput-new">Copia Digital de la Cédula</span>
      <span class="fileinput-exists">Cambiar Copia Digital</span>
      <%= u.file_field :cedula_imagen,
                       :required => 'required' %>
    </span>
   </div>
</div>