<div class="fileinput fileinput-new input-group" data-provides="fileinput">
  <div class="form-control" data-trigger="fileinput">
    <i class="fa fa-upload fileinput-exists"></i>
    <span class="fileinput-filename">
      <% unless @operadora_transporte_p.errors.any? %>
        <%= (action_name == 'new') ? '' : (f.object.documento_cooperativa.blank? ? '' : f.object.documento_cooperativa.file.filename)%>
      <% end %>
    </span>
  </div>
  <span class="input-group-addon btn btn-default btn-file">
    <span class="fileinput-new">Seleccionar Documento Digital</span>
    <span class="fileinput-exists">Cambiar Documento Digital</span>
    <%= f.file_field :documento_cooperativa %>
  </span>
</div>