<div class="fileinput fileinput-new input-group" data-provides="fileinput">
  <div class="form-control" data-trigger="fileinput">
    <i class="fa fa-upload fileinput-exists"></i>
    <span class="fileinput-filename">
      <% unless @servicio_operadora_c.errors.any? %>
        <%= (action_name == 'new') ? '' : (f.object.dt.blank? ? '' : f.object.dt.file.filename) %>
      <% end %>
    </span>
  </div>
  <span class="input-group-addon btn btn-default btn-file">
    <span class="fileinput-new">Seleccionar Documento Digital</span>
    <span class="fileinput-exists">Cambiar Documento Digital</span>
    <%= f.file_field :dt %>
  </span>
</div>