<div class="fileinput fileinput-new input-group" data-provides="fileinput">
  <div class="form-control" data-trigger="fileinput">
    <i class="fa fa-upload fileinput-exists"></i>
    <span class="fileinput-filename">
      <% unless @operadora_transporte_p.errors.any? %>
        <%= (action_name == 'new') ? '' : (f.object.rif_imagen.blank? ? '' : f.object.rif_imagen.file.filename)  %>
      <% end %>
    </span>
  </div>
  <span class="input-group-addon btn btn-default btn-file">
    <span class="fileinput-new">Copia Digital del Rif</span>
    <span class="fileinput-exists">Cambiar Copia Digital</span>
    <%= f.file_field :rif_imagen %>
  </span>
</div>