.row
  .col-md-12.col-md-offset-0
    .ibox.float-e-margins
      .ibox-content
        = form_for(@horario, url: horario_d_crear_horario_path(id: params[:id]), html: {id: "ubicacion_parada_t_id_form", class: 'form-horizontal m-t-md'}, remote: true) do |f|
          - if @horario.errors.any?
            .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
              %h3
                = pluralize(@horario.errors.count, "error")
                No se pudo guardar el horario:
              %ul
                - @horario.errors.full_messages.each do |message|
                  %li= message
            %br/
          = f.hidden_field :dia, value: 'Todos los Dias'
          .form-group
            = f.label :ida, class: 'col-md-4 control-label' do
              Tipo de horario:
              %span.fa.fa-asterisk.red
            .col-md-4
              .row
                .col-md-5
                  = f.radio_button :ida,  :true, checked: true
                  = f.label :ida
                .col-md-7
                  = f.radio_button :ida, :false
                  = f.label :regreso
          .form-group
            .col-md-12
              = f.label :hora, class: 'col-md-4 control-label' do
                Hora:
                %span.fa.fa-asterisk.red
              .col-md-4
                = f.time_select :hora, {start_hour: 01, end_hour: 23, ampm: true, minute_step: 5}
          .form-group
            .col-md-4.col-md-offset-4
              = f.submit 'Guardar', class: 'btn btn-success btn-block', data: { disable_with: "Por favor espere..." }