.row
  .col-md-6
    %p.text-center.bg-primary
      Ida
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          -#%th
          -#  Dia
          %th
            Hora
          %th
            Opciones
      %tbody#lista-horarios-ida
        - if @horarios.present?
          - @horarios.each do |horario|
            - if horario.ida
              = render 'horario_d/horarios_dinamico/parciales/tr_horario', horario: horario
  .col-md-6
    %p.text-center.bg-primary
      Regreso
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          -#%th
          -#  Dia
          %th
            Hora
          %th
            Opciones
      %tbody#lista-horarios-regreso
        - if @horarios.present?
          - @horarios.each do |horario|
            - if horario.ida == false
              = render 'horario_d/horarios_dinamico/parciales/tr_horario', horario: horario
