%tr{'id' => "ruta_#{@ruta.id}" }
  %td
    .text-center
      = @ruta.num_ruta
  %td
    .text-center
      - @ruta.toques.each do |t|
        = t.parada.estado.nombre
      - if @ruta.ida_vuelta
        Y VICEVERSA
  %td
    .text-center
      - @ruta.horarios.each do |a|
        - if a.ida
          = a.hora.strftime('%I:%M %p')
  %td
    .text-center
      - @ruta.horarios.each do |a|
        - unless a.ida
          = a.hora.strftime('%I:%M %p')
  %td
    .text-center
      = link_to horario_d_eliminar_horario_lista_path(id: @ruta.id), data: { confirm:'¿Está seguro de eliminar el nuevo horario?' }, remote: true  do
        %i.fa.fa-trash-o.fa-2x
