%tr{'id' => "horario_#{horario.id}"}
  -#%td= Horario.dia[horario.dia]
  %td
    = horario.hora.strftime('%I:%M %p')
    -#= Date.parse(horario.hora).strftime('%I:%M %p')
  %td
    = link_to horario_d_eliminar_horario_lista_path(id: horario.id), data: { confirm: '¿Seguro de eliminar en horario en la solicitud de la ruta?' }, remote: true do
      %i.fa.fa-trash.fa-2x