<%= image_tag 'http://s10.postimg.org/ndvlgx7ix/BANNER.png' %>
<h2>
  Bienvenido al SIGETT: <%= @resource.email %>
</h2>
<p> Si ha solicitado un enlace para cambiar su contraseña. Puede realizarlo a través del siguiente enlace. </p>
<p><%= link_to 'Reestablecer contraseña', edit_password_url(@resource,
                                                 reset_password_token: @token) %></p>

<p> Sino lo solicitó, por favor, ignore este mensaje. </p>
<p> Su contraseña no cambiará hasta que acceda al enlace anterior y crear uno nuevo.</p>

<strong>
  Que tengas un buen día.
</strong>
