<%= image_tag 'http://s10.postimg.org/ndvlgx7ix/BANNER.png' %>
<h2>
  Bienvenido al SIGETT: <%= @resource.email %>
</h2>
<p> Su cuenta ha sido bloqueada debido a un número excesivo de intentos de acceso sin éxito. </p>
<p> Haga click en el enlace de abajo para desbloquear su cuenta: </p>

<p><%= link_to 'Desbloquear su cuenta', unlock_url(@resource, unlock_token: @token) %></p>

<strong>
  Que tenga un buen día.
</strong>