-#= form_for [@flota, @vehiculo], url: url_submit do |f|
  = f.fields_for :contrato_arrendamiento do |contrato|
= fields_for ContratoArrendamiento.new, html: {class: 'form-horizontal m-t-md', id: 'form-contrato-arrendamiento'} do |contrato|
  .form-horizontal
    #new_vehiculo
      .row
        .col-md-12
          %hr
          %h4
            Datos del Arrendatario
          .row
            .col-md-12
              %br/
              .row
                .form-group
                  .group
                    = contrato.label :duracion, class:'col-sm-2 control-label' do
                      Año(s) de Duración del Contrato:
                      %span.fa.fa-asterisk.red
                    .col-sm-2
                      = contrato.text_field :duracion, class:'form-control', maxlength: 1, presence: true, disabled: true
                  .group
                    = contrato.label :fecha, class:'col-sm-3 control-label' do
                      Fecha del Contrato:
                      %span.fa.fa-asterisk.red
                    .col-sm-4
                      .form-inline
                        = contrato.date_select :fecha, options = {start_year: Date.today.year - 60, end_year: Date.today.year, disabled: true},
                                    html_options = {class: '',
                                    id: 'fecha_contrato'}
              /# :value => contrato.object.fecha.blank? ? '' : contrato.object.fecha.strftime("%d/%m/%Y")}
              .row
                .form-group
                  .group
                    = contrato.label :tomo, class:'col-sm-2 control-label' do
                      Nº Tomo:
                      %span.fa.fa-asterisk.red
                    .col-sm-2
                      = contrato.text_field :tomo, class:'form-control', maxlength: 3, presence: true, disabled: true
                  .group
                    =contrato.label :folio, class:'col-sm-3 control-label ' do
                      Nº Folio:
                      %span.fa.fa-asterisk.red
                    .col-sm-2
                      = contrato.text_field :folio, class:'form-control', maxlength: 3, presence: true, disabled: true
              .row
                .form-group
                  = contrato.label :notaria, class:' col-sm-2 control-label ' do
                    Notaria:
                    %span.fa.fa-asterisk.red
                  .col-sm-10
                    = contrato.text_field :notaria, class:'form-control', maxlength: 20, disabled: true
          .row
            .col-md-12
              %h4
                Arrendatario
              %hr/
              .form-group
                .group
                  = contrato.label :nombre_arrendatario, class:'col-sm-2 control-label' do
                    Nombre y Apellido/Razón Social:
                    %span.fa.fa-asterisk.red
                  .col-sm-4
                    =contrato.text_field :nombre_arrendatario, class:'form-control', maxlength: 60, disabled: true
                .group
                  = contrato.label :rif_arrendatario, class:'col-sm-2 control-label ' do
                    C.I/RIF:
                    %span.fa.fa-asterisk.red
                  .col-sm-4
                    = contrato.text_field :rif_arrendatario, class:'form-control', disabled: true
                    %h6.text-muted
                      Si la/el CI/RIF es menor a nueve (9) dígitos complete con ceros (0) a la izquierda.
                      %br
                      Formato del documento de identidad VEJPG, Ejemplo: G-123456789
%script{:src => "/js/plugins/input-mask/jquery.inputmask.js" }
%script{:src => "/js/plugins/input-mask/jquery.inputmask.regex.extensions.js" }
:javascript
  jQuery(document).ready(function($) {
    $("#contrato_arrendamiento_rif_arrendatario").inputmask("Regex", {
      regex: "[VEJPGvejpg][-][0-9]{9}"
    });
    $('#contrato_arrendamiento_duracion').inputmask("Regex", {
      regex: "[1-9]{1}"
    });
    $('#contrato_arrendamiento_tomo').inputmask("Regex", {
      regex: "[0-9]{5}"
    });
    $('#contrato_arrendamiento_folio').inputmask("Regex", {
      regex: "[0-9]{5}"
    });
  });
