= render 'shared/info_servicio'
.row
  .col-md-12.col-md-offset-0
    %br/
    %ul.text-muted.leyenda
      %li.text-justify
        Ingrese los datos del RCV del vehículo
      %li.text-justify
        Si posee contrato de arrendamiento ingrese los datos del contrato
      %li.text-justify
        Si desea guardar los datos del registro oprima
        %span.azul-oscuro
          Guardar
      %li.text-justify
        Si desea regresar a la pantalla de inicio oprima
        %span.azul-claro
          Cancelar
.row
  .col-md-12.col-md-offset-0
    .ibox.float-e-margins
      .ibox-title
        %h3
          Vehículos de Flota / Datos de los Vehículos
      .ibox-content
        = form_for( @vehiculo, url: url_submit, html: {id: 'edit_vehiculo'} )  do |f|
          = render 'shared/error_messages', object: f.object, model: 'Vehiculo de Flota'
          = render 'shared/error_messages', object: f.object.contrato_arrendamiento, model: 'Vehiculo de Flota' rescue ''
          -#=f.hidden_field :placa, value: @vehiculo.placa
          -#=f.hidden_field :uso, value: @vehiculo.uso
          -#=f.hidden_field :tipo_unidad, value: @vehiculo.tipo_unidad
          .row
            .col-md-12
              %h3
                Vehículo
              %table.table.table-striped.table-bordered.table-condensed
                %thead
                  %tr
                    %th
                      Placa
                    %th
                      Serial de Carroceria
                    %th
                      Modelo
                    %th
                      Marca
                    %th
                      Año
                  %tbody
                    %tr
                      %td
                        #{@vehiculo.placa}
                      %td
                        #{@vehiculo.s_carroceria}
                      %td
                        #{@vehiculo.modelo}
                      %td
                        #{@vehiculo.marca}
                      %td
                        #{@vehiculo.ano}
                %thead
                  %tr
                    %th
                      Color
                    %th
                      Serial de Motor
                    %th
                      Uso
                    %th
                      Tipo
                    %th
                      Capacidad
                  %tbody
                    %tr
                      %td
                        #{@vehiculo.color}
                      %td
                        #{@vehiculo.serial_motor}
                      %td
                        #{@vehiculo.uso}
                      %td
                        #{@vehiculo.tipo_vehiculo}
                      %td
                        #{@vehiculo.puesto}
                  %thead
                    %tr
                      %th{colspan:3}
                        Propietario
                      %th{colspan:2}
                        C.I/RIF
                    %tbody
                      %tr
                        %td{colspan:3}
                          = @vehiculo.propietario
                        %td{colspan:2}
                          = @vehiculo.identificacion_propietario
          .row
            .col-md-12
              - unless f.object.seguro_vehiculo.nil?
                =f.fields_for f.object.seguro_vehiculo do |seguro|
                  %h3
                    Datos del seguro
                  %hr
                  = render 'seguro/seguro_vehiculos/campos_seguro', f: seguro
          .row
            .col-md-12
              - if @vehiculo.contrato_arrendamiento.nil?
                .checkbox
                  %label
                    = check_box_tag :posee_arrendatario,'', false
                    %h4
                      ¿El vehiculo es arrendado?
                  -#= f.label :tiene_arrendatario, '¿El vehiculo es arrendado?:' do
                  -#  = check_box_tag :posee_arrendatario,'', false
                %div#contenedor-arrendatario{style: 'display: none;'}
                  = render 'contrato_arrendamiento'
              - else
                = fields_for @vehiculo.contrato_arrendamiento do |contrato|
                  = render 'contrato_arrendamiento_nojavascript', contrato: contrato
          %br
          .row
            .col-sm-3
              = link_to flota_vehiculos_url(id: @flota.id), class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Cancelar
            .col-sm-6
            .col-sm-3
              = f.submit 'Guardar', class: "btn btn-success btn-block", data: {disable_with: 'Guardar'}
