.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-title
        %h3
          Ingrese los datos del Vehículo
      .ibox-content
        .row
          .col-md-12
            /= form_for :tramite_vehiculo, method: :get, url: new_flota_vehiculo_path(@flota.id), html:{class:'form-horizontal m-t-mtd'} do |f|
            .form-horizontal.m-t-md
              = hidden_field_tag :f, params[:flota_id], id: 'flota_vehiculos_hi'
              .form-group
                =label_tag :placa, class: 'col-sm-4 control-label' do
                  Placa:
                  %span.fa.fa-asterisk.red
                .col-sm-6
                  =text_field_tag :placa, nil, class: 'form-control mayusculas',  maxlength: 7, id: 'placa_vehiculo'
              .form-group
                =label_tag :s_carroceria, class: 'col-sm-4 control-label' do
                  Serial de Carroceria:
                  %span.fa.fa-asterisk.red
                .col-sm-6
                  =text_field_tag :s_carroceria, nil,class: 'form-control mayusculas', id: 's_carroceria_vehiculo'
              -#.form-group
              -#  =label_tag :ano,'Año:', class: 'col-sm-4 control-label'
              -#  .col-sm-6
              -#    =text_field_tag :ano, nil,class: 'form-control mayusculas',  maxlength: 4, id: 'ano_vehiculo'
              .form-group
                .col-sm-3.col-sm-offset-7
                  /=submit 'Agregar vehículo', class: 'btn btn-success btn-block'
                  %button.btn.btn-success.btn-block#buscar_vehiculo
                    Buscar Vehículo
              %div.text-center#loading_buscar_vehiculo{style:'display:none;'}
                %br
                %br
                %h2 Buscando Vehículo
                %i.fa.fa-circle-o-notch.fa-5x.fa-spin
              #div_buscar_vehiculo