.row
  %hr
  .col-md-10.col-md-offset-1
    - if @vehiculo.ID_USO == 'TL' || @vehiculo.ID_USO == 'TP'
      %h3
        Datos del Vehículo
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th
              Modelo
            %th
              Marca
            %th
              Año
            %th
              Placa
            %th
              Serial de Carroceria
            %th
              Color
            %th
              Capacidad
            %th
              Uso
            %th
              Nro Puestos
            %th
              Tipo
        %tbody
          %tr
            %td
              = @vehiculo.MODELO
            %td
              = Marca.marca(@vehiculo.ID_MARCA)
            %td
              = @vehiculo.ANO
            %td
              = @vehiculo.PLACA
            %td
              = @vehiculo.SERIAL_CARROCERIA
            %td
              = Color.color(@vehiculo.ID_COLOR1)
            %td
              = @vehiculo.CAPACIDAD
            %td
              = @vehiculo.ID_USO
            %td
              = @vehiculo.NRO_PUESTOS
            %td
              = TipoVehiculo.tipo_vehiculo(@vehiculo.ID_TIPO_VEHICULO)
        %thead
          %tr
            %th{colspan:3} C.I./RIF
            %th{colspan:7} Propietario
        %tbody
          %tr
            %td{colspan:3}
              ="#{@propietario.ID_TIPO_IDENTIFICACION}-#{@propietario.NRO_IDENTIFICACION}#{@propietario.DIGITO_RIF}"
            %td{colspan:7}
              ="#{@propietario.PRIMER_NOMBRE} #{@propietario.SEGUNDO_NOMBRE} #{@propietario.PRIMER_APELLIDO} #{@propietario.SEGUNDO_APELLIDO}"
      = form_for Vehiculo.new, url: flota_vehiculos_path(params[:flota_id]), method: :post do |f|
        = f.hidden_field :placa, value: @vehiculo.PLACA, id: 'found_vehiculo_placa'
        = f.hidden_field :s_carroceria, value: @vehiculo.SERIAL_CARROCERIA, id: 'found_vehiculo_s_carroceria'
        = f.hidden_field :ano, value: @vehiculo.ANO, id: 'found_vehiculo_ano'
        = f.hidden_field :flota_id, value: params[:flota_id], id: 'flota_id_found_vehi'
        - if @flota.seguro_vehiculo.nil?
          = f.fields_for f.object.build_seguro_vehiculo do |seguro|
            %hr
            %h4 Datos del Seguro
            = render 'seguro/seguro_vehiculos/campos_seguro', f: seguro
        .row
          .col-md-12
            .checkbox.i-checks
              %label
                = check_box_tag :posee_arrendatario,'', false
                %h4
                  ¿El vehiculo es arrendado?
          %br
          %br
          %br
        .row
          .col-md-12
            %div#contenedor-arrendatario{style: 'display: none;'}
              = render 'contrato_arrendamiento'
        .row
          .col-md-3
            %a.btn.btn-danger.btn-block#found_vehiculo_cancelar
              Cancelar
          .col-md-3.col-md-offset-6
            = f.submit 'Agregar Vehículo', class: 'btn btn-block btn-success', id: 'submit-agregar-vehiculo'
    - else
      %h4.text-center
        El vehículo que busca tiene un uso distinto al servicio que presta, debe realizar el proceso de matriculación.
        .row
          %hr
%script{:src => "/js/plugins/bootstrapValidator/bootstrapValidator.js" }
:javascript
  jQuery(document).ready(function($) {
    $("#found_vehiculo_cancelar").click(function() {
      var html;
      $('#placa_vehiculo').val('')
      $('#s_carroceria_vehiculo').val('')
      $('#ano_vehiculo').val('')
      html = $('#div_buscar_vehiculo');
      return html.empty();
    });
    $('#posee_arrendatario').click(function() {
      if ($("#posee_arrendatario").is(':checked')) {
        $('#contenedor-arrendatario').show();
        $('#contenedor-arrendatario :input').prop("disabled", false);
        $('#contenedor-arrendatario').find('select').prop("disabled", false);
      } else {
        $('#contenedor-arrendatario').hide();
        $('#contenedor-arrendatario :input').prop("disabled", true);
        $('#contenedor-arrendatario').find('select').prop("disabled", true);
      }
    });

    $('#new_vehiculo').bootstrapValidator({
      feedbackIcons: {
        valid: 'fa fa-check',
        invalid: 'fa fa-times',
        validating: 'fa fa-refresh'
      },
      live: 'enabled',
      fields: {
        'vehiculo[seguro_vehiculo][aseguradora_id]': {
          validators: {
            notEmpty: {
              message: 'Aseguradora es Obligatorio'
            }
          }
        },
        'vehiculo[seguro_vehiculo][num_poliza]': {
          validators: {
            notEmpty: {
              message: 'Número de Póliza es Obligatorio'
            }
          }
        },
        'vehiculo[seguro_vehiculo][documento_poliza]': {
          validators: {
            notEmpty: {
              message: 'Póliza Digital es Obligatoria'
            }
          }
        },
        'contrato_arrendamiento[duracion]': {
          group: '.group',
          validators: {
            notEmpty: {
              message: 'Debe indicar los años de duración del contrato'
            }
          }
        },
        'contrato_arrendamiento[tomo]': {
          group: '.group',
          validators: {
            notEmpty: {
              message: 'Debe indicar el numero de Tomo'
            },
            regexp: {
              regexp: /^\d*([1-9]\d*)$/,
              message: 'No puede ser solo 0'
            }
          }
        },
        'contrato_arrendamiento[folio]': {
          group: '.group',
          validators: {
            notEmpty: {
              message: 'Debe indicar el numero de Folio'
            },
            regexp: {
              regexp: /^\d*([1-9]\d*)$/,
              message: 'No puede ser solo 0'
            }
          }
        },
        'contrato_arrendamiento[notaria]': {
          validators: {
            notEmpty: {
              message: 'Debe indicar el numero de notaria'
            }
          }
        },
        'contrato_arrendamiento[nombre_arrendatario]': {
          group: '.group',
          validators: {
            notEmpty: {
              message: 'Debe indicar el Nombre y Apellido/Razón Social'
            }
          }
        },
        'contrato_arrendamiento[rif_arrendatario]': {
          group: '.group',
          validators: {
            notEmpty: {
              message: 'Debe indicar la C.I/RIF'
            }
          }
        }
      }
    });
    $('#aseguradora_id_rif').change(function() {
      return $.ajax({
        type: "POST",
        url: "/asegurador/rif",
        dataType: "JSON",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          id: $('#aseguradora_id_rif').val()
        },
        success: function(data) {
          return $('#seguro_vehiculo_rif').val(data[0]);
        }
      });
    });
  });
