=provide(:title, 'Editar Vehículo')
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Vehículos de la flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

= render 'form',url_submit: flota_vehiculo_path(@flota,@vehiculo)