.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-12
    %h2
      Vehículos de Flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  = render 'shared/error_messages', object: @vehiculo, model: 'Vehiculo de Flota'
  - if @flota.vehiculos.any?
    = render 'form_buscar_vehiculo'
    .row
      .col-md-12.col-md-offset-0
        .ibox.float-e-margins
          .ibox-title
            %h3
              Vehículos Registrados
          .ibox-content
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    Placa
                  %th
                    Año
                  %th
                    Serial Carrocería
                  %th
                    Color
                  %th
                    Marca
                  %th
                    Uso
                  %th
                    Modelo
                  %th
                    Tipo
                  %th
                    Puestos
                  %th
                    Propietario
                  %th
                    C.I/RIF
                  %th
                    Vehículo En arriendo
                  %th{:colspan => '3'}
                    Acciones


              %tbody
                -@flota.vehiculos.each do |vehiculo_inttt|
                  %tr
                    %td
                      = vehiculo_inttt.placa
                    %td
                      = vehiculo_inttt.ano
                    %td
                      = vehiculo_inttt.s_carroceria
                    %td
                      = vehiculo_inttt.color
                    %td
                      = vehiculo_inttt.marca
                    %td
                      = vehiculo_inttt.uso
                    %td
                      = vehiculo_inttt.modelo
                    %td
                      = TipoVehiculo.tipo_vehiculo(vehiculo_inttt.tipo_vehiculo)
                    %td
                      = vehiculo_inttt.puesto
                    %td
                      = vehiculo_inttt.propietario
                    %td
                      = vehiculo_inttt.identificacion_propietario
                    %td.text-center
                      - unless vehiculo_inttt.contrato_arrendamiento.nil?
                        %i.fa.fa-check
                    %td
                      = link_to  flota_vehiculo_path(@flota, vehiculo_inttt), title: 'Ver', rel: 'tooltip' do
                        %i.fa.fa-search
                      = link_to  edit_flota_vehiculo_path(@flota,vehiculo_inttt), title: 'Editar', rel: 'tooltip' do
                        %i.fa.fa-pencil-square-o
                      = link_to  flota_vehiculo_path(@flota,vehiculo_inttt) , method: :delete,
                      data: { confirm:'¿Seguro de borrar Vehiculo de flota?' },  title: 'Eliminar', rel: 'tooltip' do
                        %i.fa.fa-trash-o

  - else
    .row
      .col-md-12.col-md-offset-0
        %ul.text-muted.leyenda
          %li.text-justify
            Por cada vehículo de la flota ingrese la placa del vehículo y presione
            %span.amarillo
              Agregar
          %li.text-justify
            Si desea guardar los datos del registro oprima
            %span.azul-oscuro
              Continuar
          %li.text-justify
            Si desea regresar al pantalla de inicio oprima
            %span.azul-claro
              Regresar
      .row
        .col-md-12.text-center
          %h3.font-bold No posee Vehículos
          .error-desc
            No posee vehículos asociados a la flota, puede registrar sus vehículos ingresando los datos solicitados a continuación.
          %br
    = render 'form_buscar_vehiculo'
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to @url_wizard_prev, class: "btn btn-info btn-block" do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-3.col-sm-offset-6
              = link_to vehiculo_verificar_modalidad_path(id: @flota.id), class: "btn btn-success btn-block", remote: true do
                Guardar y Continuar
              -#= link_to 'Continuar', ruta_flota_index_path(id: @flota.id), class: "btn btn-success pull-right"