=provide(:title, 'Nuevo Vehículo')
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Vehículos de la flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li
      -#%li
      -#  Inicio
      -#%li
      -#  Operadora
      -#%li
      -#  Servicios
      -#%li
      -#  Seguro
      -#%li.text-navy
      -#  %b
      -#    Nuevo Vehículo

= render 'form', url_submit: flota_vehiculos_path(@flota)