.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-12
    %h2
      Vehículos de Flota
    %ol.breadcrumb
      = render_breadcrumbs :tag => :li

.wrapper.wrapper-content.animated.fadeInRight
  = render 'shared/info_servicio'
  .row
    .col-md-12.col-md-offset-0
      .ibox.float-e-margins
        .ibox-title
          %h3
            Vehículos de Flota / Datos del Vehículo
        .ibox-content
          .col-lg-12
            %h3
              Vehículo
          %table.table.table-striped.table-bordered.table-condensed
            %thead
              %tr
                %th
                  Placa
                %th
                  Serial de Carroceria
                %th
                  Modelo
                %th
                  Marca
                %th
                  Año
              %tbody
                %tr
                  %td
                    #{@vehiculo.placa}
                  %td
                    #{@vehiculo.s_carroceria}
                  %td
                    #{@vehiculo.modelo}
                  %td
                    #{@vehiculo.marca}
                  %td
                    #{@vehiculo.ano}
            %thead
              %tr
                %th
                  Color
                %th
                  Serial de Motor
                %th
                  Uso
                %th
                  Tipo
                %th
                  Capacidad
              %tbody
                %tr
                  %td
                    #{@vehiculo.color}
                  %td
                    #{@vehiculo.serial_motor}
                  %td
                    #{@vehiculo.uso}
                  %td
                    #{@vehiculo.tipo_vehiculo}
                  %td
                    #{@vehiculo.puesto}
              %thead
                %tr
                  %th{colspan:3}
                    Propietario
                  %th{colspan:2}
                    C.I/RIF
                %tbody
                  %tr
                    %td{colspan:3}
                      = @vehiculo.propietario
                    %td{colspan:2}
                      = @vehiculo.identificacion_propietario
          %br/
      - if @flota.seguro_vehiculo.nil?
        -#seguro particular
        .row
          .col-md-12.col-md-offset-0
            .ibox.float-e-margins
              .ibox-content
                .col-lg-12
                  %h3
                    Seguro Vehículo
                %table.table.table-striped.table-bordered.table-condensed
                  %thead
                    %tr
                      %th
                        Aseguradora
                      %th
                        Rif
                      %th
                        Número de Póliza
                      %th
                        Fecha de Vencimiento
                    %tbody
                      %tr
                        %td
                          #{@vehiculo.seguro_vehiculo.aseguradora.nombre}
                        %td
                          #{@vehiculo.seguro_vehiculo.aseguradora.rif}
                        %td
                          #{@vehiculo.seguro_vehiculo.num_poliza}
                        %td
                          #{@vehiculo.seguro_vehiculo.fecha_vencimiento}
      - else
        -#seguro colectivo
        .row
          .col-md-12.col-md-offset-0
            .ibox.float-e-margins
              .ibox-content
                .col-lg-12
                  %h3
                    Seguro Vehículo
                %table.table.table-striped.table-bordered.table-condensed
                  %thead
                    %tr
                      %th
                        Aseguradora
                      %th
                        Rif
                      %th
                        Número de Póliza
                      %th
                        Fecha de Vencimiento
                    %tbody
                      %tr
                        %td
                          #{@flota.seguro_vehiculo.aseguradora.nombre}
                        %td
                          #{@flota.seguro_vehiculo.aseguradora.rif}
                        %td
                          #{@flota.seguro_vehiculo.num_poliza}
                        %td
                          #{@flota.seguro_vehiculo.fecha_vencimiento}
            %br/
      - unless @vehiculo.contrato_arrendamiento.nil?
        -#contrato de arrendamiento
        .row
          .col-md-12.col-md-offset-0
            .ibox.float-e-margins
              .ibox-content
                .col-lg-12
                  %h3
                    Contrato de arrendamiento
                %table.table.table-striped.table-bordered.table-condensed
                  %thead
                    %tr
                      %th
                        Año(s) de Duración del Contrato
                      %th
                        Fecha del Contrato
                      %th
                        Nº Tomo
                      %th
                        Nº Folio
                      %th
                        Notaria
                    %tbody
                      %tr
                        %td
                          #{@vehiculo.contrato_arrendamiento.duracion}
                        %td
                          #{@vehiculo.contrato_arrendamiento.fecha}
                        %td
                          #{@vehiculo.contrato_arrendamiento.tomo}
                        %td
                          #{@vehiculo.contrato_arrendamiento.folio}
                        %td
                          #{@vehiculo.contrato_arrendamiento.notaria}
                    %thead
                      %tr
                        %th Nombre / Razón Social Arrendatario
                        %th Identificación Arrendatario
                    %tbody
                      %tr
                        %td
                          #{@vehiculo.contrato_arrendamiento.nombre_arrendatario}
                        %td
                          #{@vehiculo.contrato_arrendamiento.rif_arrendatario}
                  %br/

    .row
      .col-md-12
        .ibox.float-e-margins
          .ibox-content
            .row
              .col-sm-3
                = link_to flota_vehiculos_url(id: @flota.id), class: "btn btn-info btn-block" do
                  %i.fa.fa-arrow-left
                  Regresar
              .col-sm-6
              .col-sm-3
                = link_to  edit_flota_vehiculo_path(@flota,@vehiculo), class: 'btn btn-success btn-block' do
                  %i.fa.fa-pencil-square-o
                  Editar
