-flash.each do |message_type , message|
  .row.flashing_sigett#flashing_sigett
    .col-lg-12
      -unless message_type == 'recaptcha_error'
        %div{class: "alert alert-#{message_type} alert-dismissable alerts-fix"}
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
          %strong
            =message

:javascript
  setTimeout(function() {
      $('#flashing_sigett').fadeOut('fast');
  }, 6000);