%script{:src => "/js/jquery-1.10.2.js" }
%script{:src => "/js/bootstrap.js"}
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
%script{:src => "/js/plugins/metisMenu/jquery.metisMenu.js"}
%script{:src => "/js/plugins/slimscroll/jquery.slimscroll.min.js"}
-#/ Flot
%script{:src => "/js/plugins/flot/jquery.flot.js"}
%script{:src => "/js/plugins/flot/jquery.flot.tooltip.min.js"}
-#%script{:src => "/js/plugins/flot/jquery.flot.spline.js"}
-#%script{:src => "/js/plugins/flot/jquery.flot.resize.js"}
-#%script{:src => "/js/plugins/flot/jquery.flot.pie.js"}
-#/ Peity
-#%script{:src => "/js/plugins/peity/jquery.peity.min.js"}
-#%script{:src => "/js/demo/peity-demo.js"}
/ Custom and plugin javascript
%script{:src => "/js/inspinia.js"}
%script{:src => "/js/plugins/pace/pace.min.js"}
/ jQuery UI
-#%script{:src => "/js/plugins/jquery-ui/jquery-ui.min.js"}
-#/ GITTER
-#%script{:src => "/js/plugins/gritter/jquery.gritter.min.js"}
-#/ EayPIE
-#%script{:src => "/js/plugins/easypiechart/jquery.easypiechart.js"}
-#/ Sparkline
-#%script{:src => "/js/plugins/sparkline/jquery.sparkline.min.js"}
-#/ Sparkline demo data
-#%script{:src => "/js/demo/sparkline-demo.js"}
-#/ ChartJS
-#%script{:src => "/js/plugins/chartJs/Chart.min.js"}