%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.nav-header
        - if session_user_signed_in?
          .dropdown.profile-element
            -#%span
            -#  = image_tag 'schuler.png', class: 'img-circle', alt: 'image', heigth: 50, width: 50
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.clear
                %span.block.m-t-xs
                  - if current_session_user.present?
                    %strong.font-bold= current_session_user.email
                  - else
                    %strong.font-bold= current_session_user.email
                -#%span.text-muted.text-xs.block
                  -#- if current_session_user.role.to_s == 'persona'
                  -#  Usuario SHiMed
                  -#- elsif current_session_user.role.to_s == 'medico'
                  -#  Médico SHiMed
                  %b.caret
              -#%ul.dropdown-menu.animated.fadeInRight.m-t-xs
              -#  %li
              -#    = link_to 'Datos Personales', '#'#personas_perfil_path
              -#  %li.divider
              -#  %li
              -#    = link_to  destroy_session_user_session_path, method: :delete do
              -#      Cerrar Sesión
            -#.logo-element
            -#  SHi
        - if current_session_user.email!='admin@admin.com'
          %li
            = link_to operadora_new_path do
              %i.fa.fa-plus-square-o
              %span.nav-label
                Nueva Operadora
          %li{class: is_active_module('operadora')}
            %li{ class: is_active_action('consultar') }
              = link_to operadora_index_path do
                %i.fa.fa-car
                %span.nav-label
                  Operadoras
            -#%ul.nav.nav-second-level
            -#  - if !current_session_user.usuario.operadora_transporte_ps.empty?
            -#    %li
            -#
            -#    %li{ class: is_active_action('consultar') }
            -#      = link_to operadora_consultar_path do
            -#        %i.fa.fa-search
            -#        %span.nav-label
            -#          Consultar
                -#%li{ class: is_active_action('index') }
                -#  = link_to operadora_index_path do
                -#    %i.fa.fa-pencil
                -#    %span.nav-label
                -#      Actualizar
          %li{class: is_active_module('servicio')}
            %li
              = link_to servicio_index_consulta_path do
                %i.fa.fa-tasks
                %span.nav-label
                  Modalidades
            -#%a
            -#  %i.fa.fa-tasks
            -#  %span.nav-label
            -#    Modalidades
            -#  %span.fa.arrow
            -#%ul.nav.nav-second-level
            -#  - if !current_session_user.usuario.operadora_transporte_ps.empty?
            -#    %li
            -#      = link_to "Consultar", servicio_index_consulta_path(tipo: 'consultar')
            -#    %li
            -#      = link_to "Actualizar", servicio_index_consulta_path(tipo: 'actualizar')
        -else
          %li
            %a{:href => "#"}
              %i.fa.fa-bus
              %span.nav-label Gestión
              %span.fa.arrow
            %ul.nav.nav-second-level
              %li
                = link_to "Gestionar Aseguradoras", asegurador_index_path
              -#%li
              -#  = link_to "Gestionar Toques", paradas_index_path
              -#%li
              -#  = link_to "Gestionar Paradas", paradas_index_ubicacion_path
              %li
                = link_to "Gestionar Terminales", paradas_adm_paradas_path
              %li
                = link_to "Gestionar Modalidades", admin_modalidad_servicios_path
          -#%li
            %a{:href => ""}
              %i.fa.fa-sitemap
              %span.nav-label Estadísticas
              %span.fa.arrow
            %ul.nav.nav-second-level
              %li
                %a
                  Por Modalidad de Servicio
                  %span.fa.arrow
                %ul.nav.nav-third-level
                  %li
                    = link_to "Por Todos los Estados", estadistica_module_vistas_estados_path
                  %li
                    = link_to "Por Municipio", estadistica_module_selector_ano_modalidad_path
                  %li
                    = link_to "Por Parroquias", estadistica_module_selector_parroquias_path
                  %li
                    = link_to "Por Ciudad", estadistica_module_selector_ciudad_path
                  %li
                    = link_to "Por Cupo Autorizado y Vehicular", estadistica_module_modalidad_cupo_autorizado_path
                  %li
                    = link_to "Por Tipo de Unidad Vehicular", estadistica_module_selector_estados_tipo_path
              %li
                %a
                  Por Fechas
                  %span.fa.arrow
                %ul.nav.nav-third-level
                  %li
                    = link_to "Vencimiento de Flotas", estadistica_module_selector_ano_vencimiento_flota_path
                  %li
                    = link_to "Vencimiento de CPS", estadistica_module_selector_ano_vencimiento_cps_path
                  %li
                    = link_to "Proximas a Vencer", estadistica_module_selector_proximas_vencer_flota_path
              %li
                %a
                  Por Estatus
                  %span.fa.arrow
                %ul.nav.nav-third-level
                  %li
                    = link_to "Número de Trámites Realizados", estadistica_module_selector_meses_historicos_path
          -#%li
            %a{:href => ""}
              %i.fa.fa-list
              %span.nav-label Otros
              %span.fa.arrow
            %ul.nav.nav-second-level
              %li
                = link_to "Operadora con igual parada", estadistica_module_form_igual_parada_path
          %li
            %a{:href => ""}
              %i.fa.fa-list
              %span.nav-label Listados
              %span.fa.arrow
            %ul.nav.nav-second-level
              %li
                = link_to "Todas las Operadoras", index_operadora_path
              -#%li
                = link_to "Con rutas iguales", creador_rutas_path
